{{- $CLASS := .class -}}
{{- $ICON := .icon_arg | default .default_icon -}}
{{- if eq .icon_arg false -}}
	{{- $ICON = "" -}}
{{- end -}}
{{- $css_style := .style | default "" -}}
{{- /*  {{- $text := .Inner -}}   */ -}}
{{- $text := .Page.RenderString .Inner -}} 
{{- /*  {{- $inner_lines := len (split (.Inner | markdownify) "\n") -}}   */ -}}
{{- $inner_lines := len (split ($text) "\n") -}} 
<section class='{{- $CLASS -}}' data-text="{{- $ICON -}}" style="{{- $css_style | safeCSS -}}">
{{- if eq $inner_lines 1 -}} 
	<p>{{- $text | markdownify -}}</p>
{{- else -}} 
	{{- $text | markdownify -}} 
{{- end -}}
{{/*  {{- $text | markdownify -}}   */}}
</section>