{{/*  TODO categorys list.html  */}}
{{- /*  DELETE categories  */ -}}
{{ define "main" }}
  {{/*  {{ partial "title.html" . }}  */}}
  <h1>listtttttt ooo</h1>
  <hgroup>
    {{/*  Show total galleries in category's title/name  */}}
    {{$category_count := ""}}
    {{ $categorys_with_at_least_one_page_public := 0 }}
    {{ if eq .Kind "taxonomy" }}
      {{- /*  This takes into account categorys that may have all its galleries private (so they won't display when clicking the category)  */ -}}
      {{- /*  {{$category_count = len .Site.Taxonomies.categorys }}  */ -}}

      {{- /*  This only takes into account for the count the categorys that AT LEAST has one public article  */ -}}
      {{ range $category, $pages_array := .Site.Taxonomies.categories }}
        {{$non_private_pages := where $pages_array.Pages ".Params.private" "ne" true }}
        {{$galleries_with_non_private_pages := where $non_private_pages ".Section" "eq" "galleries" }}
        {{ if gt (len $galleries_with_non_private_pages) 0}}
          {{ $categorys_with_at_least_one_page_public = add $categorys_with_at_least_one_page_public 1 }}
        {{ end }}
      {{ end }}
      {{$category_count = $categorys_with_at_least_one_page_public }}

    {{ else if eq .Kind "term" }}
      {{- /*  {{ $galleries_with_category := where .Site.RegularPages "Params.categorys" "intersect" (slice (.Title | lower)) }}  */ -}}
      {{- /*  {{$category_count = len $galleries_with_category }}  */ -}}
      {{ $category_name := .Title | lower }}
      {{ $pages_with_category := .Pages }}
      {{ $public_galleries_with_category := where (where $pages_with_category ".Params.private" "ne" true) ".Section" "eq" "galleries" }}
      {{ $category_count = len $public_galleries_with_category }}
    {{ end }}
    <h1 class="accent-color">#{{ .Title }} <sup class="text2-color">{{$category_count}}</sup></h1>
  </hgroup>

  {{/*  section.galleries is displayed as grid  */}}
    {{/*  <section>  */}}
    {{ if eq .Kind "term"}}
      {{/*  galleries in a CERTAIN category  */}}
      {{ partial "categories/render-single-category.html" . }}
      
    {{ else if eq .Kind "taxonomy"}}
      {{- /*  {{ partial "categorys/render-categorys-list" . }}  */ -}}
      {{ partial "categories/render-categories-list.html" . }}

    {{ end }}
      
    {{ .Content | markdownify }}


    {{/*  Galleries with the same category  */}}


    {{/*  {{ partial "category-cloud.html" . }}  */}}
{{ end }}
