{{- /*  REFACTOR categories  */ -}}
{{ define "main" }}
  {{/*  {{ partial "title.html" . }}  */}}
  <h1>taxonomy</h1>
  <hr>
  {{ range .Pages }}
  <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
  {{ end }}
  <hr>
  <h1>taxonomy</h1>

  <hgroup>
    {{/*  Show total galleries in tag's title/name  */}}
    {{$tag_count := ""}}
    {{ $tags_with_at_least_one_page_public := 0 }}
    {{ if eq .Kind "taxonomy" }}
      {{- /*  This takes into account tags that may have all its galleries private (so they won't display when clicking the tag)  */ -}}
      {{- /*  {{$tag_count = len .Site.Taxonomies.tags }}  */ -}}

      {{- /*  This only takes into account for the count the tags that AT LEAST has one public article  */ -}}
      {{ range $tag, $pages_array := .Site.Taxonomies.categories }}
        {{$non_private_pages := where $pages_array.Pages ".Params.private" "ne" true }}
        {{- /*  {{$galleries_with_non_private_pages := where $non_private_pages ".Section" "eq" "galleries" }}  */ -}}
        {{$galleries_with_non_private_pages := where (where $non_private_pages ".Section" "eq" "galleries") ".Kind" "eq" "page" }}
        {{ if gt (len $galleries_with_non_private_pages) 0}}
          {{ $tags_with_at_least_one_page_public = add $tags_with_at_least_one_page_public 1 }}
        {{ end }}
      {{ end }}
      {{$tag_count = $tags_with_at_least_one_page_public }}

    {{ else if eq .Kind "term" }}
      {{ $tag_name := .Title | lower }}
      {{ $pages_with_tag := .Pages }}
      {{ $public_galleries_with_tag := where (where $pages_with_tag ".Params.private" "ne" true) ".Section" "eq" "galleries" }}
      {{ $tag_count = len $public_galleries_with_tag }}
    {{ end }}
    {{- /*  <h1 class="accent-color">#{{ .Title }} <sup class="text2-color">{{$tag_count}}</sup></h1>  */ -}}

    {{$total_galleries := len (where .Pages ".Kind" "eq" "page")}}
    {{- if eq .Kind "taxonomy" }}
      {{$total_galleries = $tags_with_at_least_one_page_public }}
    {{- end }}

    {{- /*  {{with .Term}}
    <pre>{{.}}</pre>
    {{end}}  */ -}}

    {{- /*  <h1 class="accent-color">#{{ .Title }} <sup class="text2-color">{{$tag_count}}   - pages len: {{len .Pages}}</sup></h1>  */ -}}
    <h1 class="accent-color">#{{ .Title }} <sup class="text2-color">{{$tag_count}}   - pages len: {{len .Pages}}  -> {{$total_galleries}}</sup></h1>
    {{with .Description}}
    <p>{{. | markdownify}}</p>
    {{end}}
  
  </hgroup>

  {{/*  section.galleries is displayed as grid  */}}
    {{/*  <section>  */}}
    {{ if eq .Kind "term"}}
      {{/*  galleries in a CERTAIN TAG  */}}
      {{ partial "categories/render-single-category.html" . }}
      
    {{ else if eq .Kind "taxonomy"}}
      {{ partial "categories/render-categories-list.html" . }}

    {{ end }}

    <h1>NEW WAY, THE BEST WAY!</h1>

<section class="galleries">
    {{ if eq .Kind "term"}}
      {{ range .Pages }}
        {{ partial "album-card.html" . }}
      {{ end }}
      
    {{ else if eq .Kind "taxonomy"}}
      {{ range .Pages }}
        {{- /*  {{ partial "album-card.html" . }}  */ -}}
        {{- /*  <a class="article-tag big-article-tag" href={{ .RelPermalink }} title="All galleries with hte category <i>{{$category_name}}</i>"><span class="center-text">{{$category_name}}<sup class="tag-count">{{$cnt}}</sup></span></a>  */ -}}
        {{- /*  {{$cnt := "cambia esto" }}  */ -}}
        {{- /*  {{$cnt := len .Pages }}  */ -}}
        {{$cnt := len (where .Pages ".Kind" "eq" "page") }}
        {{- if gt $cnt 0 -}}
          <a class="article-tag big-article-tag" href={{ .RelPermalink }} title="All galleries with hte category <i>{{.LinkTitle}}</i>">
            <span class="center-text">{{.LinkTitle}}
              <sup class="tag-count">{{$cnt}}</sup>
            </span>
          </a>
        {{- end -}}
      {{ end }}
    {{ end }}
    
    
  </section>
  
  <article class="articles-content">
    {{ .Content | markdownify }}
  </article>


      


    {{/*  Galleries with the same tag  */}}


    {{/*  {{ partial "tag-cloud.html" . }}  */}}
{{ end }}
