{{/*  
Renders a text with a blue info box ℹ

Example of use:
{{< info >}}
Inside the tags I can write normal markdown code.

> This would be a quote

# And this a header

And will be rendered normall

---

After separator

And then I close the shortcode
{{< /info >}}
*/}}


{{ $DEFAULT_ICON := "ℹ️" }}
{{ $css_class := "info-background-color" }}
{{ $emoji := (.Get 0) | default $DEFAULT_ICON }}

{{partial "shortcodes_partials/text_box_base.html" (dict "emoji" $emoji "default_emoji" $DEFAULT_ICON "css_class" $css_class "Inner" .Inner ) }}
