
// $articles-description-height: 70px;
$articles-description-height: 90px;
$featured-title-size: 1.4em;
$tag-container-size: 35px;
$info-box-brightness: 50%;
$article-card-hover-brightness: 30%;

sup.total-articles{
	color: var(--text-2);
	font-size: .5em;
}

.featured-article{
	& p{
		// text-wrap: stable;
	}
	// flex-direction: column;
	// margin-left: 0px;
	// padding-left: 0px;
	// width: 70%;
	// display: block;
	// text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--hover-color), 0 0 40px var(--hover-color), 0 0 50px var(--hover-color), 0 0 60px var(--hover-color), 0 0 70px var(--hover-color);
	border: 2px 10px solid $main_color;
	padding: .5em 1em;
	// background-color: pink;
	border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-left: 5px solid $soft_color;

	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	transition: box-shadow .2s;
	height: fit-content;
	& time{
		color: var(--text-2);
		// height: 100%;
		// display: inline-block;
		// position: absolute;
			// height: 30px;
		// margin-top: auto;
		// bottom: 0px;
	}
	&:hover{
		border-left: 5px solid $main_color;
		box-shadow: rgba(0, 0, 0, 0.35) 1.95px 4px 5.6px;

		// @extend .bloom-shadow-text;
		// color: $main_color;

		& .hover-underline-animation::after {
			transform: scaleX(1);
			transform-origin: bottom left;
		  }
	}
}


.featured-article-big{
	// display: flex;
	// flex: 0 0 clamp(20px, 20% 200px);
	// flex: 0 0 clamp(20px, 50px, 200px);
	// flex: 0 0 clamp(250px, 15%, 400px);
	// flex: 0 0 clamp(265px, 15%, 400px);
	flex: 0 0 clamp(250px, 265px, 400px);
	// flex: 0 0 100px;

	// position: inherit;
	overflow: hidden;
	position: relative;
	// width: 100%;
	// height: 100%;
	// height: 50%;
	// width: 300px;
	// height: 300px;
	// flex-direction: column;
	// margin-left: 0px;
	// padding-left: 0px;
	// width: 70%;
	// display: block;
	// text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--hover-color), 0 0 40px var(--hover-color), 0 0 50px var(--hover-color), 0 0 60px var(--hover-color), 0 0 70px var(--hover-color);
	border: 2px 10px solid $main_color;
	// padding: .5em 1em;
	// background-color: pink;
	border-radius: 3px 3px 3px 3px;
	// border-radius: 10px 10px 0 0;

	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	// border-left: 5px solid $soft_color;
	// border-bottom: 5px solid $soft_color;

	// box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	box-shadow: rgba(0, 0, 0, 0.74) 0px 3px 8px;
	// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	transition: box-shadow .2s;
	transition-duration: .7s;
	// transition: transform 1.4s;
	transition: transform .6s;

	max-height: 350px;
	aspect-ratio: 2/2.5;


	.articles-count{
		position: absolute;
		z-index: 1;
		font-weight: 900;
		// right: 0px;
		// top: -20px;
		// padding: 6px 7px;
		padding-bottom: 20px;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		top:0px;
		left:0px;
		transition-duration: .4s;
		height: 40px;
		// background-color: var(--hover-color);
		// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		// opacity: .3;
		border-radius: 4px;
		svg, p, span {
			// opacity: 1.0;
			display: inline-block;
			color: var(--text-2-dark);
			// text-shadow: 2px 2px 2px #0000004f;

			-webkit-filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
  			filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
			// text-shadow: 2px 2px 2px var(--hover-color);
			// text-shadow: 2px 2px 1px var(--hover-color);
			

		}
	}
	.reading-time{
		// color: pink;
		// color: transparent;
		position: absolute;
		z-index: 1;
		font-weight: 900;
		// right: 0px;
		// top: -20px;
		padding: 6px 7px;
		top:0px;
		left:0px;
		transition-duration: .4s;
		height: 30px;
		// transform: translateY(calc(var(--is-article-hovered, 0) * -59px));
		transform: translateY(calc((1 - var(--is-article-hovered, 0)) * -59px));
		opacity: calc(var(--is-article-hovered, 0) * 1.0);
		// transform: translateY(59px);
		svg, p, span {
			display: inline-block;
			color: var(--text-2-dark);
			// display: flex;
			// color: red;
			-webkit-filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
			filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
		}
	}

	// height: fit-content;
	& time{
		color: var(--text-2);
		z-index: 1;
		// height: 100%;
		// display: inline-block;
		// position: absolute;
			// height: 30px;
		// margin-top: auto;
		// bottom: 0px;
		font-weight: 700;
		text-align: center;

	}

	// & img{
	// 	position: relative;
    //     // width: 250px;
    //     // height: 300px;
    //     overflow: hidden;
	// 	transition: all 0.6s;
	// 	&:hover{
	// 		filter: blur(10px);
	// 	}
	// }


	&:hover{
		--is-article-hovered: 1;
		--article-brightness: 100%;
		// border-left: 5px solid $main_color;
		// border-bottom: 5px solid $main_color;
		// box-shadow: rgba(0, 0, 0, 0.35) 1.95px 4px 5.6px;
		// box-shadow: rgba(0, 0, 0, 0.94) 0px 3px 10px;
		box-shadow: rgba(0, 0, 0, 0.94) 0px 5px 10px;

		transition-duration: .2s;

		// filter: blur(5px);

		// @extend .bloom-shadow-text;
		// color: $main_color;

		transform: rotateZ(var(--rand-rotation, 0));
		transition: transform .4s;
		& .image-container {
			filter: brightness(#{$article-card-hover-brightness}) blur(3px);
		}

		& .hover-underline-animation::after {
			transform: scaleX(1);
			transform-origin: bottom left;
		  }
		& img{
			// transform: scale(1.5);
			transform: scale(1.0);
		}
	}


	& .image-container {
		overflow: hidden;
		transition-duration: 1s;

		width: 100%;
		height: 100%;
		
	}
	& .image-container img{
		transition: all .4s;
		// overflow: hidden;
		width: 100%;
		height: 100%;
		// height: 100px;
		// background-color: red;
		object-fit: cover;
		// object-fit: fill;

	}

	& .article-info{
		// background-color: pink;
		// background-color: rgba(59, 59, 59, 0.637);
		// overflow: hidden;
		overflow: visible;
		position: absolute;
		// bottom: 0;
		width: 100%;
		// height: 100%;
		// top: 0;
		// bottom: 0%;
		bottom: calc(var(--is-article-hovered, 0) * #{$tag-container-size});
		// top: 50%;
  		// left: 50%;
		// top: 0;
		// z-index: 1;
		// filter: blur(10px);
		// backdrop-filter: blur(2px);
		// backdrop-filter: blur(2px)  brightness(57%);
		backdrop-filter: blur(2px)
				//  brightness(calc(var(--is-article-hovered, 0) * 57%));
				//  brightness(calc(100% - (1 - (var(--is-article-hovered, 0)) * 40%)));
				 brightness(var(--article-brightness, #{$info-box-brightness}));
				//  brightness(calc(100% - 40%));
		// opacity: calc((1 - var(--is-article-hovered, 0) * 1));
		transition: all .3s;

		// transform: translateY(calc(30px*(1-var(--is-article-hovered, 0))));
		// transform: translateY(calc(30px*(1-var(--is-article-hovered, 0))));
		// transform: translateY(calc((1 - var(--is-article-hovered, 0))*70px));
		// transform: translateY(calc((1 - var(--is-article-hovered, 0)) * (#{$articles-description-height} + #{$featured-title-size})  ));
		// transform: translateY(calc((1 - var(--is-article-hovered, 0)) * (#{$articles-description-height}  )));
		transform: translateY(calc((1 - var(--is-article-hovered, 0)) * (#{$articles-description-height}  )));
		// transform: translateY(calc((1 - var(--is-article-hovered, 0)) * (#{$articles-description-height} + #{$tag-container-size} )));
		// transform: translateY(calc(var(--is-article-hovered, 0)*30px));
		// transform: translateY(calc((1 - var(--is-article-hovered, 0)) * 30px));

		// transform: translateY(calc(2*30px));
		.title{
			// background-color: red;
			// color: red;
			left: 0px;
			text-align: left;
			// margin: 20px 10px;
			margin: 10px 10px;
			font-size: $featured-title-size;

			font-weight: 700;
		}

		.description{
			// color: pink;
			height: $articles-description-height;
			// text-overflow: ellipsis;
			// white-space: nowrap;
			// visibility: hidden;
			// display: none;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3; /* Adjust based on line height */
			-webkit-box-orient: vertical;
			text-align: left;
			// padding-left: 10px;
			padding-left: 5%;
			padding-right: 5%;
			text-wrap: wrap;
		}

		.empty-description{
			display: flex;
			justify-content: center; /* horizontal center */
			align-items: center;     /* vertical center */
			span{
				// background-color:white; 
				// background-color:var(--hover-color); 
				background-color:var(--text-2-dark); 
				color:black; 
				padding:5px 10px; 
				font-weight: 900;
				// box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				// box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
				// box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
				box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 5px;
				border-radius: 4px;
				// box-shadow: rgba(50, 50, 93, 0.95) 0px 50px 100px -20px, rgba(0, 0, 0, 0.93) 0px 30px 60px -30px, rgba(10, 37, 64, 0.95) 0px -2px 6px 0px inset;
				&:hover{
					background-color:var(--hover-color); 
				}
			}
			// margin:auto;
			// text-align: center;
			// display: inline-block;
		}


	}

	.tag-container{
		// display: inline-block;
		// width: 100%;
		// height: 100%;
		// background-color: pink;
		position: absolute;
		// position: relative;
		// height: 50px;
		height: #{$tag-container-size};
		// width: 100%;
		padding-left: 10px;
		// z-index: 2;
		// top: 0px;
		// top: 50%;
		// bottom: 150px;
		// bottom: -40px;
		bottom: 0px;
		a {
			color: var(--text-2-dark);
			// border-color: var(--text-2-dark) !important;
			// border-color: var(--border-dark) !important;
			border-color: var(--border-dark);
			// border-color: red !important;
			&:hover{
				border-color: var(--hover-color) !important;
				color: var(--hover-color) !important;
				
			}
		}

		span {
			position: relative;
			// background-color: red;
			display: inline-block;
		}
		
		.featured-tag{
			font-size: 0.78em;
			margin-right: 3px;
			transition-delay: var(--transition-delay, 0s);
			transition-property: transform;
			// position: absolute;
			// bottom: -20px;
			// left: 0px;
			// background-color: pink;
			transform: translateY(calc(var(--is-article-hovered, 0) * -100px + 100px));
		}
	}

	// & article .article-time-box{
	// article .article-time-box{
	.article-time-box{
		background-color: var(--hover-color);
		// background-color: rgba(var(--hover-color), 100);
		backdrop-filter: blur(7px);
		// overflow: visible;
		// color: pink;
		display: block;
		// width: 30%;
		padding: .8em;
		position: absolute;
		// top: 0;
		// right: 0;
		// transition: transform .3s ease-out;
		// transition: transform .3s cubic-bezier(0,1.95,1,.39);
		// transition: transform .3s cubic-bezier(0,1.95,1,1.2);
		// transition: transform .3s cubic-bezier(.6,.23,.72,1.45);
		// https://cubic-bezier.com/#.25,1.5,.46,.95
		// transition: transform .6s cubic-bezier(.25,1.5,.46,.95);
		// transition: transform .6s cubic-bezier(.25,1.5,.17,.69);
		// transition: transform .4s ease-in-out;
		transition: all .4s ease-in-out;
		transform: translateY(calc((1 - var(--is-article-hovered, 0))*-8em));

		// transition-duration: 10s;
		opacity: calc(var(--is-article-hovered, 0) * 1.0);

		top: 0%;
		right: 0%;
		// border-radius: 0% 100% 0% 100% / 69% 0% 100% 31% ;
		// height: 100%;
		h1,h2,h3{
			color: var(--text-1-dark);
		}
		h1{
			font-size: 1.5em;
			// color:red;
		}
		h3{
			font-size: 1em;
		}
	}

	.article-total-articles{
		@extend .article-time-box;
		transform: translateY(0px);
		// opacity: .5;
		opacity: calc(var(--is-article-hovered, 0.8) * 1.0);
		// border-bottom-left-radius: 20px;
		border-bottom-left-radius: 5px;
		padding: .4em;
		// border-top-left-radius: 20px;
		span, svg{
			color: var(--text-1-dark);
			display: inline-block;
			-webkit-filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
			filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
			font-weight: bold;
			font-size: 1.5em;
		}
	}

	.article-time-simple{
		position: absolute;
		top: 0px;
		right: 0px;
		padding: 6px 7px;
		font-weight: 900;
		// h1{
		// 	font-size: 1.0em;
		// }

		// transform: translateY(calc((1 - var(--is-article-hovered, 0))*-8em));
		// opacity: calc(var(--is-article-hovered, 0) * 1.0);
		transform: translateY(calc((1 - var(--is-article-hovered, 0)) * -59px));
		opacity: calc(var(--is-article-hovered, 0) * 1.0);

		transition-duration: .4s;
	}

	.description{
		color: var(--text-2-dark);
		font-size: 1.125rem;
	}
}

hgroup.featured-articles-container{
	max-width: 1920px;
	width: 90%;
}

.featured-articles-container{
	display: flex;
	flex-direction: column;
	// align-items: end;
	& h2{
		font-size: 2em;
	}
	& h3{
		font-size: 1.2em;
		font-weight: bold;
	}
}

.featured-articles-container section{
	// display: grid;
	// grid-template-columns: repeat(1, minmax(0, 1fr));
	// gap: 2rem 1.5rem;
	// max-width: 1280px;
  
	// @media (min-width: 640px) {
	//   grid-template-columns: repeat(2, minmax(0, 1fr));
	//   row-gap: 3rem;
	// }
  
	// @media (min-width: 1024px) {
	//   grid-template-columns: repeat(3, minmax(0, 1fr));
	// }

	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	// gap: 0px;
	justify-content: center;
	align-content: stretch;
	width: 100%;
}


article.articles-content{
	@extend hgroup;
}


// ARTICLES RIGHT BAR


.articles-right-bar{
	color: var(--text-2);

	width: 250px;
	height: 100vh; /* Full height */
	// position: fixed; /* Stays in place while scrolling */
	// position: sticky;
	top: 45px;
	left: 0;
	// background: #4e4e4e;
	padding: 20px;
		// border-right: 2px solid #ddd;
	// overflow-y: auto; /* Scroll if content overflows */
	// display: none;

	hr{
		// position: absolute;
		width: auto;
		left: 2.5%; /* Adjusted from left: 0 to center */
		right: 2.5%; /* Adjusted from right: 0 to center */
		
		// border-bottom: 1px solid rgba(0,0,0,.08);
		// margin: 2.5em 0;
		margin: 13px 0px;
		// background: linear-gradient(90deg, transparent 0%, var(--separator-color) 20%, var(--separator-color) 50%, var(--separator-color) 80%, transparent 100%);
		// background: var(--separator-color);
		background: var(--separator-color-soft);
		// background: pink;
		// --gradient-color: var(--separator-color);
		// background: linear-gradient(90deg, transparent 0%, var(--gradient-color) 20%, var(--gradient-color) 50%, var(--gradient-color) 80%, transparent 100%);
		height: 1px;
		border: 0;
	}

	.article-tags{
		text-align: center;
		font-weight: 600;
		// font-weight: bold;
	}

	p{
		text-decoration: dotted;
		font-style: italic;
		text-align: center;
	}

	.social-icons{
		// display: flex;
		// padding: 10px 10px;
		// padding: 0px 0px;
		// color:pink;
		// gap: 3px;
		gap: .3rem;
		padding-left: .1rem;
		padding-right: .1rem;
	}

	img{
		border-radius: 9px;
	}
}





// ARTICLES INDEX

.articles-index {
	a{
		// transition-duration: .6s;
		transition-duration: .7s;
	}
	a:hover{
	// color: pink;
	transition-duration: .1s;
	color: var(--hover-color);
	// border-left: 10px double #ff6550;
	}

	ol{
		list-style-type: disc;
		list-style-position: inside;
		// padding-inline-start: 2%;
		padding-inline-start: 15px;

		li::before{
			content: '';
			transition-duration: .3s;
			padding-left: 5px;
			// padding-left: 7px;
			// border-left: 10px double #ff6550;
			// border-left: 5px solid var(--hover-color-soft);
			border-left: 3px solid var(--hover-color);
			opacity: .5;
		}

		li:hover::before{
			content: '';
			transition-duration: .03s;
			padding-left: 5px;
			// padding-left: 10px;
			// border-left: 10px double #ff6550;
			border-left: 5px solid var(--hover-color);
			opacity: 1;
		}

		li{
			list-style-type: none;
			// tab-size: 4;
			// margin: 0px;
			// list-style-position: inside;
			// border-left: #fe9234;
			// border: 1px 2;
			// border-left: 10px double #ff6550;
		}
	}
}



