/* custom.css */
:root {
	/* --hover-color: {{ .Site.Params.colors.hover }}; */
	--hover-color: #fe9234;
	--profile-scale: 1.1;
}


// h1.mi-header,
// h2.mi-header,
// h3.mi-header,
// h4.mi-header,
// h5.mi-header,
// h6.mi-header {
//   font-weight: normal;
//   font-size: inherit;
// }

//   hr:before,hr:after {
	// 	content: '';
	// 	position: absolute;
	// 	bottom:0px;
	// 	height: 5em;
	// 	width: 90%;
	// 	background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 70%);
	// 	z-index:0;
	//   }
	//   hr:after {
		// 	top:0px;
		// 	bottom:auto;
		// 	height: 1.5em;
		// 	background: radial-gradient(ellipse at top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 70%);
		//   }
@media (prefers-color-scheme: dark) {
	hr.full-separator{
		position: absolute;
		width: auto;
		// left: 0;
		// right: 0;
		left: 2.5%; /* Adjusted from left: 0 to center */
		right: 2.5%; /* Adjusted from right: 0 to center */

		border-bottom: 1px solid rgba(0,0,0,.08);
		margin: 2.5em 0;
		// margin-top: -100px;
		// margin-top: -10px;
		// margin-bottom: -10px;
		// width: 95%;
		// display: block;
		// background: linear-gradient(to right, red, yellow);
		// background: linear-gradient(to right, rgba(0, 0, 0, 0), white, rgba(255, 0, 0, 0));
		// background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255, 255, 255, 0.479) 50%, rgba(0,0,0,0) 100%);
		// background: linear-gradient(90deg, transparent 0%, rgba(255, 0, 0, 0.479) 50%, transparent 100%);
		// background: linear-gradient(90deg, transparent 0%, var(--hover-color) 50%, transparent 100%);
		// background: linear-gradient(90deg, transparent 0%, #f0f0f025 50%, transparent 100%);
		// background: linear-gradient(90deg, transparent 0%, #f0f0f062 50%, transparent 100%);
		background: linear-gradient(90deg, transparent 0%, #f0f0f062 20%, #f0f0f062 50%, #f0f0f062 80%, transparent 100%);
		// background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.4) 45%, rgba(255,255,255,0.4) 55%, rgba(0,0,0,0) 100%);
		// background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 0, 0, 1), rgba(0, 0, 0, 0));
		height: 2px;
		border: 0;

	}
}

@media (prefers-color-scheme: light) {
	hr.full-separator{
		position: absolute;
		width: auto;
		left: 2.5%; /* Adjusted from left: 0 to center */
		right: 2.5%; /* Adjusted from right: 0 to center */

		border-bottom: 1px solid rgba(0,0,0,.08);
		margin: 2.5em 0;
		background: linear-gradient(90deg, transparent 0%, #000000b4 20%, #000000b4 50%, #000000b4 80%, transparent 100%);
		height: 1px;
		border: 0;
	}
}

.selected-breadcrumb {
	// color: #fd0000;
	color: var(--hover-color);
}

#breadcrumbs {
	// colorgb(100, 100, 100)3a3;
	font-style: italic;
	color: #6b6b6b;
	margin-top: 0px;
	padding-top: 0px;
	&>a:hover{
		// color: pink;
		text-decoration: underline;
		color: var(--text-2);
	}
}

section.social-icons svg:hover {
	color: var(--hover-color);
}

blockquote {
	/* TODO cambiar style blockquote */
	// IDEAS https://getcssscan.com/css-box-shadow-examples
	border-left: 10px solid var(--hover-color);
	padding-left: 10px;
}

#szk_pfp {
	/* height: 100px; */
	// height: 30vh;
	height: 30vh;
	/* height: 130vh; */
	border-radius: 50%;
	// padding-left: 100px;
	/* background-color: red; */

	// ROTATION TEST
	// overflow: hidden;
    // transition-duration: 10.5s;
    // transition-property: transform;
}

#szk_pfp:hover {
	// -webkit-box-shadow:0px 0px 41px 0px var(--hover-color);
	// -moz-box-shadow: 0px 0px 41px 0px var(--hover-color);
	// box-shadow: 0px 0px 41px 0px var(--hover-color);

	-webkit-box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);
	-moz-box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);
	box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);

	// ROTATION TEST
	// transform: rotate(360deg);
    // -webkit-transform: rotate(2*360deg);

	transform:scale(1.1);
	animation: scaleAnim 0.1s ease 0s 2 alternate both;
}

#szk_pfp::not(:hover) {
	animation: scaleAnim2 0.1s ease 0s 1 alternate both;
}

nav.categories ul li a:hover {
	color: var(--hover-color);
	border: 1px solid var(--hover-color);
	font-weight: bold;
}

.description-link {
	color: var(--hover-color);
	&:hover{
		font-weight: bold;
	}
}


@keyframes scaleAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(var(--profile-scale));
	}
}

@keyframes scaleAnim2 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(var(--profile-scale));
	}
}

// .profile-resume a:hover {
// 	// background-color: red;;
// 	color: var(--hover-color);
// 	font-weight: lighter;
// }

// Links at the profile-resume (at index)
.profile-resume a {
	// background-color: pink;
	// font-weight: bold;
	color: var(--hover-color);
	&:hover {
		// background-color: red;;
		// color: var(--hover-color);
		// font-weight: bold;
		text-decoration: underline;
	}
}
// .profile-resume a {
// 	// background-color: pink;
// 	// font-weight: bold;
// 	text-decoration: underline;
// 	&:hover {
// 		color: var(--hover-color);
// 		// background-color: red;;
// 		// color: var(--hover-color);
// 		// font-weight: bold;
// 	}
// }
