/* custom.css */
@import "fonts";
// *{
// 	transition: background-color .5s;
// }

:root {
	/* --hover-color: {{ .Site.Params.colors.hover }}; */
	--hover-color: #fe9234;
	
	--pfp-color-light: #ff3300;
	--pfp-color2-light: #008cff;
	--pfp-color-dark: #ff00d4;
	--pfp-color2-dark: #00ff22;

	--hover-color-soft: #a0612a;
	--profile-scale: 1.1;
	--articles-side-margin: 20px;

	--separator-color-light: #000000b4;
	--separator-color-dark: #f0f0f062;
	--separator-color-soft-light: #8f8e8e6e;
	--separator-color-soft-dark: #8d8d8d41;

	--separator-color: var(--separator-color-light);
	--separator-color-soft: var(--separator-color-soft-light);

	--pfp-color: var(--pfp-color-light);
	--pfp-color2: var(--pfp-color2-light);


	// KBD element
	--kbd-color-background: #616161;
	--kbd-color-background-hover: #6e6e6e;
	--kbd-color-border: rgb(66, 66, 66);
	--kbd-color-text: rgba(228, 228, 228, 0.89);

	--soft-text-dark: #424242;
	--soft-text-light: #c5c5c5;

	--tablerow-bg-color1-light: #f3f3f3;
	--tablerow-bg-color2-light: #e4e4e4;
	--tablerow-bg-color1-dark: #30303088;
	--tablerow-bg-color2-dark: #1C1C1C;
	--tablerow-bg-color1: var(--tablerow-bg-color1-light);
	--tablerow-bg-color2: var(--tablerow-bg-color2-light);

	--shadow-color-light: #1a1a1abb;
	--shadow-color-dark: #000000;
	--shadow-color: var(--shadow-color-light);
}

/*#region Theme colors*/
// This was before, when there was not theme toggle button (DEPRECATED)
@media (prefers-color-scheme: dark) {
	:root {
		--separator-color: var(--separator-color-dark);
		--separator-color-soft: var(--separator-color-soft-dark);
	  }
}
// @media (prefers-color-scheme: light) {
// 	:root {
// 		--separator-color: var(--separator-color-light)
// 	}
// }


html.dark {
	--separator-color: var(--separator-color-dark);
	--separator-color-soft: var(--separator-color-soft-dark);

	--pfp-color: var(--pfp-color-dark);
	--pfp-color2: var(--pfp-color2-dark);

	--soft-text: var(--soft-text-dark);

	--tablerow-bg-color1: var(--tablerow-bg-color1-dark);
	--tablerow-bg-color2: var(--tablerow-bg-color2-dark);
	--shadow-color: var(--shadow-color-dark);
}

html.light {
	// --hover-color: #0004ff;
	--separator-color: var(--separator-color-light);
	--separator-color-soft: var(--separator-color-soft-light);
	
	--pfp-color: var(--pfp-color-light);
	--pfp-color2: var(--pfp-color2-light);
	
	--soft-text: var(--soft-text-light);

	--tablerow-bg-color1: var(--tablerow-bg-color1-light);
	--tablerow-bg-color2: var(--tablerow-bg-color2-light);
	--shadow-color: var(--shadow-color-light);
}

/*#endregion Theme colors*/


html.light .debug{
	color: rgb(255, 47, 47);
}
html.dark .debug{
	color: greenyellow;
}

.text1-color{
	color: var(--text-1);
}
.text2-color{
	color: var(--text-2);
}

.light1-color{
	color: var(--text-1-dark);
}
.light2-color{
	color: var(--text-2-light);
}

.center-text{
	// text-align: center;
	// display: block;

	// margin: auto;
	// position: absolute;
	// right: 50%;

	display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically if needed */
}

.big-article-tag{
	font-size: 1.4em;
}


.accent-color{
	color: var(--hover-color);
}

.hover-accent-color:hover{
	color: var(--hover-color);
}

.hover-underline:hover{
	text-decoration: underline;
}

.super-bold{
	font-weight: 900;
}

sup.tag-count{
	font-weight: 900;
	font-size: .6em;
	color: var(--text-2);
	margin-left: 3px;
	margin-bottom: 10px;
}

.article-card{
	padding: 15px 15px;
	border-radius: 15px;
	// -webkit-box-shadow: -1px 2px 15px -1px rgba(0,0,0,0.75);
	// -moz-box-shadow: -1px 2px 15px -1px rgba(0,0,0,0.75);
	// box-shadow: -1px 2px 15px -1px rgba(0,0,0,0.75);
	
	-webkit-box-shadow: -1px 6px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 6px 15px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 6px 15px 0px rgba(0,0,0,0.75);
	border: 3px solid var(--hover-color-soft) ;
	&:hover{
		// margin-top: 3px;
		-webkit-box-shadow: -1px 6px 15px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 6px 15px 0px rgba(0,0,0,0.75);
		box-shadow: -1px 6px 15px 0px rgba(0,0,0,0.75);
		
		border: 3px solid var(--hover-color) ;
	}
}

.article-card h1{
	font-size: 1.3em;
}


/*#region article card internet*/
// https://codepen.io/Cowl88/pen/EaxmYap
// * {
//   box-sizing: border-box;
// }

// body {
//   display: grid;
//   place-items: center;
//   min-height: 100vh;
// }


// TODO cambiar el nombre, las cards de las galleries también tienen esta clase y fastidia su visualización
// .card {
.card-article {
//   --blur: 16px;
  --blur: 10px;
//   --size: clamp(300px, 50vmin, 600px);
  --size: clamp(400px, 50vmin, 600px);
//   width: var(--size);
  width: 100%;
  aspect-ratio: 4 / 3; // previous
//   aspect-ratio: 4 / 5;
//   aspect-ratio: 3 / 3;
//   aspect-ratio: 3 / 3;
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  color: #000;
//   color: var(--hover-color);
  transform: translateZ(0);

//   box-shadow:  5px 15px -5px #000000

box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
// transition: all 200ms;
// transition: all 1200ms;
// transition: all 500ms;
transition: all 300ms;
}

.card-article:hover {
	transform: translateY(-10px);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
//   transform: scale(calc(1 + (var(--hover, 1) * 0.25))) rotate(calc(var(--hover, 0) * -5deg));
  transform: scale(calc(1 + (var(--hover, 3) * 0.25))) rotate(calc(var(--hover, 0) * -7deg));
  transition: transform 0.2s;
}

.card__footer {
  line-height: 1.1;
//   padding: 0 1.5rem;
  padding: 1.5rem 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;
  display: grid;
//   grid-template-row: auto auto;
  gap: 0.5ch;
//   background: hsl(0 0% 100% / 0.5);
//   background: hsl(0, 0%, 100% / 0.5);
//   background: hsla(0, 0%, 100%, 0.5);
  background: hsla(0, 0%, 17%, 0.5);
//   background: hsla(41, 100%, 50%, 0.5); // previous
//   backdrop-filter: blur(var(--blur));
//   backdrop-filter: blur(4px) brightness(1.17) contrast(159%) grayscale(70%);
//   backdrop-filter: blur(5px) contrast(159%) ;
  backdrop-filter: blur(10px) contrast(159%) ;
//   backdrop-filter: blur(10px);
//   filter: blur(var(--blur));
// background: rgb(0,0,0);
// background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6110644941570378) 33%, rgba(255,255,255,0) 95%); 
// background: rgba(0,0,0,1);
// -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
// mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
// mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
// mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 100%);
// background: linear-gradient(0deg, rgba(0,0,0,.9) 0%, rgba(0,0,0,0.6110644941570378) 51%, rgba(0,0,0,0) 100%); 
background: linear-gradient(0deg, rgba(0,0,0,1.0) 0%, rgba(0,0,0,0.6110644941570378) 20%, rgba(0,0,0,0) 100%); 
//   height: 30%;
//   height: 35%;
//   height: 45%;
  height: 65%;
  align-content: center;
}

.card__action {
  position: absolute;
  aspect-ratio: 1;
  width: calc(var(--size) * 0.15);
//   width: 20%;
  bottom: 30%;
  right: 1.5rem;
  transform: translateY(50%)
    translateY(
      calc(
        (var(--size) * 0.4)
      )
    )
    translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
  background: purple;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
//   background: hsl(0 0% 100% / 0.5);
//   background: hsl(0, 0%, 100% / 0.5);
  background: hsla(0, 0%, 100%, 0.5);
	backdrop-filter: blur(calc(var(--blur) * 0.5));
  transition: transform 0.2s;
}

.card__date svg{
	display: inline-block;
}

.card__title{
	line-height: 1.1;

	position:absolute;
	padding-left: 20px;
	padding-right: 15px;
	bottom: 20%;
	font-size: 2em;
	text-shadow: 0px 3px 4px #000;
}

.card__date{
	// color: var(--text-2-dark);
	// color: var(--hover-color-soft);
	position: absolute;
	// color: white;
	z-index: 0;
	// top: 0px;
	bottom: 0px;
	// right: 0px;
	left: 0px;
	padding-top: 10px;
	// padding-left: 10px;
	// padding-left: 10px;
	padding-left: 10%;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 1.2em;
	// background-colorgba(254, 146, 52, 0.377)234;
	// background-color: #fe92346e;
	// backdrop-filter: blur(calc(var(--blur) * 0.5));
	// border-radius: 0% 100% 0% 100% / 10% 0% 100% 90% ;

	// height: 100%;
}

.card__action svg {
  aspect-ratio: 1;
//   width: 50%;
  width: 70%;
  position: absolute;
}

.card__action time{
	position: absolute;
	bottom: -1px;
}

.card__footer span:nth-of-type(1) {
	font-size: calc(var(--size) * 0.065);
	position: absolute;
	padding-left: 10px;
}

.card__footer span:nth-of-type(2) {
  font-size: calc(var(--size) * 0.035);
}

.card-article:is(:hover, :focus-visible) {
  --hover: 1;
}
/*#endregion article card internet*/



// hgroup.articles-content > p:first-child {
// Indentation for the first paragraph in the article
hgroup.articles-content > p:first-of-type {
// hgroup.articles-content p {
	// text-indent: 20px; /* Adjust the indentation as needed */
	text-indent: 30px; /* Adjust the indentation as needed */
}

hgroup.articles-content{
// hgroup.articles-content *{
	position: relative;
	& p, li{
		color: var(--text-2);
	}
	// -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	// -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	// box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	
	
	// -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	// -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	// box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	
	// -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
	// -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
	// box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.3);
	// padding-left: var(--articles-side-margin);
	// padding-right: var(--articles-side-margin);
	// padding-top: calc(var(--articles-side-margin)/2);

	// border-top: 10px solid var(--hover-color);
}

// hgroup.articles-content h1::after{
	// content: " ]";
// }

#article-title{
	text-align: center;
    border-bottom: 0px solid transparent;
}
html.light #article-title{
	// text-shadow: 1px 3px 3px #4b4b4b;
	// text-shadow: 0px 3px 3px var(--text-2);
	text-shadow: 
				0px 3px 3px var(--text-2);
	font-weight: 900;
	// -webkit-text-fill-color: transparent;
	// -webkit-text-fill-color: var(--text-2);
  	// -webkit-text-stroke: 2px;


	// text-shadow: 1px 1px 1px #4b4b4b,
    //          1px 2px 1px #4b4b4b,
    //          1px 3px 1px #4b4b4b,
            //  1px 4px 1px #4b4b4b,
            //  1px 5px 1px #4b4b4b,
            //  1px 6px 1px #4b4b4b,
            //  1px 10px 5px rgba(16, 16, 16, 0.5),
            //  1px 15px 10px rgba(16, 16, 16, 0.4),
            //  1px 20px 30px rgba(16, 16, 16, 0.3),
            //  1px 25px 50px rgba(16, 16, 16, 0.2);
	// font-size: 70px;
	// font-weight: 600;
	// color: #fdfdfe;
	// text-shadow: 0px 0px 5px var(--hover-color), 0px 0px 10px var(--hover-color), 0px 0px 10px var(--hover-color),
	// 	0px 0px 20px var(--hover-color);
}
html.dark #article-title{
	// text-shadow: 1px 3px 3px #4b4b4b;
	// text-shadow: 0px 3px 3px var(--text-2);
	text-shadow: 0px 1px 3px var(--hover-color),
				0px 1px 5px var(--hover-color);
	font-weight: 900;
	// -webkit-text-fill-color: transparent;
	// -webkit-text-fill-color: var(--text-2);
  	// -webkit-text-stroke: 2px;


	// text-shadow: 1px 1px 1px #4b4b4b,
    //          1px 2px 1px #4b4b4b,
    //          1px 3px 1px #4b4b4b,
            //  1px 4px 1px #4b4b4b,
            //  1px 5px 1px #4b4b4b,
            //  1px 6px 1px #4b4b4b,
            //  1px 10px 5px rgba(16, 16, 16, 0.5),
            //  1px 15px 10px rgba(16, 16, 16, 0.4),
            //  1px 20px 30px rgba(16, 16, 16, 0.3),
            //  1px 25px 50px rgba(16, 16, 16, 0.2);
	// font-size: 70px;
	// font-weight: 600;
	// color: #fdfdfe;
	// text-shadow: 0px 0px 5px var(--hover-color), 0px 0px 10px var(--hover-color), 0px 0px 10px var(--hover-color),
	// 	0px 0px 20px var(--hover-color);
}

hgroup.articles-content li{
	font-size: 1.125rem;
	// line-height: 1.5556;
}

hgroup.articles-content h1{
// hgroup.articles-content h1:not(:first-child){
	// border-bottom: 10px solid #ff6550;
	// border-bottom: 2px solid var(--hover-color);
	// border-bottom: 2px solid linear-gradient(90deg, transparent 0%, var(--separator-color) 20%, var(--separator-color) 50%, var(--separator-color) 80%, transparent 100%);
	// border-top: 3px solid var(--hover-color);
	// border-left: 3px solid var(--hover-color);
	// border-right: 3px solid var(--hover-color);


	// text-align:center;
    border-bottom: 2px solid transparent;
	// border-image: linear-gradient(0.25turn, rgb(255,249,34), rgb(255,0,128), rgba(56,2,155,0));
	// border-image: linear-gradient(0.25turn, rgba(0, 0, 0, 0), var(--hover-color), rgba(0, 0, 0, 0));
	// border-image: linear-gradient(0.25turn, transparent 0%, var(--hover-color) 5%, var(--hover-color) 70%, transparent 100%);
	// border-image: linear-gradient(0.25turn, transparent 0%, var(--hover-color) 0%, var(--hover-color) 70%, transparent 100%);
	border-image: linear-gradient(0.25turn, transparent 0%, var(--hover-color) 0%, var(--hover-color) 70%, transparent 100%);
    border-image-slice: 1;
    width:100%;

}
// hgroup.articles-content h1.no-bottom-decoration {
//     border-image-slice: 0;
//     // border-bottom: 32px solid transparent;
// 	// border-image: none;

// }

hgroup.articles-content h1{
	font-size: 2.2em;
	// font-weight: 900;
	
} 
hgroup.articles-content h2{
	font-size: 1.9em;
	// font-weight: 900;
}
hgroup.articles-content h3{
	font-size: 1.55em;
	// font-weight: 700;
	// margin-top: 0.901em;
	// margin-bottom: 0.0em;
}
hgroup.articles-content h4{
	font-size: 1.33em;
	// font-weight: 700;
	// margin-top: 0.901em;
	// margin-bottom: 0.0em;
}
hgroup.articles-content h5{
	font-size: 1.13em;
	// font-weight: 700;
	// margin-top: 0.901em;
	// margin-bottom: 0.0em;
}
hgroup.articles-content h6{
	font-size: 1.04em;
	// font-weight: 900;
	// margin-top: 0.901em;
	// margin-bottom: 0.0em;
}



hgroup.articles-content h1, 
hgroup.articles-content h2,
hgroup.articles-content h3,
hgroup.articles-content h4,
hgroup.articles-content h5,
hgroup.articles-content h6
{
	text-align: left;
	// display: grid;
	// align-items: start;
	width: 100%;
	color: var(--text-1);
	font-weight: bold;

	// margin-top: 1.901em;
	margin-top: 0px;
	// margin-bottom: 0.0em;
	margin-bottom: 0px;

	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// gap: 1.5rem;
	// margin: 0 auto 3rem;
	// padding-right: 1.5rem;
	// padding-left: 1.5rem;
	// max-width: 1024px;
	// text-align: center;


	// display: inline-table;
	// display: block;
	// text-align: left;
	// position: inherit;
}
// hgroup.articles-content::before{
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 5px;
// 	height: 100%;
// 	background: linear-gradient(to bottom, var(--hover-color), transparent);
// }
// hgroup.articles-content::after{
// 	content: '';
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	width: 5px;
// 	height: 100%;
// 	background: linear-gradient(to bottom, var(--hover-color), transparent);
// }


hgroup.articles-content p.centered-text{
	text-align: center;
}

/*#region fixed header and menu*/
// NOTE commented since I personally think that it takes space, and that means having less space for the content.
// And since the page is meant to be a portfolio, being able to perfectly see the content comes before than being able to navigate the site fast.
// Also, is not that there would be lots of pages or anything to need that handy absolute header.

// header{
// 	position: fixed;
// 	// background-color: pink;
// 	background-color: var(--surface-1);
// 	z-index: 1;
// 	padding-top: 10px;
// 	max-height: 10px;
// }

// menu#menu{
// 	z-index: 2;
// 	position: fixed;
// 	background-color: var(--surface-1);
// 	// background-color: var(--surface-2);
// 	// padding-top: 100px;
// 	margin-top: 60px;
// 	// width: 100%;
// 	max-width: none;

// }

// main{
// 	padding-top: 80px;
// }
/*#endregion fixed header and menu*/


// h1.mi-header,
// h2.mi-header,
// h3.mi-header,
// h4.mi-header,
// h5.mi-header,
// h6.mi-header {
//   font-weight: normal;
//   font-size: inherit;
// }

//   hr:before,hr:after {
	// 	content: '';
	// 	position: absolute;
	// 	bottom:0px;
	// 	height: 5em;
	// 	width: 90%;
	// 	background: radial-gradient(ellipse at bottom, rgba(255,255,255,0.35) 0%,rgba(255,255,255,0) 70%);
	// 	z-index:0;
	//   }
	//   hr:after {
		// 	top:0px;
		// 	bottom:auto;
		// 	height: 1.5em;
		// 	background: radial-gradient(ellipse at top, rgba(0,0,0,0.06) 0%,rgba(0,0,0,0) 70%);
		//   }



hr.full-separator{
	// position: absolute;
	width: auto;
	left: 2.5%; /* Adjusted from left: 0 to center */
	right: 2.5%; /* Adjusted from right: 0 to center */

	border-bottom: 1px solid rgba(0,0,0,.08);
	margin: 2.5em 0;
	background: linear-gradient(90deg, transparent 0%, var(--separator-color) 20%, var(--separator-color) 50%, var(--separator-color) 80%, transparent 100%);
	// --gradient-color: var(--separator-color);
	// background: linear-gradient(90deg, transparent 0%, var(--gradient-color) 20%, var(--gradient-color) 50%, var(--gradient-color) 80%, transparent 100%);
	height: 1px;
	border: 0;
}


.selected-breadcrumb {
	// color: #fd0000;
	color: var(--hover-color);
}

#breadcrumbs {
	// colorgb(100, 100, 100)3a3;
	font-style: italic;
	color: #6b6b6b;
	margin-top: 0px;
	padding-top: 0px;
	&>a:hover{
		// color: pink;
		text-decoration: underline;
		color: var(--text-2);
	}
}

section.social-icons svg:hover {
	color: var(--hover-color);
}



blockquote {
		// IDEAS https://getcssscan.com/css-box-shadow-examples
		border-left: 3px solid var(--hover-color);
		padding: 15px 20px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		&:hover cite{
			color: var(--text-2);
			transition: all .2s;
			// text-decoration: underline;
		}
	}

blockquote cite{
	display: block;
	// background-color: pink;

	// font-weight: bold;
	text-align: right;
	// float: right;
	// padding-top: 20px;
	padding: 3px 40px;
	color: var(--soft-text);
	transition: all 1s;

	// color: var(--hover-color-soft);
	// filter: blur(1px);
	// box-shadow: 0px 0px 12px var(--hover-color);

	// position: absolute;
	// right: 80px;
}

kbd{
	
  // Match the page defaults in light mode but
  // switch to a light-ish grey in dark mode
  background-color: var(--kbd-color-background);
  color: var(--kbd-color-text);

  // Round off the corners like physical keys have
  border-radius: 0.25rem;

  // Add a simple border
  border: 2px solid var(--kbd-color-border);

  // A sharp shadow (with no blur) really gives
  // the old school keyboard look
//   box-shadow: 0 2px 0 1px var(--kbd-color-border);
  box-shadow: 0 2px 0 1px var(--kbd-color-border);

  // Remove the text cursor — totally optional
  // but I wanted it for my hover effect
  cursor: default;

  // By default, browsers style <kbd> with a monospace typeface
//   font-family: var(--font-family-sans-serif);

  // If we do all this with the default font size
  // (mine is 18px on desktop) it’ll look massive
  // and bump into lines above and below
//   font-size: 0.75em;

  // Remove any extra space so I can accurately tweak the padding
  line-height: 1;

  // Make narrow numbers and letters look less odd
  min-width: 0.75rem;
  // `min-width` doesn’t work on inline elements
//   display: block;
  // Keep the characters centred when narrower than the `max-width`
  text-align: center;

  // Seemed to look more key-like with more horizontal padding 🤷
//   padding: 2px 5px;
  padding: 3px 5px;

  // These two lines pull the whole element up now that they’re
  // bottom-heavy due to the `box-shadow`. This looks better
  // against the cap height of regular paragraph text.
  position: relative;
  top: -1px;

  // This is my favourite part of the whole thing. The key gets
  // “pushed” down and the shadow gets reduced so it looks like
  // it might when typing on a physical keyboard.
  transition: all .3s;
  &:hover {
    box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
	background-color: var(--kbd-color-background-hover);
    top: 1px;
	transition: all .1s;
  }
}

// Remove dot in ul's list items that has an input of type "checkbox"
ul li:has(input[type="checkbox"]), 
ul li ul li:has(input[type="checkbox"]), 
ul li ul li ul li:has(input[type="checkbox"]) {
	list-style-type: none; /* Remove bullet if there's a checkbox */
  }

/*#region code flavour*/
// pre{
// 	background-color: rgb(0, 255, 64);
// }

// pre code{
// div.highlight{
// 	// display: none;
// 	// width: auto;
// 	// height: auto;
// 	// // padding: 10px 22px 22px 123px;
// 	// padding: 30px;
// 	// display: block;
// 	// background-color: pink;
// 	// border-radius: 20px;
// 	// border-color: #00ff22;
// 	// border-width: 10px;
// 	// border: 20px solid #ff6550;

// 	& pre{
// 		background-color: #e20c0c;
// 	}
// 	& code{
// 		background-color: #ff00d4;
// 	}
// }

// pre code{
// 	border-radius: 10px;
//     // background: #f4f4f4;
//     border: 1px solid #ddd;
//     border-left: 3px solid #f36d33;
//     color: #666;
//     page-break-inside: avoid;
//     font-family: monospace;
//     font-size: 15px;
//     line-height: 1.6;
//     margin-bottom: 1.6em;
//     max-width: 100%;
//     overflow: auto;
//     padding: 1em 1.5em;
//     display: block;
//     word-wrap: break-word;
// }

// pre[data-lang]::before { content: attr(data-lang); display: block; }
// div.highlight pre code[data-lang]::before { 
// 	content: attr(data-lang); 
// 	text-align: right;
// 	// display: block; 
// 	display: inline-block;
// 	// background-color: pink;
// 	width: 100%;
// 	// position: absolute;
// 	margin-bottom: 10px;
// 	// top: 0px;
// 	// bottom: 10px;
// 	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
// }

// REFACTOR table old style code

// .articles-content table{
// 	-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
// 	-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
// 	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
// 	padding: 10px 30px;
// 	border: 2px inset var(--hover-color);
// 	// position: inherit;
// 	position: relative;
// 	display: flex;
// 	flex-direction: column;
// 	& thead{
// 	border-bottom: 2px solid #ff0000;
// 		color: pink;
// 		background-color: red;
// 		position: absolute;
// 		left: 0;
// 		top: 0;
// 		// width: 100%;
// 		// display:flex;
// 	width:100%;
// 	background:#000;
// 	flex-grow: 1;
// 	// padding:($half-spacing-unit * 1.5) 0;

// 	}
// }


// table{
// 	// border: 2px inset var(--hover-color);
	
// 	// & thead{
// 	// 	border: 2px inset var(--hover-color);

// 	// }

// 	background: pink; 
// 	border: 0; 
// 	border-collapse: separate; 
// 	border-spacing: 0 5px;
// }
// thead{
// 	border-bottom: 1px solid red; 
// 	border-collapse: separate; 
// 	border-spacing: 5px 5px;

// }






/*#region borders after*/
// // INFO fix for borders and padding https://stackoverflow.com/questions/6265123/border-top-from-tbody-and-border-bottom-from-thead-dont-work-at-the-same-time
// // https://www.w3schools.com/css/css_table.asp
// table {
// 	// background: pink; 
// 	border: 2px inset var(--hover-color);
	
// 	// border: 0; 
// 	border-collapse: separate; 
// 	border-spacing: 0 0px;
// 	// border-spacing: 5px 5px;
// 	// border-radius: 10px;
	
// }
// thead{

// 	// background: var(--hover-color-soft); 
// }

// thead tr th {
// 	// background: var(--hover-color-soft); 
// 	// border-radius: 20px;
// 	  padding: 5px 10px;
// 	border-bottom: 1px solid red; 
// 	border-left: 1px solid red; 
// 	border-collapse: separate; 
// 	border-spacing: 5px 5px;
//   } 
/*#endregion borders after*/


  
//   tbody tr#first td {
// 	border-top: 3px solid #4d4d4d; 
// 	border-collapse: separate;
// 	border-spacing: 5px 5px;
//   }



table {
	// font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	// Makes the table fit the parent size
	table-layout: fixed;
	// overflow-wrap: break-word;
	
	// padding: 230px 10px;
	border: 3px solid var(--hover-color);

	// https://getcssscan.com/css-box-shadow-examples
	// box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	// box-shadow: rgb(77, 61, 38) 0px 10px 30px -10px;
	// box-shadow: #1C1C1C 0px 10px 30px -10px;
	box-shadow: var(--shadow-color) 0px 10px 10px -5px;
}

table td, table th {
	// padding: 230px 10px;
	// border: 1px solid #ddd;
	// border: 1px inset var(--hover-color);
	padding: 8px;
}

table tbody tr td{
	// padding-top: 240px;
	padding: 4px 10px;
}

table tr:nth-child(even){
	// background-color: #dbdbdb;
	background-color: var(--tablerow-bg-color2);
}
table tr:nth-child(odd){
	// background-color: #dbdbdb;
	background-color: var(--tablerow-bg-color1);
}

// table tr:hover {
table tr:hover {
	// background-color: #ddd;
	// background-color: var(--hover-color-soft);
	// filter: blur(10px);
	filter: invert(.2);
}

table th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
// background-color: #04AA6D;
background-color: var(--hover-color);
color: white;
}


/*#region <a> links*/
// .articles-content a:not(.background-animation):not(.underline-animation){
// 	text-decoration: underline;
// 	&:hover{
// 		color: var(--hover-color);
// 	}
// }


.background-animation{
	position: relative;
	text-decoration: none;
	display: inline-block;
	// color: black;
	padding: 0 1px;
	transition: color ease 0.3s;
	
	&::after {
	  content: '';
	  position: absolute;
	  z-index: -1;
	  width: 100%;
	//   height: var(--hover-color);
	  height: 1px;
	  left: 0;
	  bottom: 2px;
	//   background-color: var(--hover-color);
	  background-color: var(--text-2);
	  transition: all ease 0.3s;
	}
	
	&:hover {
		color: white;
		
		&::after {
			background-color: var(--hover-color);
			height: 100%;
		}
	}
}
  




.underline-animation{
	position: relative;
	text-decoration: none;
	display: inline-block;
	// color: black;
	padding: 0 1px;
	transition: color ease 0.3s;
	
	&::before, &::after {
	  content: '';
	  position: absolute;
	  background-color: var(--hover-color);
	  z-index: -1;
	  height: 2px;
	}
	
	&::before {
	  width: 0%;
	  left: 0;
	  bottom: 0;
	  transition: width ease 0.4s;
	}
	
	&::after {
	  width: 100%;
	  left: 0;
	  bottom: 0;
	  transition: all ease 0.6s;
	}
	
	&:hover {
  
	  &::before {
		width: 100%;
	  }
	  
	  &::after {
		left: 100%;
		width: 0%;
		transition: all ease 0.2s;
	  }
	}
}


// Style 6
.style-6 {
// a {
	background-image: linear-gradient(var(--surface-1) 50%, var(--hover-color) 50%);
	// background-image: linear-gradient(white 50%, var(--hover-color) 50%);
	background-size: auto 175%;
	transition: background .3s ease-in-out;

	&:hover {
		z-index: -1;
		background-position-y: 100%;	
		color: white;
		
	}
}

// #menu{
// 	position: inherit;
// }
/* linkone */
.link-1{
	display: inline-block;
}
.link-1:before, .link-1:after {
	content: '';
	border-bottom: solid 1px rgb(255, 0, 0);
	position: absolute;
	bottom: 0;
	width: 0;
  }
  
  .link-1:before { left: 0; }
  .link-1:after { right: 0; }
  
  .link-1:hover:before, .link-1:hover:after {
	width: 50%;
  }
  
  .link-1:before, .link-1:after {
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
  }


// Style 3
.style-3 {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 4px;
		border-radius: 4px;
		background-color: var(--text);
		bottom: 0;
		left: 0;
		transform-origin: right;
		transform: scaleX(0);
		transition: transform .3s ease-in-out;
	}

	&:hover::before {
		transform-origin: left;
		transform: scaleX(1);
	}
	
}


// SOURCE: https://codepen.io/samvdh/pen/MmZzyR
.button{
	text-decoration: none;
	// color: rgb(250, 5, 5);
	// color: var(--hover-color);
	color: var(--text-2);
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding: 10px;
	display: inline-block;
	&:hover{
		color: var(--hover-color);
	}
}

// BUTTON 2
a.button.two:before, a.button.two:after{
	opacity: 0;
	transition: all 0.3s ease;	
	  font-size: 20px;
  }
  a.button.two:before{
	content: '[';
	// content: '👉';
	// content: '👆';

  }
  a.button.two:after{
	content: ']';
	// content: '👈';
	// content: '☝';

  }
  
  a.button.two:hover:before{
	margin-right: 10px;
	content: '[';
	// content: '👉';

	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
	opacity: 1;
	color: var(--hover-color);

  }
  a.button.two:hover:after{
	margin-left: 10px;
	content: ']';
	// content: '👈';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
	opacity: 1;
	color: var(--hover-color);

  }
  .hover-scale{
	transition: transform .5s ease-in-out;

  }
  .hover-scale:hover{
	transform: scale(1.6);
	transition: transform .2s ease-out;
  }

// BUTTON 4
a.button.four:before, a.button.four:after{
	content: '';
	position: absolute;	
	width: 0%;
	height: 100%;
	border-bottom: 2px solid var(--hover-color);
	transition: width 0.3s ease;
}

a.button.four:before{
	bottom: 0;
	right: 50%;
}
a.button.four:after{
	bottom: 0;
	left: 50%;
}
a.button.four:hover:after, a.button.four:hover:before{
	width: 40%;
	transition: width .2s ease;
}



  

/*#endregion <a> links*/
  

.articles-content img{
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
	
}

// Inline <code>
// <code> elements inside .articles-content that do not have a <pre> element as their direct parent
.articles-content code:not(pre > code){
	font-family: 'Courier New', Courier, monospace;
	background-color: #272822;
	padding: 1px 7px;
	border-radius: 5px;
	margin-left: 2px;
	margin-right: 2px;
	// color: #d1d1d1;
	// color: greenyellow;
	// colorgb(235, 255, 206)14);
	color: rgb(182, 228, 114);
	// border-bottom: 2px solid var(--hover-color);
	border-bottom: 2px solid #555555;
	border-left: 2px solid #3f3f3f;
	border-right: 2px solid #3f3f3f;
	// border: 2px ridge var(--hover-color);
	box-shadow: 0px 2px 5px var(--text-1-light);
	// font-weight: bold;
	// font-weight: 600;
	
	transition: all .5s;
	&:hover{
		// color: red;
		// color: greenyellow;
		filter: saturate(250%);
		transition: all .2s;
	}
}

.articles-content pre {
	font-size: 1rem;
	text-align: left;
	background-color: #272822;
	// color: var(--text-2-dark);
	color: #d1d1d1;
	min-width: 300px;
	// min-height: 150px;
}

div.highlight pre, .articles-content pre {
// div.highlight pre , pre code {
	// content: attr(data-lang);
	// background-color: red;
	// position: inherit;
	padding-bottom: 100px;
	// position: inherit;
	
	& code[data-lang]::before{
		transition: all .5s;
		// visibility: hidden;
		// display: block;
		// display: inline-block;
		display: inline;
		// position: absolute;
		// position: static;
		// right: 200px;
		left: 0px;
		// background-color: pink;
		float: inline-end;
		// padding-left: 100px;
		// position: absolute;
		// left: 1;
		// background-color: pink;
		// position: absolute;
		// right: 0px;
		// width: 100%;
		color: #4e4e4e;
		// margin-bottom: 10px;
		// padding-bottom: 5px;
		padding-bottom: -11px;
		content: ""attr(data-lang); 
		// box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	}
	&:hover code[data-lang]::before{
		visibility: visible;
		// display: block;
		// padding-left: 100px;
		// background-color: pink;
		// position: absolute;
		// right: 0px;
		// width: 100%;
		// color: #4e4e4e;
		// color: #a5a5a5;
		color: #a3a3a3;


		// margin-bottom: 10px;
		// padding-bottom: 5px;
		// padding-bottom: -11px;
		content: ""attr(data-lang); 
		transition: all .3s;
		// box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	}
}

div.highlight pre, .articles-content pre {
	position: inherit;
    // background-color: #D1D1D0;
    overflow: auto;
    font-family: 'Monaco', monospace;
    // padding: 0 1em;
	border-radius: 4px;
	padding: 10px 20px 10px 20px;
	// margin: 10px 20px 10px 20px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75);

	// border: 1px solid #25D933;
	// border: 1px dotted var(--hover-color);
	// border: 1px outset var(--hover-color);
	border: 1px inset var(--hover-color);
	// border: 4px double var(--hover-color);
	// border: 2px ridge var(--hover-color);
	// border-radius: 8px;
  }


// code {
//     font-family: Monaco, monospace;
//     // font-size: $base-font-size;
//     line-height: 100%;
//     background-color: #eee;
//     padding: 0.2em;
//     letter-spacing: -0.05em;
//     word-break: normal;
//     border-radius: 5px;
// 	border-radius: 20px;
//   }


// pre code {
//     // border: none;
//     background: none;
//     // font-size: $base-font-size * 0.875;
//     line-height: 1em;
//     letter-spacing: normal;
//     word-break: break-all;
// 	border-radius: 20px;
//   }



/*#endregion code flavour*/
// #articles-pfp{

// 	border-radius: 50%;
// }

#szk_pfp {
	/* height: 100px; */
	// height: 30vh;
	// display: block;
	// width: auto;
	width: 100%;
	object-fit: cover;
	height: 30vh;
	// height: 30%;
	// width: auto;
	// aspect-ratio: 1/1;
	/* height: 130vh; */
	border-radius: 50%;
	// padding-left: 100px;
	/* background-color: red; */

	// ROTATION TEST
	// overflow: hidden;
    // transition-duration: 10.5s;
    // transition-property: transform;
	transition: all 300ms;
	// transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	// transition-timing-function: cubic-bezier(0,1.89,.54,.63);
	// transition-timing-function: cubic-bezier(0,2.01,.89,-1.04);


	-webkit-box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color2), 
			1px 0px 3px 0px var(--pfp-color), 1px -2px 3px 0px var(--pfp-color);
	-moz-box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color2), 
			1px 0px 3px 0px var(--pfp-color), 1px -2px 3px 0px var(--pfp-color);
	box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color2), 
			1px 0px 3px 0px var(--pfp-color), 1px -2px 3px 0px var(--pfp-color);

}

#szk_pfp:hover {
	// -webkit-box-shadow:0px 0px 41px 0px var(--hover-color);
	// -moz-box-shadow: 0px 0px 41px 0px var(--hover-color);
	// box-shadow: 0px 0px 41px 0px var(--hover-color);
	
	// -webkit-box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);
	// -moz-box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);
	// box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);
	

	// box-shadow: -1px 0px 3px 0px var(--hover-color), -1px 3px 2px 0px var(--pfp-color2), 
	// 1px 0px 3px 0px var(--pfp-color), 1px -2px 3px 0px var(--pfp-color),
	// // 1px 4px 3px 0px var(--pfp-color2)
	// ;

	
	
	// ROTATION TEST
	// transform: rotate(360deg);
    // -webkit-transform: rotate(2*360deg);
	
	// transform:scale(1.1);
	transform:scale(1.1) rotate(-10deg);
	// animation: scaleAnim 10.1s ease 0s 2 alternate both;
	transition: all 200ms;
	
}

#szk_pfp::not(:hover) {
	animation: scaleAnim2 0.1s ease 0s 1 alternate both;
}


.card{
	transition: all 200ms;

	& figure img{
		box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
		// margin-top: 100px;
		transition: all 200ms ease-in-out;
	}
	
	& figure {
		transition: all 200ms;
	}

	&:hover figure {
		transition: all 100ms;
		transform: scale(1.03);
	}

	&:hover {
		transition: all 200ms;
		// transition: transform 200ms;
		// transition: box-shadow 20000ms;
		// transform: translateY(-10px);
		// transform: translateY(-5px);
		// transform: scale(1.05);

	}


	&:hover img, &:hover img:hover{
		// color:pink;
		// transform: translateY(-10px);

		box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.75);
		transition: box-shadow 100ms ease-in-out; // Slow box-shadow transition
	}

}


nav.categories ul li a{
	border: 2px solid var(--border);
	&:hover {
		color: var(--hover-color);
		border: 2px solid var(--hover-color);
		// font-weight: bold;
		// text-decoration: underline;
	}
}

.description-link {
	color: var(--hover-color);
	&:hover{
		font-weight: bold;
	}
}


@keyframes scaleAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(var(--profile-scale));
	}
}

@keyframes scaleAnim2 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(var(--profile-scale));
	}
}

// .profile-resume a:hover {
// 	// background-color: red;;
// 	color: var(--hover-color);
// 	font-weight: lighter;
// }

// Links at the profile-resume (at index)
.profile-resume a {
	// background-color: pink;
	// font-weight: bold;
	color: var(--hover-color);
	&:hover {
		// background-color: red;;
		// color: var(--hover-color);
		// font-weight: bold;
		text-decoration: underline;
	}
}
// .profile-resume a {
// 	// background-color: pink;
// 	// font-weight: bold;
// 	text-decoration: underline;
// 	&:hover {
// 		color: var(--hover-color);
// 		// background-color: red;;
// 		// color: var(--hover-color);
// 		// font-weight: bold;
// 	}
// }


/*#region hgroup.articles-content*/
.article-and-navbar{
	// height: auto;
	display: flex;
}

.article-and-navbar h1{
	font-size: 2em;
}

.article-and-navbar h2{
	font-size: 1.5em;
}

.article-and-navbar h3{
	font-size: 1.17em;
}

// .articles-content{
// 	float: left;
// }

.article-tag{
	position: relative;
	border-radius: 999999px;
	padding-left: 10px;
	padding-right: 10px;
	// border: 2px solid var(--border);
	// margin: 10px 10px 10px 10px;
	margin-top: 5px;
	text-wrap: nowrap;
	// text-wrap: pretty;
	// &:hover{
	// 	color: pink;
	// }

	display: inline-block; /* Ensures proper spacing */
    // margin: 5px 8px; /* Adjust spacing between tags */
    // padding: 4px 10px; /* Adds some space inside the tag */
    // border-radius: 4px; /* Optional: Rounds corners */
    // background-color: #f3f3f3; /* Optional: Light background */

	border: 2px solid var(--border);

	-webkit-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);

	transition: all 500ms;


	&:hover {
		color: var(--hover-color);
		border: 2px solid var(--hover-color);
		// font-weight: bold;
		// text-decoration: underline;
		cursor: pointer;
	// padding-left: 20px;
	// padding-bottom: 20px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

		transition-duration: 40ms;
	}
}



.articles-index{
	color: var(--text-2);
	width: 250px;
	min-width: 190px;
	height: 100vh; /* Full height */
	// position: fixed; /* Stays in place while scrolling */
	position: sticky;
	top: 15px;
	// top: 190px;
	// left: 0; // this makes the index sticky to the X axis!
	// background: #4e4e4e;
	padding: 20px;
	// border-right: 2px solid #ddd;
	overflow-y: auto; /* Scroll if content overflows */
	// display: none;
	// flex-shrink: 0;

	// box shadow
	// -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	// -moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
	// box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.75);
}

#tags-footer{
	display: none;
	margin-left: 20px;
}

@media (max-width: 650px) {
	.articles-index{
		display: none;
	}
}
@media (min-width: 850px) {
	#articles-author{
		display: none;
	}
}
@media (max-width: 850px) {
	.articles-right-bar{
		// visibility: hidden;
		display: none;
	}

	#tags-footer{
		display: block;
	}

	#articles-author{
		display: inline-block;
		font-style: italic;
		
		&:hover{
			color: var(--hover-color);
		}
	}
}

a#author{
	font-style: italic;
	&:hover{
		color: var(--hover-color);
	}
}



.articles-right-bar{
		color: var(--text-2);

	width: 250px;
	height: 100vh; /* Full height */
	// position: fixed; /* Stays in place while scrolling */
	// position: sticky;
	top: 45px;
	left: 0;
	// background: #4e4e4e;
	padding: 20px;
		// border-right: 2px solid #ddd;
	// overflow-y: auto; /* Scroll if content overflows */
	// display: none;
}

hr.solid-separator{
	// position: absolute;
	width: auto;
	left: 2.5%; /* Adjusted from left: 0 to center */
	right: 2.5%; /* Adjusted from right: 0 to center */
	
	// border-bottom: 1px solid rgba(0,0,0,.08);
	// margin: 2.5em 0;
	margin: 13px 0px;
	// background: linear-gradient(90deg, transparent 0%, var(--separator-color) 20%, var(--separator-color) 50%, var(--separator-color) 80%, transparent 100%);
	// background: var(--separator-color);
	background: var(--separator-color-soft);
	// background: pink;
	// --gradient-color: var(--separator-color);
	// background: linear-gradient(90deg, transparent 0%, var(--gradient-color) 20%, var(--gradient-color) 50%, var(--gradient-color) 80%, transparent 100%);
	height: 1px;
	border: 0;
}

.articles-right-bar hr{
	// position: absolute;
	width: auto;
	left: 2.5%; /* Adjusted from left: 0 to center */
	right: 2.5%; /* Adjusted from right: 0 to center */
	
	// border-bottom: 1px solid rgba(0,0,0,.08);
	// margin: 2.5em 0;
	margin: 13px 0px;
	// background: linear-gradient(90deg, transparent 0%, var(--separator-color) 20%, var(--separator-color) 50%, var(--separator-color) 80%, transparent 100%);
	// background: var(--separator-color);
	background: var(--separator-color-soft);
	// background: pink;
	// --gradient-color: var(--separator-color);
	// background: linear-gradient(90deg, transparent 0%, var(--gradient-color) 20%, var(--gradient-color) 50%, var(--gradient-color) 80%, transparent 100%);
	height: 1px;
	border: 0;
}

.articles-right-bar .article-tags{
	text-align: center;
}

.articles-right-bar p{
	text-decoration: dotted;
	font-style: italic;
	text-align: center;
}

.articles-right-bar .social-icons{
	// display: flex;
	// padding: 10px 10px;
	// padding: 0px 0px;
	// color:pink;
	// gap: 3px;
	gap: .3rem;
	padding-left: .1rem;
	padding-right: .1rem;
}

.articles-right-bar img{
	border-radius: 9px;
}

h3.uppercase{
	font-weight: 900;
	font-size: .9rem;
	text-transform: uppercase;
}
// .articles-index{
// 	float: left;
// 	// width: 300px;
// 	// height: 100%;
// 	position: sticky;
// 	// // position: absolute;
// 	// left: 0px;

// 	color: var(--text-2);
// 	font-size: .8rem;

// 	border: 2px solid #ff6550;
// 	border-radius: 10px;
// 	// margin-left: 10px;
// 	// width: 90%;
// 	margin: auto; //centers the block
// 	margin-bottom: 10px;
// }

.articles-index a:hover{
	// color: pink;
	color: var(--hover-color);
	// border-left: 10px double #ff6550;
}

.articles-index ol{
	list-style-type: disc;
	list-style-position: inside;
	// padding-inline-start: 2%;
	padding-inline-start: 15px;
}
.articles-index ol li::before{
	content: '';
	padding-left: 5px;
	// border-left: 10px double #ff6550;
	border-left: 5px solid var(--hover-color-soft);
}
.articles-index ol li:hover::before{
	content: '';
	padding-left: 5px;
	// border-left: 10px double #ff6550;
	border-left: 5px solid var(--hover-color);
}
.articles-index ol li{
	list-style-type: none;
	// tab-size: 4;
	// margin: 0px;
	// list-style-position: inside;
	// border-left: #fe9234;
	// border: 1px 2;
	// border-left: 10px double #ff6550;
}

// .articles-index li {
// 	position: relative;
// 	// padding-left: 35px;
// 	margin-left: 0px;
// }

// .articles-index li:before {
// 	margin-left: 0px;
// 	// position: absolute;
// 	// left: -5px;
//   }

ul > li {
    margin-left: 10px;
}
ol{
	// padding-left: 0px;
	padding-left: 25px;
}

// ol {
hgroup.articles-content > ol{
    padding-left: 10px;
    // margin-left: 0; /* Reset default margin */
}

// ol > ol {
//     padding-left: 20px; /* Add manual indentation for nested lists */
// }

// ol > li {
//     margin-left: 10px;
// }

hgroup.articles-content p a:not([class]){
	color: var(--hover-color);
	&:hover{
		text-decoration: underline !important;
	}
}

a.link-underline{
	text-decoration: underline;
	&:hover{
		color: var(--hover-color);
	}
}

a.link-hidden{
	text-decoration: none;
	&:hover{
		color: var(--hover-color);
	}
}

// hgroup.articles-content
// hgroup.articles-content p, ul{
hgroup.articles-content p, hgroup.articles-content ul, hgroup.articles-content ol{
	// width: 100%;
	// text-align: left;

	text-align: left;
	width: 100%;
	text-wrap: wrap;
    // margin: 0 auto;
    // max-width: 800px; /* Adjust as needed */
}

// hgroup.articles-content ol, ul {
hgroup.articles-content ol, hgroup.articles-content ul {
  list-style-type: none;
  margin: 0px;
}

hgroup.articles-content ol {
	list-style-type: decimal;
	margin: 0px;
  }
  
hgroup.articles-content ul {
	list-style-type: disc;
	margin: 0px;
	padding-left: auto;
}

hgroup.articles-content img {
// hgroup.articles-content p img{
// img{
	// border: #fe9234;

	// width: 30px;
	// align-items: center;
	// background-color: pink;
	// border-radius: 50%;
	margin: auto;
	// display: block;
	// position: absolute;
	// left: 0px;
	// width: 50%;
	// display: flex;
	// justify-content: center;
}

// ul {
//     list-style-type: disc;
//     padding-left: 20px; /* Adjust indentation */
// }

hgroup.articles-content ul ul li{
// ul li {
    list-style-type: circle; /* Different style for nested lists */
	margin-left: 20px;
    // padding-left: 20px; /* Further indentation */
}

hgroup.articles-content ul ul ul li{
// ul ul li {
    list-style-type: square; /* Further differentiation */
    // padding-left: 20px;
    margin-left: 20px;
}
hgroup.articles-content ul ul ul ul li{
// ul ul li {
    list-style-type: square; /* Further differentiation */
    // padding-left: 20px;
    margin-left: 20px;
}
/*#endregion hgroup.articles-content*/

.previous-article{
	position: absolute;
	left: 0;
	padding-left: 10px;
	padding-top: 10px;
}

.next-article{
	position: absolute;
	right: 0;
	padding-right: 10px;
	padding-top: 10px;
}

#header-buttons-container{
	// display: inline-block;
	display: flex;
	// gap: 10px;
	// align-items: flex-end;
	align-items: center;
	// justify-content: end;
	// width: auto;
	flex-direction: row;
	position: absolute;
	right: 50px;
	gap: 13px;
	// justify-content: flex-end;
}

.header-buttons{
	width: 20px;
	// height: 20px;
	// justify-content: end;
	// align-items: flex-end;


}

.language-switcher{
	// position: absolute;
	right: 55px;
	width: 20px;
	transition: all 50ms;

	&:hover{
		box-shadow: 0px 2px 3px var(--hover-color);
	}
}


#theme-toggle {
	display: inline-block;
	width:20px;
	// position: absolute;
	right:90px;
}

#theme-toggle svg{
	color: var(--text-2);
	& :hover{
		color: var(--hover-color);
	}
}

html.light #theme-toggle svg:last-child{
	display: none;
}

html.dark #theme-toggle svg:first-child{
	display: none;
}



#menu-toggle:hover, .btn-square:hover{
	color: var(--hover-color);
}


/*#region Fancy animations*/
.shadow-dance-text {
	letter-spacing: -2px;
    // font-size: 4rem;
    // color: #fff;

	--distance: calc(var(--distance-to-mid, 5px));
	--distance2: calc(var(--distance-to-mid, 5px)*2);
	
    text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    // animation: shadow-dance 2s ease-in-out infinite;
    animation: shadow-dance2 2s ease-in-out infinite;
    // animation: shadow-dance 2s linear infinite;
	animation-duration: 1s;
	animation-delay: var(--animation-delay,0s);

	&:hover{
		animation-play-state: paused;
	}
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
        // text-shadow: -5px -5px 10px #00d4ff, -10px -10px 0 #ff005e;
    }
}

@keyframes shadow-dance2 {
    0%, 100% {
		letter-spacing: -2px;
        // text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
        text-shadow: var(--distance) var(--distance) 50px #ff005e, var(--distance2) var(--distance2) 0 #00d4ff;
    }
    50% {
		letter-spacing: -3px;
        // text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
        text-shadow: calc(var(--distance)*-1) calc(var(--distance)*-1) 0 #00d4ff, calc(var(--distance2)*-1) calc(var(--distance2)*-1) 0 #ff005e;
        // text-shadow: calc(-var(--distance)) calc(var(--distance)*-1) 0 #00d4ff, calc(var(--distance2)*-1) calc(var(--distance2)*-1) 0 #ff005e;
        // text-shadow: calc(-var(--distance)) calc(-var(--distance)) 0 #00d4ff, calc(-var(--distance2)) calc(-var(--distance2)) 0 #ff005e;
        // text-shadow: -5px -5px 10px #00d4ff, -10px -10px 0 #ff005e;
    }
}

@keyframes shadow-dance-glitch {
    0%, 100% {
        text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
    }
	19% {
		text-shadow: 5px -14px 0 #00d4ff, -5px 10px 0 #ff005e;
	}
    20% {
        text-shadow: 5px -51px 0 #00d4ff, -5px 10px 0 #ff005e;
	}
    21% {
        text-shadow: 5px -14px 0 #00d4ff, -5px 10px 0 #ff005e;
	}
    50% {
        text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
        // text-shadow: -5px -5px 10px #00d4ff, -10px -10px 0 #ff005e;
    }
}



//////////////////
.wave-text span {
    display: inline-block;
    font-size: 4rem;
    // animation: wave 2s ease-in-out infinite;
    // animation: wave var(--wave-time, 2s) ease-in-out infinite;
    // animation: wave2 var(--wave-time, 2s) ease-in-out infinite;
    animation: rota var(--wave-rotation-time, 2s) ease-in-out infinite alternate ;
    // animation: rota var(--wave-rotation-time, 2s) ease-in-out infinite alternate, wave 2s ease-in-out infinite;
    // -webkit-animation: rota var(--wave-rotation-time, 2s) ease-in-out infinite alternate, wave 2s ease-in-out infinite;
}

span.wavy-text{
    display: inline-block;
    // animation: wave var(--wave-time, 2s) ease-in-out infinite;
    animation: wave-min-max var(--wave-time, 2s) ease-in-out infinite;
}

// .wave-text span span{
//     display: inline-block;
//     font-size: 4rem;
//     // animation: wave 2s ease-in-out infinite;
//     animation: wave var(--wave-time, 2s) ease-in-out infinite;
//     // animation: wave2 var(--wave-time, 2s) ease-in-out infinite;
//     // animation: rota var(--wave-rotation-time, 2s) ease-in-out infinite alternate ;
//     // animation: rota var(--wave-rotation-time, 2s) ease-in-out infinite alternate, wave 2s ease-in-out infinite;
//     // -webkit-animation: rota var(--wave-rotation-time, 2s) ease-in-out infinite alternate, wave 2s ease-in-out infinite;
// }

// .wave-text span:nth-child(1) {
//     animation-delay: 0s;
// }
// .wave-text span:nth-child(2) {
//     animation-delay: 0.2s;
// }
// .wave-text span:nth-child(3) {
//     animation-delay: 0.4s;
// }
// .wave-text span:nth-child(4) {
//     animation-delay: 0.6s;
// }

// .wave-text span:nth-child(5), span:nth-child(7) {
// 	color: red;
//   }

@keyframes rota {
	0%{
		transform: rotate(var(--wave-rotation, -20deg));
	}
	100% {
		transform: rotate(var(--wave-rotation, 20deg));
    }
	// 0%, 100% {
    //     transform: rotate(0deg);
    // }
	// 33% {
    //     transform: rotate(var(--wave-rotation, 20deg));
    // }
	// 66% {
	// 	transform: rotate(calc(var(--wave-rotation, 20deg)*-1.0));
    // }
}

@keyframes wave {
    // 0%, 100% {
    //     // transform: translateY(0);
    //     transform: translateY(0) rotate(-20deg);
    // }
    0%, 100% {
        transform: translateY(0);
        // transform: translateY(0) rotate(-20deg);
    }
    // 25% {
    //     transform: translateY(var(--y-wave-translate,-50px));
	// }
    50% {
        // transform: translateY(-20px);
        // transform: translateY(var(--y-translate));
        transform: translateY(var(--y-wave-translate,-20px));
        // transform: translateY(var(--y-wave-translate,-20px)) rotate(20deg);
        // transform: translateY(calc(-20px*var(--is-active, 0)));
        // transform: translateY(calc(-20px*var(--is-active)));
        // transform: translateY(calc(-20px+var(--is-active)));
    }
}

@keyframes wave-min-max {
    0%, 100% {
        transform: translateY(var(--y-wave-translate-min,20px));
    }
    50% {
        transform: translateY(var(--y-wave-translate-max,-20px));
    }
}


@keyframes wave2 {
    // 0%, 100% {
    //     // transform: translateY(0);
    //     transform: translateY(0) rotate(-20deg);
    // }
    0%, 100%{
        transform: translateY(0px) rotate(0deg);
	}
    25% {
        transform: translateY(var(--y-wave-translate,-20px)) rotate(var(--wave-rotation, 20deg));
	}

    50% {
        // transform: translateY(-20px);
        // transform: translateY(var(--y-translate));
        // transform: translateY(var(--y-wave-translate,-20px));
        transform: translateY(0px) rotate(0deg);
        // transform: translateY(calc(-20px*var(--is-active, 0)));
        // transform: translateY(calc(-20px*var(--is-active)));
        // transform: translateY(calc(-20px+var(--is-active)));
    }
	75% {
        transform: translateY(var(--y-wave-translate,-20px)) rotate(calc(var(--wave-rotation, 20deg)*-1.0));
	}
	// 100% {
    //     // transform: translateY(0);
    //     transform: translateY(0) rotate(-20deg);
    // }
}

.wave-text span{
	// color: hsl(323, 100%, 50%);
	// background: hsl(50, 80, 40);
	// animation-delay: calc((var(--n) - 1) * 0.21s);
	// animation-delay: calc((var(--n) - 1) * 0.1s);
	// animation-delay: calc((var(--n) - 1) * 1.0s);
	// animation-delay: var(--anim-delay);
	// animation-delay: calc((var(--anim-delay))*.2s);
	animation-delay: calc((var(--anim-delay))*.1s * var(--is-active));
	// animation-play-state: paused;
	--is-active: 1;
	&:hover{
		--is-active: 0;
		// --is-active: 1s;
		// --is-active: 1px;
		// --is-active: 1px;
		color: pink;
		// animation-play-state: running;
	}
}

// @for $i from 1 through 1000 {
// 	.wave-text span:nth-child(#{$i}) {
// 	  --n: #{$i};
// 	}
//   }


///////////////////////////


//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

/*#endregion Fancy animations*/

.rotate-animation{
	// color: pink;
	display: inline-block;
	// animation: rotate-anim 2s ease-in-out infinite;
	// animation: rotate-anim 2s cubic-bezier(0,.76,.27,1.56) infinite;
	animation: rotate-face-anim 3.5s cubic-bezier(0,.89,0,.99) infinite;
	
}

@keyframes rotate-face-anim {
    0%, 100% {
		// transform: rotate(180deg);
		transform: translateX(100px) rotate(180deg);
        // text-shadow: 5px 5px 0 #ff005e, 10px 10px 0 #00d4ff;
        // text-shadow: var(--distance) var(--distance) 50px #ff005e, var(--distance2) var(--distance2) 0 #00d4ff;
    }
    50% {
		// transform: rotate(0deg);
		// transform: translateX(-100px) rotate(0deg);
		transform: translateX(-100px) translateY(-27px) rotate(0deg);
        // text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff005e;
        // text-shadow: calc(var(--distance)*-1) calc(var(--distance)*-1) 0 #00d4ff, calc(var(--distance2)*-1) calc(var(--distance2)*-1) 0 #ff005e;
        // text-shadow: -5px -5px 10px #00d4ff, -10px -10px 0 #ff005e;
    }
}
