/* custom.css */
:root {
	/* --hover-color: {{ .Site.Params.colors.hover }}; */
	--hover-color: #fe9234;
	--profile-scale: 1.1;
}


// h1.mi-header,
// h2.mi-header,
// h3.mi-header,
// h4.mi-header,
// h5.mi-header,
// h6.mi-header {
//   font-weight: normal;
//   font-size: inherit;
// }

section.social-icons svg:hover {
	color: var(--hover-color);
}

blockquote {
	/* TODO cambiar style blockquote */
	// IDEAS https://getcssscan.com/css-box-shadow-examples
	border-left: 10px solid var(--hover-color);
	padding-left: 10px;
}

#szk_pfp {
	/* height: 100px; */
	// height: 30vh;
	height: 30vh;
	/* height: 130vh; */
	border-radius: 50%;
	// padding-left: 100px;
	/* background-color: red; */

	// ROTATION TEST
	// overflow: hidden;
    // transition-duration: 10.5s;
    // transition-property: transform;
}

#szk_pfp:hover {
	// -webkit-box-shadow:0px 0px 41px 0px var(--hover-color);
	// -moz-box-shadow: 0px 0px 41px 0px var(--hover-color);
	// box-shadow: 0px 0px 41px 0px var(--hover-color);

	-webkit-box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);
	-moz-box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);
	box-shadow: 0px 0px 13px 0px rgba(254, 146, 52, 0.9);

	// ROTATION TEST
	// transform: rotate(360deg);
    // -webkit-transform: rotate(2*360deg);

	transform:scale(1.1);
	animation: scaleAnim 0.1s ease 0s 2 alternate both;
}

#szk_pfp::not(:hover) {
	animation: scaleAnim2 0.1s ease 0s 1 alternate both;
}

nav.categories ul li a:hover {
	color: var(--hover-color);
	border: 1px solid var(--hover-color);
	font-weight: bold;
}

.description-link {
	color: var(--hover-color);
	&:hover{
		font-weight: bold;
	}
}


@keyframes scaleAnim {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(var(--profile-scale));
	}
}

@keyframes scaleAnim2 {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(var(--profile-scale));
	}
}

// .profile-resume a:hover {
// 	// background-color: red;;
// 	color: var(--hover-color);
// 	font-weight: lighter;
// }

.profile-resume a:hover {
	// background-color: red;;
	color: var(--hover-color);
	font-weight: bold;
}
