// @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
// // Is a fake pixel font (high resolution pixels)
// .pixel-font-fake{
// 	font-family: "Pixelify Sans", sans-serif;
// 	font-optical-sizing: auto;
// 	font-weight: 400;
// 	font-style: normal;
//   }

// @import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');
// // I dont like it because is VERY SMALL
// .pixel-font-micro {
// 	font-family: "Micro 5", sans-serif;
// 	font-weight: 400;
// 	font-style: normal;
// 	font-size: 1.4rem;
//   }
  

@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
.pixel-font{
	// font-family: "Press Start 2P", system-ui;
	// font-size: .8em;
	font-family: "Tiny5", sans-serif;
	// font-size: 1.3em;
	font-size: 1.24em;
	font-weight: 400;
	// font-weight: 600;
	// font-style: normal;
	// font-size: .6em;
	// image-rendering: pixelated;
	// image-rendering: crisp-edges;
	font-smooth: never;
	-webkit-font-smoothing : none;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.consolas-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
  }

/*
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.handwritten-font2 {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.handwritten-font3 {
font-family: "Rock Salt", cursive;
font-weight: 400;
font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
.handwritten-font4 {
	font-family: "Reenie Beanie", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4em;
  }
*/

@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
.handwritten-font {
	font-family: "Schoolbell", cursive;
	font-weight: 400;
	font-style: normal;
	// font-size: 1.2em;
}

.handwritten-font .articles-content, 
.handwritten-font hgroup.galery-title, 
.handwritten-font aside.articles-right-bar {
	p, li{
		font-size: 1.17rem !important;
	}
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
.sans-font{
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}