html{
	scroll-behavior: smooth;
}


#scrollToTopButton {
	transition-duration: .5s;

	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	// bottom: 20px; /* Place the button at the bottom of the page */
	bottom: 30px; /* Place the button at the bottom of the page */
	// right: 30px; /* Place the button 30px from the right */
	right: 10px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: var(--text-2-light); /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	// border-radius: 10px; /* Rounded corners */
	border-radius: 99px;
	font-size: 18px; /* Increase font size */
	box-shadow: rgb(38, 57, 77) 0px 10px 30px -10px;

	svg{
		transition-duration: .5s;
		transform: translateY(1px);
	}
  }
  
  #scrollToTopButton:hover {
	transition-duration: .5s;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	background-color: var(--hover-color); /* Add a dark-grey background on hover */
	
	svg{
		transition-duration: .5s;
		transform: translateY(-5px) scale(1.1);
	}
  }