@mixin custom-box-shadow($x: 0px, $y: 0px, $blur: 21px, $spread: 4px, $color: rgba(45, 255, 196, 0.12)) {
	-webkit-box-shadow: #{$x} #{$y} #{$blur} #{$spread} #{$color} !important;
	-moz-box-shadow: #{$x} #{$y} #{$blur} #{$spread} #{$color} !important;
	box-shadow: #{$x} #{$y} #{$blur} #{$spread} #{$color} !important;
}

.no-display{
	display: none;
}

.spoiler-blur{
	transition: 2s;
	filter: blur(20px);
	&:hover{
		transition: 0.4s;
		filter: blur(0px);
	}
}

.sticky{
	position: sticky !important;
	top: var(--sticky-top-position, 0px) !important;
}

.accent-color{
	color: var(--hover-color);
}

.hover-accent-color:hover{
	color: var(--hover-color);
}

.underline{
	text-decoration: underline;
}

.hover-underline:hover{
	text-decoration: underline;
}

.super-bold{
	font-weight: 900;
}

.non-selectable {
	display: inline-block;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.inline-block{
	display: inline-block;
}

.no-box-shadow{
	box-shadow: none !important;
}

.bloom-text{
	color: white;
	text-shadow: 0px 0px var(--text-fx-bloom-size, 8px) var(--text-fx-bloom-color, var(--hover-color)),
				0px 0px 1px var(--text-fx-bloom-color, var(--hover-color));
}

.bloom-box-shadow{
	// box-shadow: 0px 0px var(--text-fx-bloom-size, 8px) var(--text-fx-bloom-color, var(--hover-color)),
	box-shadow: 
		0px 0px 1px 0px white,
		0px 0px 7px 2px var(--hover-color, white),
		// 0px 0px 5px 2px var(--hover-color, white),
	// 0px 0px 1px var(--text-fx-bloom-color, var(--hover-color)),
	// 0px 0px 10px var(--hover-color, var(--hover-color)),
	// 0px 0px 5px var(--text-fx-bloom-color, white),
	// 0px 4px 10px var(--hover-color, white),
	// 0px 1px 5px 3px white;
		;
	// 0px 4px 2px var(--hover-color, white);
}


.legible-text-shadow{
	$shadow-color: #000;
	// text-shadow: 0px 2px 4px $shadow-color, 
	// 		0px 4px 8px $shadow-color,
	// 		0px -1px 3px $shadow-color,
	// 		;
	text-shadow: 0px 1px 4px $shadow-color, 
			;
}

.text-align-left{
	text-align: left;
}

.text-align-center{
	text-align: center;
}

.text-align-center{
	width: fit-content; /* optional, for tight content */
	p, h1, h2, h3, h4, h5, h6 {
		text-align: center !important;
		margin: 0 auto;
		display: inline-block;
	}
}

.hover-border-bloom:hover{
	// @include custom-box-shadow(2px, 2px, 10px, 0px, var(--hover-color));
	@include custom-box-shadow(0px, 0px, 8px, 3px, var(--hover-color));
	// border: ;
}

.list-style-none{
	list-style: none;
}

.half-border-radius{
	border-radius: 50%;
	overflow: hidden;
	& > * {
		border-radius: 50%;
	}
}

.dark .pfp-border-colors{
	--c0: var(--pfp-color-0-dark, var(--hover-color));
	--c1: var(--pfp-color-1-dark, var(--hover-color));
	--c2: var(--pfp-color-2-dark, var(--hover-color));
}
.light .pfp-border-colors{
	--c0: var(--pfp-color-0-light, var(--hover-color));
	--c1: var(--pfp-color-1-light, var(--hover-color));
	--c2: var(--pfp-color-2-light, var(--hover-color));
}
.pfp-border-colors{
	// -webkit-box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color-0-2), 
	// 	1px 0px 3px 0px var(--pfp-color-0), 1px -2px 3px 0px var(--pfp-color-0);
	// -moz-box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color-0-2), 
	// 	1px 0px 3px 0px var(--pfp-color-0), 1px -2px 3px 0px var(--pfp-color-0);
	// box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color-0-2), 
	// 	1px 0px 3px 0px var(--pfp-color-0), 1px -2px 3px 0px var(--pfp-color-0);
	

	// ----c0: var(--pfp-color-0, var(--hover-color));
	// ----c1: var(--pfp-color-1, var(--hover-color));
	// ----c2: var(--pfp-color-2, var(--hover-color));
	// -webkit-box-shadow: -1px 0px 3px 0px var(----c0), 1px 3px 2px 0px var(----c2), 
	// 	1px 0px 3px 0px var(----c1), 1px -2px 3px 0px var(----c1);
	// -moz-box-shadow: -1px 0px 3px 0px var(----c0), 1px 3px 2px 0px var(----c2), 
	// 	1px 0px 3px 0px var(----c1), 1px -2px 3px 0px var(----c1);
	// box-shadow: -1px 0px 3px 0px var(----c0), 1px 3px 2px 0px var(----c2), 
	// 	1px 0px 3px 0px var(----c1), 1px -2px 3px 0px var(----c1);


	// --c0: var(--pfp-color-0, var(--hover-color));
	// --c1: var(--pfp-color-1, var(--hover-color));
	// --c2: var(--pfp-color-2, var(--hover-color));
	-webkit-box-shadow: -1px 0px 3px 0px var(--c0), 1px 3px 2px 0px var(--c2), 
		1px 0px 3px 0px var(--c1), 1px -2px 3px 0px var(--c1);
	-moz-box-shadow: -1px 0px 3px 0px var(--c0), 1px 3px 2px 0px var(--c2), 
		1px 0px 3px 0px var(--c1), 1px -2px 3px 0px var(--c1);
	box-shadow: -1px 0px 3px 0px var(--c0), 1px 3px 2px 0px var(--c2), 
		1px 0px 3px 0px var(--c1), 1px -2px 3px 0px var(--c1);
}