@mixin custom-box-shadow($x: 0px, $y: 0px, $blur: 21px, $spread: 4px, $color: rgba(45, 255, 196, 0.12)) {
	-webkit-box-shadow: #{$x} #{$y} #{$blur} #{$spread} #{$color} !important;
	-moz-box-shadow: #{$x} #{$y} #{$blur} #{$spread} #{$color} !important;
	box-shadow: #{$x} #{$y} #{$blur} #{$spread} #{$color} !important;
}

.pixel-art, .pixelart{
	image-rendering: pixelated;
  	image-rendering: crisp-edges; /* fallback for some browsers */
}

.no-display{
	display: none;
}

.spoiler-blur{
	transition: 2s;
	filter: blur(20px);
	&:hover{
		transition: 0.4s;
		filter: blur(0px);
	}
}

.sticky{
	position: sticky !important;
	top: var(--sticky-top-position, 0px) !important;
}

.accent-color{
	color: var(--hover-color);
}

.hover-accent-color:hover{
	color: var(--hover-color);
}

// INFO https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js
.unselectable {
	pointer-events: none;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.underline{
	text-decoration: underline;
}

.hover-underline:hover{
	text-decoration: underline;
}

.link-no-decoration{
	text-decoration: none !important;
	border: none !important;
	&:hover{
		text-decoration: none !important;
		border: none !important;
	}
	img:hover, a:hover{
		text-decoration: none !important;
		border: none !important;
	}
}

.super-bold{
	font-weight: 900;
}

.non-selectable {
	display: inline-block;
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.inline-block{
	display: inline-block;
}

.filter-shadow{
	-webkit-filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
	filter: drop-shadow( 1px 2px 2px rgba(0, 0, 0, .99));
}

.filter-shadow-big{
	-webkit-filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.75));
	filter: drop-shadow(0px 4px 8px rgba(0,0,0,0.75));
}

.no-box-shadow{
	box-shadow: none !important;
}

.bloom-text{
	color: white;
	text-shadow: 0px 0px var(--text-fx-bloom-size, 8px) var(--text-fx-bloom-color, var(--hover-color)),
				0px 0px 1px var(--text-fx-bloom-color, var(--hover-color));
}

.bloom-box-shadow{
	// box-shadow: 0px 0px var(--text-fx-bloom-size, 8px) var(--text-fx-bloom-color, var(--hover-color)),
	box-shadow: 
		0px 0px 1px 0px white,
		0px 0px 7px 2px var(--hover-color, white),
		// 0px 0px 5px 2px var(--hover-color, white),
	// 0px 0px 1px var(--text-fx-bloom-color, var(--hover-color)),
	// 0px 0px 10px var(--hover-color, var(--hover-color)),
	// 0px 0px 5px var(--text-fx-bloom-color, white),
	// 0px 4px 10px var(--hover-color, white),
	// 0px 1px 5px 3px white;
		;
	// 0px 4px 2px var(--hover-color, white);
}


.legible-text-shadow{
	$shadow-color: #000;
	// text-shadow: 0px 2px 4px $shadow-color, 
	// 		0px 4px 8px $shadow-color,
	// 		0px -1px 3px $shadow-color,
	// 		;
	text-shadow: 0px 1px 4px $shadow-color, 
			;
}

.text-align-left{
	text-align: left;
}

.text-align-center{
	text-align: center !important;
}

.text-align-center{
	width: fit-content; /* optional, for tight content */
	p, h1, h2, h3, h4, h5, h6 {
		text-align: center !important;
		margin: 0 auto;
		display: inline-block;
	}
}

.hover-border-bloom:hover{
	// @include custom-box-shadow(2px, 2px, 10px, 0px, var(--hover-color));
	@include custom-box-shadow(0px, 0px, 8px, 3px, var(--hover-color));
	// border: ;
}

.list-style-none{
	list-style: none;
}

.half-border-radius{
	border-radius: 50% !important;
	overflow: hidden;
	& > * {
		border-radius: 50% !important;
	}
}

.dark .pfp-border-colors{
	--c0: var(--pfp-color-0-dark, var(--hover-color));
	--c1: var(--pfp-color-1-dark, var(--hover-color));
	--c2: var(--pfp-color-2-dark, var(--hover-color));
}
.light .pfp-border-colors{
	--c0: var(--pfp-color-0-light, var(--hover-color));
	--c1: var(--pfp-color-1-light, var(--hover-color));
	--c2: var(--pfp-color-2-light, var(--hover-color));
}
.pfp-border-colors{
	// -webkit-box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color-0-2), 
	// 	1px 0px 3px 0px var(--pfp-color-0), 1px -2px 3px 0px var(--pfp-color-0);
	// -moz-box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color-0-2), 
	// 	1px 0px 3px 0px var(--pfp-color-0), 1px -2px 3px 0px var(--pfp-color-0);
	// box-shadow: -1px 0px 3px 0px var(--hover-color), 1px 3px 2px 0px var(--pfp-color-0-2), 
	// 	1px 0px 3px 0px var(--pfp-color-0), 1px -2px 3px 0px var(--pfp-color-0);
	

	// ----c0: var(--pfp-color-0, var(--hover-color));
	// ----c1: var(--pfp-color-1, var(--hover-color));
	// ----c2: var(--pfp-color-2, var(--hover-color));
	// -webkit-box-shadow: -1px 0px 3px 0px var(----c0), 1px 3px 2px 0px var(----c2), 
	// 	1px 0px 3px 0px var(----c1), 1px -2px 3px 0px var(----c1);
	// -moz-box-shadow: -1px 0px 3px 0px var(----c0), 1px 3px 2px 0px var(----c2), 
	// 	1px 0px 3px 0px var(----c1), 1px -2px 3px 0px var(----c1);
	// box-shadow: -1px 0px 3px 0px var(----c0), 1px 3px 2px 0px var(----c2), 
	// 	1px 0px 3px 0px var(----c1), 1px -2px 3px 0px var(----c1);


	// --c0: var(--pfp-color-0, var(--hover-color));
	// --c1: var(--pfp-color-1, var(--hover-color));
	// --c2: var(--pfp-color-2, var(--hover-color));
	-webkit-box-shadow: -1px 0px 3px 0px var(--c0), 1px 3px 2px 0px var(--c2), 
		1px 0px 3px 0px var(--c1), 1px -2px 3px 0px var(--c1);
	-moz-box-shadow: -1px 0px 3px 0px var(--c0), 1px 3px 2px 0px var(--c2), 
		1px 0px 3px 0px var(--c1), 1px -2px 3px 0px var(--c1);
	box-shadow: -1px 0px 3px 0px var(--c0), 1px 3px 2px 0px var(--c2), 
		1px 0px 3px 0px var(--c1), 1px -2px 3px 0px var(--c1);
}





// $shadow_iterations:20;
// $alpha_atenuation:.1;
// $x_dir: 0.4;
// $y_dir: 1;
// $blur_level:.5;

$shadow_iterations:10;
$alpha_atenuation:.1;
$x_dir: 0.9;
$y_dir: 2;
$blur_level:1;


// $shadow_iterations:10;
// $alpha_atenuation:.12;
// $x_dir: 1.0;
// $y_dir: 2;
// $blur_level:.5;

$filter-shadow-values: ();
@for $i from 1 through $shadow_iterations {
	$alpha: (1 - ($i / $shadow_iterations)) * $alpha_atenuation;
	$blur: ($i / $shadow_iterations) * $blur_level;
	// $filter-shadow-values: append($filter-shadow-values, #{$i*$x_dir}px #{$i*$y_dir}px #{$blur}px rgba(8,8,8,$alpha), comma);
	// $filter-shadow-values: append($filter-shadow-values, drop-shadow(#{$i*$x_dir}px #{$i*$y_dir}px #{$blur}px rgba(8,8,8,$alpha)), comma);
	$shadow: #{drop-shadow(#{$i * $x_dir}px #{$i * $y_dir}px #{$blur}px rgba(8,8,8,$alpha))};
	$filter-shadow-values: append($filter-shadow-values, $shadow, space);
}

// $text-shadow-values: append($text-shadow-values, 0px 3px 4px var(--text-2), comma);
// $text-shadow-values: append($text-shadow-values, 0px 0px 4px var(--text-2), comma);
// $filter-shadow-values: append($filter-shadow-values, 0px 3px 4px var(--text-2), comma);
// $filter-shadow-values: append($filter-shadow-values, 0px 0px 4px var(--text-2), comma);

// $filter-shadow-values: append($filter-shadow-values, drop-shadow( 0px 3px 4px var(--text-2)), space);
// $filter-shadow-values: append($filter-shadow-values, drop-shadow(0px 0px 4px var(--text-2)), space);

$filter-shadow-values: append($filter-shadow-values, drop-shadow( 0px 3px 4px rgba(8,8,8,.5)), space);
$filter-shadow-values: append($filter-shadow-values, drop-shadow(0px 0px 4px rgba(8,8,8,.5)), space);

html.light .bloom-shadow{
	// text-shadow: $text-shadow-values2;
	// font-weight: var(--text-weight, 900);
	// color: white;

	// filter: brightness(30%);;
	// filter:drop-shadow(0 5px 3px rgba(0, 0, 0, 0.907)) drop-shadow(10px 25px 3px rgba(0, 0, 0, 0.907));
	// filter:drop-shadow(0 5px 3px rgba(0, 0, 0, 0.907)) drop-shadow(10px 25px 3px rgba(0, 0, 0, 0.907));

	// $shadow_color: #00000091;
	// filter: drop-shadow(0px 1px 1px $shadow_color)
	// 		drop-shadow(1px 2px 2px $shadow_color)
	// 		drop-shadow(2px 4px 3px $shadow_color)
	// 	;
	filter: $filter-shadow-values;

}
html.dark .bloom-shadow{
// .bloom-shadow{
	text-shadow: 0px 0px var(--text-fx-bloom-size, 8px) var(--text-fx-bloom-color, var(--hover-color)),
				0px 0px 1px var(--text-fx-bloom-color, var(--hover-color));
	// font-weight: var(--text-weight, 900);

	// filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0)) ;
	// filter: drop-shadow(0 0 3px var(--hover-color)) ;

	// --brighter-hover-color: color-mix(in srgb, var(--hover-color), white 30%);
	
	// --brighter-hover-color: color-mix(in srgb, var(--hover-color), white 20%);
	// filter: drop-shadow(0 0 3px var(--brighter-hover-color)) ;
	// filter: drop-shadow(0 0 3px var(--hover-color)) ;
	// filter: drop-shadow(0 0 6px var(--hover-color)) ;


	// filter:  drop-shadow(0 0 7px var(--hover-color)) $filter-shadow-values;
	filter:  drop-shadow(0 0 7px var(--hover-color)) ;


	// $increment: 1


	// filter: drop-shadow(0 0 3px white);
	// filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0)) drop-shadow(0 10px 2px rgb(0, 252, 96));

}
