{{/*  TODO tags list.html  */}}
{{ define "main" }}
  {{/*  {{ partial "title.html" . }}  */}}
  <hgroup>
    {{/*  Show total articles in tag's title/name  */}}
    {{$tag_count := ""}}
    {{ if eq .Kind "taxonomy" }}
      {{$tag_count = len .Site.Taxonomies.tags }}
    {{ else if eq .Kind "term" }}
      {{ $articles_with_tag := where .Site.RegularPages "Params.tags" "intersect" (slice (.Title | lower)) }}
      {{$tag_count = len $articles_with_tag }}
    {{ end }}
    <h1 class="accent-color">#{{ .Title }} <sup class="text2-color">{{$tag_count}}</sup></h1>
  </hgroup>

  {{/*  section.galleries is displayed as grid  */}}
    {{/*  <section>  */}}
    {{ if eq .Kind "term"}}
      {{/*  ARTICLES in a CERTAIN TAG  */}}
      {{ partial "tags/render-single-tag" . }}
      
    {{ else if eq .Kind "taxonomy"}}
      {{ partial "tags/render-tags-list" . }}

    {{ end }}
      
    {{ .Content | markdownify }}


    {{/*  Galleries with the same tag  */}}


    {{/*  {{ partial "tag-cloud.html" . }}  */}}
{{ end }}
