{{/*  {{ $source := .Request.URL.Query.Get "source" }}

<h1>source = {{$source}}</h1>  */}}

<section class="galleries">
  {{ range where .Pages "Params.private" "ne" true }}
  {{/*  {{ partial "album-card.html" . }}  */}}
  {{ partial "article-card.html" . }}
  {{/*  {{ partial "articles/article-card.html" . }}  */}}
  {{ end }}
</section>

{{/*  Galeries with the same tag  */}}
{{ if .Site.Params.show_galeries_with_same_article_tag }}
  {{ $galleries_with_tag := partial "utils/get-galleries-with-tag" (dict "tag" .Title)}}
  {{ if gt (len $galleries_with_tag) 0 }}
    <hgroup>
      {{/*  <h1>{{len $galleries_with_tag}} galerias con el tag '{{.Title}}'</h1>  */}}
      <h2>{{ T "albumWithTagCount" (dict "count" (len $galleries_with_tag) "tag" .Title) | safeHTML}}</h2>
      {{/*  <h1>{{ T "relatedArticles" }}</h1>  */}}
    </hgroup>
    <section class="galleries">
      {{ range $galleries_with_tag}}
        {{ partial "album-card" . }}
        {{/*  <h1>{{.Title}}</h1>  */}}
      {{ end }}
    </section>
  {{ else }}
  <h1>No related albums {{T "relatedAlbums"}} </h1>
  {{ end }}
{{ end }}