{{- $pfp_resource_image := "" -}}
{{- $article_custom_pfp := "" -}}

{{- with .Page.Params.custom_pfp -}}
	{{- /*  {{- $article_custom_pfp = or ($.Page.Resources.Get .) (resources.GetMatch . ) -}}  */ -}}
	{{- /*  {{- $article_custom_pfp = or (resources.GetMatch . ) ($.Page.Resources.Get .) -}}  */ -}}
	{{- $article_custom_pfp = or (resources.GetMatch (printf "**/*%s*" .) ) ($.Page.Resources.Get .) -}}
	{{- if not $article_custom_pfp -}}
		{{- errorf "custom_pfp: '%s' not found at '%s' (%s)" . $.Title $.File.Path -}}
	{{- end -}}
{{- else -}}
	{{- $article_custom_pfp = .Page.Resources.GetMatch "**pfp**" -}}
{{- end  -}}

{{- if $article_custom_pfp -}}
	{{- $pfp_resource_image = $article_custom_pfp -}}
{{- else -}}
	{{- $pfp_resource_image = resources.Get .Site.Params.articles_pfp_image -}}
	{{- if not $pfp_resource_image -}}
		{{- errorf "%s not found in 'assets' folder" .Site.Params.articles_pfp_image -}}
	{{- end -}}
{{- end -}}

{{- $pfp_resource := $pfp_resource_image -}}
{{- if and (ne $pfp_resource_image.MediaType.SubType "gif") (ne $pfp_resource_image.MediaType.SubType "webp") -}}
	{{- /*  {{- $pfp_resource = $pfp_resource_image.Filter (images.Process "fit 250x250") -}}  */ -}}
	{{- $pfp_resource = $pfp_resource_image.Filter (images.Process "resize 250x250") -}}
{{- end -}}

{{- return $pfp_resource -}}