{{- $gallery := partial "get-gallery.html" . -}}
{{- with $gallery -}}
  {{ $style := "" | safeHTMLAttr}}
  {{ if .color_hover}}
    {{ $style = (printf "style='--bloom-box-shadow-color: %s; --main-col: %s; --bright-col: %s;'" .color_hover .color_main .color_brightest) | safeHTMLAttr }}
  {{ end }}
  <a class="card" {{- $style -}} href="{{- .page.RelPermalink -}}" title="{{- .page.Title -}}">
    <figure style="background-color: {{- .color -}}">
      <img class="lazyload" width="{{- .thumbnail.Width -}}" height="{{- .thumbnail.Height -}}" data-src="{{- .thumbnail.RelPermalink -}}" alt="{{- .page.Title -}}" />
      {{- if .thumbnail_hover -}}
        <img class="lazyload hover-cover-image" width="{{- .thumbnail_hover.Width -}}" height="{{- .thumbnail_hover.Height -}}" data-src="{{- .thumbnail_hover.RelPermalink -}}" alt="{{- .page.Title -}}" />
      {{- end -}}
    </figure>
    <div>
      <h2>{{- .page.Title -}}</h2>
      <p>
        {{- if gt .albumCount 0 -}}
          {{- T "albumCount" (dict "count" (.albumCount | lang.FormatNumber 0) "photoCount" (.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) -}}
        {{- else -}}
          {{- T "photoCount" (.imageCount | lang.FormatNumber 0) -}}
        {{- end -}}
      </p>
    </div>
  </a>
{{- end -}}
