<aside class="articles-right-bar" >
	{{/*  <hgroup>  */}}




		
	{{/*  <h3>About me</h3>  */}}
	{{/*  <h3>{{ T "articleAboutMe" }}</h3>  */}}
	<h3 class="uppercase">{{ T "articleAboutMe" }}</h3>
	{{/*  <h3 class="uppercase">{{ T "articleAboutMe" | upper }}</h3>  */}}
	{{/*  <h3>{{ T "articleAboutMe" | title}}</h3>  */}}
	{{/*  <img href="">  */}}
	{{/*  <img id="szk_pfp" src="{{ .Params.profile_picture }}">  */}}
	{{/*  <img id="szk_pfp" src="/images/yo.jpg">  */}}
	<img id="articles-pfp" src="/images/yo.jpg">
	{{/*  <h2>Suzuka Ka</h2>  */}}
	<p>{{ T "articleAboutMeDescription" }}</p>
	{{/*  <img src="/images/yo.jpg">  */}}
	{{/*  </hgroup>  */}}
	{{/*  <div class="flexi">  */}}
		{{partial "social-icons.html" .}}
	{{/*  </div>  */}}
	{{/*  <hr>  */}}
	{{/*  <p>pensar</p>  */}}
	<hr>

	<h3 class="uppercase">TAGS</h3>
	{{/*  NOTE test  */}}
	{{/*  {{ $test_tags := "art 3d 2d drawing blender krita coding music reaper blender k-sprite"}}  */}}
	{{/*  {{ $test_tags_array := split $test_tags " "}}  */}}
	<div class="article-tags">
		{{/*  {{ range $test_tags_array}}  */}}
		{{/*  {{ range .Site.Taxonomies.tags }}  */}}
			{{/*  <pre>. = {{ debug.Dump . }}</pre>  */}}
			{{/*  <a class="article-tag">{{.}}</a>  */}}
		{{/*  {{ end }}  */}}

		{{/*  {{ partial "all-tags.html" . }}  */}}
		{{ partial "tag-cloud.html" . }}

	</div>

</aside>
