<aside class="articles-right-bar sticky" >
	{{/*  <hgroup>  */}}

{{/*  REFACTOR eliminar comentarios  */}}


	{{ $about_page := .Site.GetPage "about" }}
	{{ $about_url := $about_page.RelPermalink }}
		
	{{/*  <h3>About me</h3>  */}}
	{{/*  <h3>{{ T "articleAboutMe" }}</h3>  */}}
	<a class="hover-accent-color" href="{{$about_url}}">
		<h3 class="uppercase">{{ T "articleAboutMe" }}</h3>
		{{/*  <h3 class="uppercase">{{ T "articleAboutMe" | upper }}</h3>  */}}
		{{/*  <h3>{{ T "articleAboutMe" | title}}</h3>  */}}
		{{/*  <img href="">  */}}
		{{/*  <img id="szk_pfp" src="{{ .Params.profile_picture }}">  */}}
		{{/*  <img id="szk_pfp" src="/images/yo.jpg">  */}}
		{{- /*  <img id="articles-pfp" src="{{.Site.Params.articles_pfp_image}}">  */ -}}
		
		{{- /*  {{- $pfp_resource := .Site.Resources.Get .Site.Params.articles_pfp_image -}}  */ -}}
		{{- $pfp_resource := resources.Get .Site.Params.articles_pfp_image -}}
		{{- if not $pfp_resource -}}
			{{- errorf "%s not found in 'assets' folder" .Site.Params.articles_pfp_image -}}
		{{- end -}}
		{{- $pfp_resource = $pfp_resource.Filter (images.Process "fit 250x250") -}}
		<img id="articles-pfp" src="{{$pfp_resource.RelPermalink}}">
		
		{{/*  <h2>Patrick</h2>  */}}
		{{/*  <p>{{ T "articleAboutMeDescription" }}</p>  */}}
		{{ with $about_page.Params.articles_description }}
			<p>{{ . }}</p>
		{{ end }}
	</a>
	{{/*  <img src="/images/yo.jpg">  */}}
	{{/*  </hgroup>  */}}
	{{/*  <div class="flexi">  */}}
		{{partial "social-icons.html" .}}
	{{/*  </div>  */}}
	{{/*  <hr>  */}}
	{{/*  <p>pensar</p>  */}}
	<hr>

	{{ $tags_page := .Site.GetPage "/tags/" }}
	<a class="hover-accent-color" href="{{ $tags_page.RelPermalink }}"><h3 class="uppercase">TAGS</h3></a>
	{{/*  NOTE test  */}}
	{{/*  {{ $test_tags := "art 3d 2d drawing blender krita coding music reaper blender k-sprite"}}  */}}
	{{/*  {{ $test_tags_array := split $test_tags " "}}  */}}
	<div class="article-tags">
		{{/*  {{ range $test_tags_array}}  */}}
		{{/*  {{ range .Site.Taxonomies.tags }}  */}}
			{{/*  <pre>. = {{ debug.Dump . }}</pre>  */}}
			{{/*  <a class="article-tag">{{.}}</a>  */}}
		{{/*  {{ end }}  */}}

		{{/*  {{ partial "all-tags.html" . }}  */}}
		{{ partial "tag-cloud.html" . }}

	</div>

</aside>
