<aside class="articles-right-bar" >
	{{/*  <hgroup>  */}}
	<h3>TAGS</h3>
	{{/*  <p>poner tags</p>  */}}
	{{/*  NOTE test  */}}
	{{ $test_tags := "art 3d 2d drawing blender krita coding music reaper blender k-sprite"}}
	{{ $test_tags_array := split $test_tags " "}}
	{{ range $test_tags_array}}
		<a class="article-tag">{{.}}</a>
	{{ end }}



	<hr class="full-separator">
	
	<h2>About me</h2>
	{{/*  <img href="">  */}}
	{{/*  <img id="szk_pfp" src="{{ .Params.profile_picture }}">  */}}
	{{/*  <img id="szk_pfp" src="/images/yo.jpg">  */}}
	<img id="articles-pfp" src="/images/yo.jpg">
	<h2>Suzuka Ka</h2>
	{{/*  <img src="/images/yo.jpg">  */}}
	{{/*  </hgroup>  */}}
	{{partial "social-icons.html" .}}

	<hr>

</aside>
