<footer>
  {{ partialCached "social-icons.html" . }}
  <section class="footer-copyright">
    © 
    {{ now.Format "2006" }}
    {{ .Site.Copyright }}.
    {{ T "allRightsReserved" }}
    {{ range .Site.Menus.footer }}
      <a {{ with .Params.rel -}}rel="{{ . }}"{{ end -}} href="{{ .URL }}">
        {{ .Name }}
      </a>
    {{ end }}
  </section>
{{- if .Site.Params.is_site_under_development -}}<blockquote style="text-align: center;">{{T "underDevelopment" | markdownify }}</blockquote>{{- end -}}
</footer>
