{{/*  
-- Returns the PATH (string) of the cover image of an article --

If the .md has set the param 'article_cover', it will use that image. 

If not, it will:
- If the article is a 'leaf bundle' (this means is an article in its own folder (with an index.md)), 
it CAN has its own resources, and will look automatically for an image with the name "cover.*" (will match any extension)

- If is not a leaf bundle, it will use a default image stored in "static/article-covers/"

*/}}

{{ $cover_image_path := "" }}
{{ $DEFAULT_IMAGE_PATH := "/images/articles/default-article-cover.png" }}

{{/*  REFACTOR delete comments  */}}
{{ if .Params.article_cover }}
	{{/*  PREVIOUS  */}}
	{{/*  {{ $cover_image_path = .Params.article_cover }}  */}}

	{{/*  When an article is not a leaf bundle  */}}
	{{ $default_lang_path := .Site.Sites.Default.Home.RelPermalink }}
	{{/*  {{ $cover_image_path = (printf "%s%s/%s" $default_lang_path .Section .Params.article_cover) }}   */}}
	{{ $cover_image_path = (path.Join $default_lang_path .Section .Params.article_cover) }} 

	{{/*  {{ $cover_image_path = (absLangURL .Params.article_cover) }}  */}}
	{{/*  {{ $cover_image_path = printf (relLangURL  .Params.article_cover) }}  */}}
	{{/*  {{ $cover_image_path = printf "%s%s/%s" (relLangURL "") .Section .Params.article_cover}}  */}}
	{{/*  NOW  */}}
	{{/*  {{ $cover_image_path = printf "/%s/%s/%s" (.Site.Params.default_language) .Section .Params.article_cover}}  */}}
	{{/*  {{ $cover_image_path = printf "/%s/%s/%s" (site.LanguagePrefix | absURL) .Section .Params.article_cover}}  */}}
	{{/*  {{ $cover_image_path = (site.LanguagePrefix | absURL) }}  */}}
	{{/*  {{ $cover_image_path = (.Site.Sites.Default.Home.RelPermalink) }}  */}}



	{{/*  {{absLangURL "tags/"}}{{$tag}}  */}}
	{{/*  {{ $cover_image_path = (printf "%s%s" .RelPermalink .Params.article_cover) }}  */}}
	{{/*  {{ $cover_image_path = (printf "%s/%s/%s" site.Language.Lang .Section .Params.article_cover) }}  */}}
	
	{{/*  {{ $cover_image_path = (printf "/%s/%s/%s" site.Params.defaultContentLanguage .Section .Params.article_cover) }}  */}}
	
	{{/*  NOTE Funciona, pero claro...  */}}
	{{/*  {{ $cover_image_path = (printf "/%s/%s/%s" "es" .Section .Params.article_cover) }}   */}}
	{{/*  NOTE Better  */}}
	{{/*  {{ $cover_image_path = (printf "/%s/%s/%s" .Site.Params.default_language .Section .Params.article_cover) }}   */}}



	{{/*  {{ $cover_image_path = (printf "/%s/%s/%s" (.Site.LanguagePrefix | absURL) .Section .Params.article_cover) }}   */}}
	{{/*  {{ $cover_image_path = (printf "%s/%s/%s" (.Site.DefaultContentLanguage) .Section .Params.article_cover) }}   */}}
	{{/*  {{ $cover_image_path = (printf "%s/%s/%s" (.Site.Language.Lang) .Section .Params.article_cover) }}   */}}
	{{/*  {{ $cover_image_path = (printf "%s/%s/%s" ($.Site.LanguageCode) .Section .Params.article_cover) }}   */}}
	


	{{/*  {{ $cover_image_path = (printf "/%s" site.Params.defaultContentLanguage) }}  */}}
	{{/*  {{ $cover_image_path = (printf "%s" .Site.LanguagePrefix) }}  */}}
	{{/*  {{ $cover_image_path = (printf "%s" .Site.defaultContentLanguage) }}  */}}
	{{/*  {{ $cover_image_path = (printf "%s" .Site.Language.Lang) }}  */}}

	{{/*  {{ $cover_image_path = (printf "%s%s" .Permalink .Params.article_cover) }}  */}}
	{{/*  {{ $cover_image_path = (printf "/%s/%s" "en" .Params.article_cover) }}  */}}
{{ else }}
	{{ if eq .BundleType "leaf"}}
		{{ $images := .Resources.Match "cover.*"}}
		{{ if gt (len $images) 0 }}
			{{ $cover_image := index $images 0 }}
			{{ $cover_image_path = $cover_image.RelPermalink }}
		{{ else }}
			{{ $first_image_path := partial "get-first-image-in-markdown.html" . }}
			{{ if $first_image_path }}
				{{ $cover_image_path = $first_image_path }}

				{{ $cover_image_path = (printf "%s/%s" .Path $first_image_path) }}
				{{/*  {{$res := .Resources.Get $first_image_path}}  */}}
				{{/*  {{ $cover_image_path = $res.RelPermalink }}  */}}

			{{ else }}
				{{ $cover_image_path = $DEFAULT_IMAGE_PATH }}
			{{ end }}
		{{ end }}
	{{ else }}
		{{ $cover_image_path = $DEFAULT_IMAGE_PATH }}
	{{ end }}
{{ end }}

{{ return $cover_image_path }}