{{ $gallery := "" }}
{{/*  ORIGINAL: Gets all images  */}}
{{/*  {{ $images := .Resources.ByType "image" }}  */}}

{{/*  Exclude images in hidden folder  */}}
{{ $_all_images := .Resources.ByType "image" }}
{{ $images := slice }}
{{ range $_all_images }}
  {{ if not (strings.Contains .RelPermalink "hidden/") }}
    {{/*  {{ warnf "ADDED: RelPermalink= %v" .RelPermalink}}  */}}
    {{ $images = $images | append . }}
  {{ end }}
{{ end }}


{{/*  DEBUG  */}}
{{/*  {{range $images}}
{{ warnf "DEBUG: RelPermalink= %v" .RelPermalink}}
{{ end }}  */}}



{{/*  {{ $images := .Resources.Match "images/*" }}  */}}

{{/*  {{ if gt (len $images) 0 }}
  {{ $images := .Resources.Match "images/*" }}
  {{ warnf "DEBUG: $images= %v" $images}}
{{ end }}  */}}

{{ if gt (len $images) 0 }}
  {{ $index := 0 }}
  {{ range $i, $image := $images }}
    {{ if index $image.Params "cover" }}
      {{ $index = $i }}
    {{ end }}
  {{ end }}
  {{- /*  This only get files with "feature" in the name that ARE IN THE SAME LEVEL (not in subdirectories)  */ -}}
  {{- /*  {{ $featured := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images $index) }}  */ -}}

  {{- /*  This gets files with "featured" in its name both in the same level or in subdirectories  */ -}}
  {{ $featured_match := or 
    ($_all_images.GetMatch .Params.featured_image) 
    (or 
        ($_all_images.GetMatch "*feature*") 
        ($_all_images.GetMatch "**/*feature*")
    )
  }}

  {{ $featured := $featured_match | default (index $images $index) }}

  {{/*  Fix for .webps  */}}
  {{/*  Do not process the image if the image is a gif or webp  */}}
  {{ $thumbnail := $featured }}
  {{/*  {{ if and (ne $featured.MediaType.SubType "gif") (ne $featured.MediaType.SubType "webp") }}  */}}
  {{ if or (eq $featured.MediaType.SubType "gif") (eq $featured.MediaType.SubType "webp") }}
    {{ $thumbnail = $featured }}
  {{ else }}
    {{ $thumbnail = $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
    {{- /*  Test to check that it was working  */ -}}
    {{- /*  {{ $thumbnail = $featured.Filter (images.GaussianBlur 10) (images.Pixelate 8) }}  */ -}}
  {{ end }}

  {{/*  Original code  */}}
  {{/*  {{ $thumbnail := $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}  */}}
  
  {{- /*  Hover image  */ -}}
  {{- $thumbnail_hover := "" -}}
  {{- $HOVER_NAME_KEYWORD := "hover" -}}
  {{- $hover_match := or 
    ($_all_images.GetMatch .Params.featured_image_hover) 
    (or 

      ($_all_images.GetMatch (printf "*%s*" $HOVER_NAME_KEYWORD)) 
      ($_all_images.GetMatch (printf "**/*%s*" $HOVER_NAME_KEYWORD))
    )
  -}}
  {{- /*  {{- $thumbnail_hover = $hover_match -}}  */ -}}
  {{ if $hover_match }}
    {{ if or (eq $featured.MediaType.SubType "gif") (eq $featured.MediaType.SubType "webp") }}
      {{ $thumbnail_hover = $hover_match }}
    {{ else }}
      {{ $thumbnail_hover = $hover_match.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
    {{ end }}
  {{ end }}

  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}

  {{ $color_hover := $color }}
  {{ $all_colors := $thumbnail.Colors }}
  {{ if $thumbnail_hover }}
    {{ $color_hover = index $thumbnail_hover.Colors 0 | default "transparent" }}
    {{ $all_colors = $thumbnail_hover.Colors }}
  {{ end }}
  {{ $brightest_color := index (sort $all_colors "Luminance" "desc") 0 }}
  {{ $main_color := index ($all_colors) 0 }}
  {{ if $.Params.hover_color }}
    {{ $color_hover = $.Params.hover_color }}
  {{ end }}

  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $images }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len (.Resources.ByType "image")) }}
    {{ end }}
  {{ end }}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "thumbnail_hover" $thumbnail_hover
    "color" $color
    "color_hover" $color_hover
    "color_brightest" $brightest_color
    "color_main" $main_color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
