{{ $gallery := "" }}
{{/*  ORIGINAL: Gets all images  */}}
{{/*  {{ $images := .Resources.ByType "image" }}  */}}

{{/*  Exclude images in hidden folder  */}}
{{ $_all_images := .Resources.ByType "image" }}
{{ $images := slice }}
{{ range $_all_images }}
  {{ if not (strings.Contains .RelPermalink "hidden/") }}
    {{/*  {{ warnf "ADDED: RelPermalink= %v" .RelPermalink}}  */}}
    {{ $images = $images | append . }}
  {{ end }}
{{ end }}


{{/*  DEBUG  */}}
{{/*  {{range $images}}
{{ warnf "DEBUG: RelPermalink= %v" .RelPermalink}}
{{ end }}  */}}



{{/*  {{ $images := .Resources.Match "images/*" }}  */}}

{{/*  {{ if gt (len $images) 0 }}
  {{ $images := .Resources.Match "images/*" }}
  {{ warnf "DEBUG: $images= %v" $images}}
{{ end }}  */}}

{{ if gt (len $images) 0 }}
  {{ $index := 0 }}
  {{ range $i, $image := $images }}
    {{ if index $image.Params "cover" }}
      {{ $index = $i }}
    {{ end }}
  {{ end }}
  {{ $featured := ($images.GetMatch (.Params.featured_image | default "*feature*")) | default (index $images $index) }}

  {{/*  Fix for .webps  */}}
  {{/*  Do not process the image if the image is a gif or webp  */}}
  {{ $thumbnail := $featured }}
  {{/*  {{ if and (ne $featured.MediaType.SubType "gif") (ne $featured.MediaType.SubType "webp") }}  */}}
  {{ if or (eq $featured.MediaType.SubType "gif") (eq $featured.MediaType.SubType "webp") }}
    {{ $thumbnail = $featured }}
  {{ else }}
    {{ $thumbnail = $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}
    {{- /*  Test to check that it was working  */ -}}
    {{- /*  {{ $thumbnail = $featured.Filter (images.GaussianBlur 10) (images.Pixelate 8) }}  */ -}}
  {{ end }}
  
  {{/*  Original code  */}}
  {{/*  {{ $thumbnail := $featured.Filter (slice images.AutoOrient (images.Process "fit 600x600")) }}  */}}

  {{ $color := index $thumbnail.Colors 0 | default "transparent" }}
  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{ $imageCount = len $images }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $imageCount = add $imageCount (len (.Resources.ByType "image")) }}
    {{ end }}
  {{ end }}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $thumbnail
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
