  <hgroup class="profile-resume">
    {{- /*  {{ if .Title }}
      <h2 class="bloom-shadow-text">{{ .Title }}</h2>
    {{ end }}

    <a href='{{ ref . "about" }}'>
      <img id="szk_pfp" src="{{ .Params.profile_picture }}">
    </a>  */ -}}

    {{/*  Original  */}}
    {{/*  {{ .Content | markdownify}}  */}}
    {{/*  This do not delete <span> in .md  */}}
    {{ .Content | safeHTML}}
    {{/*  {{ .Content | markdownify | safeHTML}}  */}}
    {{/*  {{ .Content | safeHTML | markdownify}}  */}}
  </hgroup>

