
{{ $related := partial "utils/get-related-pages-in-section.html" . }}
{{/*  Select only the first 3  */}}
{{ $related = first 3 $related}}

{{/*  {{ $related := where (site.RegularPages.Related .) "Params.private" "ne" true | first 3 }}  */}}
{{ with $related }}
  <hr class="full-separator">
  <hgroup style="margin-top: 8rem">
    <h2>{{ T "relatedArticles" }}</h2>
  </hgroup>
  <section class="galleries">
    {{ range . }}
      {{/*  <h1>{{.Title}}</h1>  */}}
	  {{/*  <a href="{{.RelPermalink}}">{{.Title}}</a>  */}}
	  {{/*  TODO hacer un articles/article-card.html  */}}
      {{/*  {{ partial "album-card.html" . }}  */}}
      {{ partial "articles/article-card.html" . }}
    {{ end }}
  </section>
{{ end }}
