{{ define "main" }}
  <hgroup >


    <div class="wave-container text1-color">
      <h1 class="wave-text shadow-dance-text">
          {{/*  <span>4</span><span>0</span><span>4</span><span>E</span>  */}}
          <span>E</span><span>r</span><span>r</span><span>o</span><span>r</span> &nbsp;&nbsp;
<span>4</span><span>0</span><span>4</span>
      </h1>
  </div>


  {{ $error_404 := T "pageNotFound" }}
  {{ $error_404_chars := split $error_404 "" }}
  {{ $mid_index := div (len $error_404_chars) 2 | math.Ceil}}
  <h1 class="shadow-dance-text">
  {{ range $index, $char := $error_404_chars }}
    {{$distance_to_mid := sub $index $mid_index}}
    {{ if eq $char " "}}
      <span>&nbsp;</span>
    {{ else }}
      {{/*  <span class="shadow-dance-text" style="--animation-delay: {{mul $index .03}}s">{{$mid_index}}{{$char}}</span>  */}}
      <span class="shadow-dance-text" style="--distance-to-mid: {{$distance_to_mid}}px;--animation-delay: {{mul $index .03}}s">{{$char}}</span>
    {{ end }}
  {{ end }}
  </h1>

  {{/*  SMILE FACE  */}}
  <h1 style="font-size: 5em;"><span class="rotate-animation">:</span> <span class="rotate-animation" style="animation-delay: .1s;">(</span></h1>

  {{/*  <a class="btn btn-square" href="{{ .RelPermalink | default .Site.Home.RelPermalink }}" title="{{ .Title }}">Go back</a>  */}}
  {{/*  <a class="btn btn-square" href="{{ .RelPermalink | default .Site.Home.RelPermalink }}" title="{{ .Title }}">{{.RelPermalink}}Go back</a>  */}}
  {{/*  <a class="btn btn-square" href="{{ .Site.BaseURL  }}" title="{{ .Title }}">{{.Site.BaseURL }}Go back</a>  */}}
  <br>
  <a class="article-tag" href="{{ .Site.Home.RelPermalink }}" title="{{ .Title }}">{{T "goBack"}}</a>

    {{/*  {{$text := "Page not found | Página no encontrada | Page non trouvée | Seite nicht gefunden | Pagina non trovata | Página não encontrada | Pagina niet gevonden | Страница не найдена | 页面未找到 | ページが見つかりません | 페이지를 찾을 수 없습니다 | الصفحة غير موجودة | הדף לא נמצא | Sayfa bulunamadı | पृष्ठ नहीं मिला | ไม่พบหน้าที่ร้องขอ | Η σελίδα δεν βρέθηκε | Strona nie została znaleziona | Sidan hittades inte | Az oldal nem található | Sivua ei löytynyt | Stránka nebyla nalezena | Pagina nu a fost găsită" }}
    {{$text_chars := split $text "" }}
    
    <h1 class="wave-text">
    {{$y_translate := 100}}
    {{$total_count := 0}}
      {{ range $index, $char := ($text_chars := split $text "") }}
        <span style="--anim-delay:{{mul $total_count 0.8}}; ">{{(string $char)}}</span>
        {{ $total_count = add $total_count 1 }}
      {{ end }}
    </h1>  */}}



    {{/*  {{ $page_not_found := slice
      "Pate not found" 
      "Página no encontrada" 
      "Pàgina no trobada" 
      "Page non trouvée" 
      "Seite nicht gefunden" 
      "Pagina non trovata" 
      "Página não encontrada" 
      "Pagina niet gevonden" 
      "Страница не найдена" 
      "页面未找到" 
      "ページが見つかりません" 
      "페이지를 찾을 수 없습니다" 
      "الصفحة غير موجودة" 
      "הדף לא נמצא" 
      "Sayfa bulunamadı" 
      "पृष्ठ नहीं मिला" 
      "ไม่พบหน้าที่ร้องขอ" 
      "Η σελίδα δεν βρέθηκε" 
      "Strona nie została znaleziona" 
      "Sidan hittades inte" 
      "Az oldal nem található" 
      "Sivua ei löytynyt" 
      "Stránka nebyla nalezena" 
      "Pagina nu a fost găsită"
      }}

    {{ range $page_not_found}}
      {{$rand_hue := mul math.Rand 1000 | math.Ceil}}
      {{$style := (printf "text-shadow: 0 0 20px hsl(%f, 100%%, 50%%);" $rand_hue )}}
      <h1 class="wave-text" style="{{$style | safeCSS}}">
        {{$chars := (split . "")}}
        {{ range $index, $char := $chars}}
          <span>{{ $char }}</span>
        {{ end }}
      </h1>
    {{ end }}  */}}


  


  </hgroup>
{{ end }}
