// REFACTOR AUDIO
// audio{
// 	height: 100px;
// 	width: 100%;
// 	display: block;

// 	width: 100%;
// 	background-color: #f0f0f0; /* Only some browsers apply this */
// 	// border: 2px solid #ccc;
// 	border-bottom: 2px solid var(--hover-color);
// 	border-radius: 5px;
// }
$icons-opacity: .5;
// $icons-color: white;

audio{
	// border-radius: 10px;
	// border-bottom-left-radius: 10px;
	// border-bottom-right-radius: 10px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	// border-bottom-left-radius: 5px;
	// border-bottom-right-radius: 5px;
}

figure.audio-player::before{
	content: "";
  	position: absolute;
	// background: url(var(--background-image));
	background: var(--background-image);
	// background-color: red;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	border-radius: 10px;
	filter: blur(4px) brightness(56%);
	-webkit-filter: blur(4px) brightness(56%);
	-moz-filter: blur(4px) brightness(56%);
	// TODO hacer que esto sea una variable que pueda cambiar en el shortcode
	background-position: center;

	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: var(--background-position, center);
	// background-attachment: fixed;
	
	// background: linear-gradient(white, white) padding-box,
	// linear-gradient(to right, darkblue, darkorchid) border-box;
	// border-radius: 50em;
	// border: 4px solid transparent;
}

figure.audio-player{



	position: relative;
	// box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	// height: 100px;
	// background-color: pink;
	border-radius: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;


	// padding: 10px 10px;
// 	filter: blur(4px) brightness(66%);
// -webkit-filter: blur(4px) brightness(66%);
// -moz-filter: blur(4px) brightness(66%);
// 	z-index: -1;
	// padding: 10px;
	// border: 3px solid var(--border-color, var(--hover-color));
	// border: 4px outset  var(--border-color, var(--hover-color));
	border: 3px solid  var(--border-color, var(--hover-color));
	// border-image: linear-gradient(to top, darkblue, darkorchid) 1;
	// border-image: linear-gradient(to top, var(--surface-1), var(--hover-color)) 1;
	padding: -100px -100px;


	font-size: 2rem;
	div{
		display: flex;
		flex-direction: row;
		gap: 10px;
		padding: 10px 10px;

	}
	img{
		all: unset;
		// border-radius: 9999px;
		border-radius: .3rem;
		// padding: 10px 10px;
		// margin: 10px 10px;
		// width: 20%;
		height: 100px;
		align-self: flex-start;
		//box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		box-shadow: rgba(0, 0, 0, 0.93) 0px 5px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	}

	.audio-info{
		padding-top: 15px;
		h1{
			font-size: 1em;
			// text-shadow: 2px 2px 2px #CE5937;
			text-shadow: 2px 2px 2px var(--hover-color);
			color: var(--text-1-dark);
			// border-image: linear-gradient(0.25turn, transparent 0%, var(--hover-color) 0%, var(--hover-color) 70%, transparent 100%);
			border-image: linear-gradient(0.25turn, transparent 0%, var(--border-color) 0%, var(--border-color) 70%, transparent 100%);
			border-image-slice: 1;
		}
		h2{
			font-size: .7em;
			// text-indent: .5em;
			// color: pink;
			// color: var(--text-2-dark);
			color: var(--text-1-dark);
			opacity: .6;
		}
		// h1,h2{
		// }

		h2::before{
			// content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z"/></svg>');
			// content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#e3e3e3'><path d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/></svg>");
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
			// content: "hola";
			height: 24px;
			width: 24px;
			// position: absolute;
			// z-index: 1;
			display: inline-block;
			padding-right: 1.8rem;
			// color: $icons-color;
			opacity: $icons-opacity;
		}
		h1::before{
			// content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z"/></svg>');
			// content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#e3e3e3'><path d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/></svg>");
			// content:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
			// content:url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#e3e3e3'><path d='M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z'/></svg>");
			// content:url('data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z'/%3E%3C/svg%3E');
			// content: url("data:image/svg+xml,content:url('data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z'/%3E%3C/svg%3E');");
			// content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
			// content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='currentColor'%3E%3Cpath d='M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z'/%3E%3C/svg%3E");
			// content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='currentColor'%3E%3Cpath d='M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z'/%3E%3C/svg%3E");
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z'/%3E%3C/svg%3E");
			// content: "hola";
			height: 24px;
			width: 24px;
			// position: absolute;
			// z-index: 1;
			display: inline-block;
			padding-right: 1.8rem;

			// background-color: $icons-color;
			// color: $icons-color;
			opacity: $icons-opacity;
		}
	}

	.audio-info{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
}

// ------------------------
// ------------------------
// ------------------------
// ------------------------
// ------------------------


// audio {
//     width: 300px;
//     height: 30px;
// }
// audio::-webkit-media-controls,
// video::-webkit-media-controls {
//     width: inherit;
//     height: inherit;
//     position: relative;
//     direction: ltr;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
// }
// audio::-webkit-media-controls-enclosure, video::-webkit-media-controls-enclosure {
//     width: 100%;
//     max-width: 800px;
//     height: 30px;
//     flex-shrink: 0;
//     bottom: 0;
//     text-indent: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
// video::-webkit-media-controls-enclosure {
//     padding: 0px 5px 5px 5px;
//     height: 35px;
//     flex-shrink: 0;
// }
// audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     /* We use flex-start here to ensure that the play button is visible even
//      * if we are too small to show all controls.
//      */
//     justify-content: flex-start;
//     -webkit-user-select: none;
//     position: relative;
//     width: 100%;
//     z-index: 0;
//     overflow: hidden;
//     text-align: right;
//     bottom: auto;
//     height: 30px;
//     background-color: rgba(20, 20, 20, 0.8);
//     border-radius: 5px;
//     /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
//     transition: opacity 0.3s;
// }
// video:-webkit-full-page-media {
//     margin: auto;
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
// }
// audio:-webkit-full-page-media, video:-webkit-full-page-media {
//     max-height: 100%;
//     max-width: 100%;
// }
// audio:-webkit-full-page-media::-webkit-media-controls-panel,
// video:-webkit-full-page-media::-webkit-media-controls-panel {
//     bottom: 0px;
// }
// audio::-webkit-media-controls-mute-button, video::-webkit-media-controls-mute-button {
//     -webkit-appearance: media-mute-button;
//     display: flex;
//     flex: none;
//     border: none;
//     box-sizing: border-box;
//     width: 35px;
//     height: 30px;
//     line-height: 30px;
//     margin: 0 6px 0 0;
//     padding: 0;
//     background-color: initial;
//     color: inherit;
// }
// audio::-webkit-media-controls-overlay-enclosure {
//     display: none;
// }
// video::-webkit-media-controls-overlay-enclosure {
//     display: flex;
//     position: relative;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
//     flex: 1 1;
//     width: 100%;
//     max-width: 800px;
//     text-indent: 0;
//     box-sizing: border-box;
//     overflow: hidden;
// }
// video::-webkit-media-controls-overlay-play-button {
//     -webkit-appearance: media-overlay-play-button;
//     display: flex;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     margin-left: -40px;
//     margin-top: -40px;
//     border: none;
//     box-sizing: border-box;
//     background-color: transparent;
//     width: 80px;
//     height: 80px;
//     padding: 0;
// }
// audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
//     -webkit-appearance: media-play-button;
//     display: flex;
//     flex: none;
//     border: none;
//     box-sizing: border-box;
//     width: 30px;
//     height: 30px;
//     line-height: 30px;
//     margin-left: 9px;
//     margin-right: 9px;
//     padding: 0;
//     background-color: initial;
//     color: inherit;
// }
// audio::-webkit-media-controls-timeline-container, video::-webkit-media-controls-timeline-container {
//     -webkit-appearance: media-controls-background;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-end;
//     flex: 1 1;
//     -webkit-user-select: none;
//     height: 16px;
//     min-width: 0;
// }
// audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
// audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
//     -webkit-appearance: media-current-time-display;
//     -webkit-user-select: none;
//     flex: none;
//     display: flex;
//     border: none;
//     cursor: default;
//     height: 30px;
//     margin: 0 9px 0 0;
//     padding: 0;
//     line-height: 30px;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 13px;
//     font-weight: bold;
//     font-style: normal;
//     color: white;
//     letter-spacing: normal;
//     word-spacing: normal;
//     text-transform: none;
//     text-indent: 0;
//     text-shadow: none;
//     text-decoration: none;
// }
// audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
//     -webkit-appearance: media-slider;
//     display: flex;
//     flex: 1 1 auto;
//     height: 8px;
//     margin: 0 15px 0 0;
//     padding: 0;
//     background-color: transparent;
//     min-width: 25px;
//     border: initial;
//     color: inherit;
// }
// audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
//     -webkit-appearance: media-volume-slider;
//     display: flex;
//     /* The 1.9 value was empirically chosen to match old-flexbox behaviour
//      * and be aesthetically pleasing.
//      */
//     flex: 1 1.9 auto;
//     height: 8px;
//     max-width: 70px;
//     margin: 0 15px 0 0;
//     padding: 0;
//     background-color: transparent;
//     min-width: 15px;
//     border: initial;
//     color: inherit;
// }
// /* FIXME these shouldn't use special pseudoShadowIds, but nicer rules.
//    https://code.google.com/p/chromium/issues/detail?id=112508
//    https://bugs.webkit.org/show_bug.cgi?id=62218
// */
// input[type="range" i]::-webkit-media-slider-container {
//     display: flex;
//     align-items: center;
//     flex-direction: row; /* This property is updated by C++ code. */
//     box-sizing: border-box;
//     height: 100%;
//     width: 100%;
//     border: 1px solid rgba(230, 230, 230, 0.35);
//     border-radius: 4px;
//     background-color: transparent; /* Background drawing is managed by C++ code to draw ranges. */
// }
// /* The negative right margin causes the track to overflow its container. */
// input[type="range" i]::-webkit-media-slider-container > div {
//     margin-right: -14px;
// }
// input[type="range" i]::-webkit-media-slider-thumb {
//     margin-left: -7px;
//     margin-right: -7px;
// }
// audio::-webkit-media-controls-fullscreen-button, video::-webkit-media-controls-fullscreen-button {
//     -webkit-appearance: media-enter-fullscreen-button;
//     display: flex;
//     flex: none;
//     border: none;
//     box-sizing: border-box;
//     width: 30px;
//     height: 30px;
//     line-height: 30px;
//     margin-left: -5px;
//     margin-right: 9px;
//     padding: 0;
//     background-color: initial;
//     color: inherit;
// }
// audio::-webkit-media-controls-toggle-closed-captions-button {
//     display: none;
// }
// video::-webkit-media-controls-toggle-closed-captions-button {
//     -webkit-appearance: media-toggle-closed-captions-button;
//     display: flex;
//     flex: none;
//     border: none;
//     box-sizing: border-box;
//     width: 30px;
//     height: 30px;
//     line-height: 30px;
//     margin-left: -5px;
//     margin-right: 9px;
//     padding: 0;
//     background-color: initial;
//     color: inherit;
// }
// audio::-webkit-media-controls-fullscreen-volume-slider, video::-webkit-media-controls-fullscreen-volume-slider {
//     display: none;
// }
// audio::-webkit-media-controls-fullscreen-volume-min-button, video::-webkit-media-controls-fullscreen-volume-min-button {
//     display: none;
// }
// audio::-webkit-media-controls-fullscreen-volume-max-button, video::-webkit-media-controls-fullscreen-volume-max-button {
//     display: none;
// }
// video::-webkit-media-text-track-container {
//     position: relative;
//     width: 100%;
//     overflow: hidden;
//     padding-bottom: 5px;
//     font: 22px sans-serif;
//     text-align: center;
//     color: rgba(255, 255, 255, 1);
//     letter-spacing: normal;
//     word-spacing: normal;
//     text-transform: none;
//     text-indent: 0;
//     text-decoration: none;
//     pointer-events: none;
//     -webkit-user-select: none;
//     word-break: break-word;
//     flex: 1 1;
// }
// video::cue {
//     display: inline;
//     background-color: rgba(0, 0, 0, 0.8);
//     padding: 2px 2px;
// }
// video::-webkit-media-text-track-region {
//     position: absolute;
//     line-height: 5.33vh;
//     writing-mode: horizontal-tb;
//     background: rgba(0, 0, 0, 0.8);
//     color: rgba(255, 255, 255, 1);
//     word-wrap: break-word;
//     overflow-wrap: break-word;
//     overflow: hidden;
// }
// video::-webkit-media-text-track-region-container {
//     position: relative;
//     display: flex;
//     flex-flow: column;
//     flex-direction: column;
// }
// video::-webkit-media-text-track-region-container.scrolling {
//     transition: top 433ms linear;
// }
// video::-webkit-media-text-track-display {
//     position: absolute;
//     overflow: hidden;
//     white-space: pre-wrap;
//     -webkit-box-sizing: border-box;
//     flex: 0 0 auto;
// }
// video::cue(:future) {
//     color: gray;
// }
// video::-webkit-media-text-track-container b {
//     font-weight: bold;
// }
// video::-webkit-media-text-track-container u {
//     text-decoration: underline;
// }
// video::-webkit-media-text-track-container i {
//     font-style: italic;
// }