$icons-opacity: .5;
// $icons-color: white;

audio{
	// border-radius: 10px;
	// border-bottom-left-radius: 10px;
	// border-bottom-right-radius: 10px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	// border-bottom-left-radius: 5px;
	// border-bottom-right-radius: 5px;
	width: 100%;
}

figure.audio-player::before{
	content: "";
  	position: absolute;
	// background: url(var(--background-image));
	background: var(--background-image);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	// z-index: -1;
	border-radius: 10px;
	filter: blur(4px) brightness(56%);
	-webkit-filter: blur(4px) brightness(56%);
	-moz-filter: blur(4px) brightness(56%);

	object-fit: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: var(--background-position, center);
	// background-attachment: fixed;
	
	// background: linear-gradient(white, white) padding-box,
	// linear-gradient(to right, darkblue, darkorchid) border-box;
	// border-radius: 50em;
	// border: 4px solid transparent;
}

.dark figure.audio-player{
	box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;

}
.light figure.audio-player{
	// box-shadow: rgba(255, 0, 0, 0.75) 0px 5px 15px;
	box-shadow: rgba(0, 0, 0, 0.55) 0px 3px 3px;
}

figure.audio-player{
	background-color: var(--surface-2-dark);
	position: relative;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	border-radius: 10px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border: 3px solid  var(--border-color, var(--hover-color));

	padding: -100px -100px;
	// font-size: 2rem;
	font-size: clamp(1rem, 2.5vw, 2rem);
	& > * {
		z-index: 1;
	}
	div{
		display: flex;
		flex-direction: row;
		gap: 10px;
		padding: 10px 10px;
	}
	img{
		// all: unset;
		border-radius: var(--border-radius, .3rem);
		height: 100px;
		align-self: flex-start;
		//box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
		
		// box-shadow: rgba(0, 0, 0, 0.93) 0px 5px 28px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
		box-shadow: none;
		-webkit-filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.83));
		filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.83));
		@media (max-width: 350px) {
			display: none;
		}
	}

	.audio-info{
		padding-top: 15px;
		h1,h2{
			text-align: left;
		}
		h1{
			font-size: 1em;
			// text-shadow: 2px 2px 2px #CE5937;
			text-shadow: 2px 2px 2px var(--hover-color);
			color: var(--text-1-dark);
			border-image: linear-gradient(0.25turn, transparent 0%, var(--border-color) 0%, var(--border-color) 70%, transparent 100%);
			border-image-slice: 1;
		}
		h2{
			font-size: .7em;
			color: var(--text-1-dark);
			opacity: .6;
		}
		h3.year{
			font-size: .6em;
			color: var(--text-1-dark);
			opacity: .6;
			&::before{
				content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -1060 960 960' width='20px' fill='%23e3e3e3'%3E%3Cpath d='M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z'/%3E%3C/svg%3E");
				height: 24px;
				width: 24px;
				display: inline-block;
				padding-right: 1.8rem;
				opacity: $icons-opacity;
			}
		}

		h2::before{
			// content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z"/></svg>');
			// content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#e3e3e3'><path d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/></svg>");
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
			// content: "hola";
			height: 24px;
			width: 24px;
			display: inline-block;
			padding-right: 1.8rem;
			// color: $icons-color;
			opacity: $icons-opacity;
		}
		h1::before{
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M400-120q-66 0-113-47t-47-113q0-66 47-113t113-47q23 0 42.5 5.5T480-418v-422h240v160H560v400q0 66-47 113t-113 47Z'/%3E%3C/svg%3E");
			height: 24px;
			width: 24px;
			display: inline-block;
			padding-right: 1.8rem;
			// background-color: $icons-color;
			// color: $icons-color;
			opacity: $icons-opacity;
		}
	}

	.audio-info{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.audio-subtitles {
		p{
			text-align: center;
			// font-weight: bold;
			font-size: 1.1rem;
			color: var(--text-1-dark);
			// &::before{
			// 	// content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z"/></svg>');
			// 	// content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='#e3e3e3'><path d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/></svg>");
			// 	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23e3e3e3'%3E%3Cpath d='M740-560h140v80h-80v220q0 42-29 71t-71 29q-42 0-71-29t-29-71q0-42 29-71t71-29q8 0 18 1.5t22 6.5v-208ZM120-160v-112q0-35 17.5-63t46.5-43q62-31 126-46.5T440-440q42 0 83.5 6.5T607-414q-20 12-36 29t-28 37q-26-6-51.5-9t-51.5-3q-57 0-112 14t-108 40q-9 5-14.5 14t-5.5 20v32h321q2 20 9.5 40t20.5 40H120Zm320-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-80q33 0 56.5-23.5T520-640q0-33-23.5-56.5T440-720q-33 0-56.5 23.5T360-640q0 33 23.5 56.5T440-560Zm0-80Zm0 400Z'/%3E%3C/svg%3E");
			// 	// content: "hola";
			// 	height: 24px;
			// 	width: 24px;
			// 	display: inline-block;
			// 	padding-right: 1.8rem;
			// 	// color: $icons-color;
			// 	opacity: $icons-opacity;
			// }
		}

		svg{
			opacity: $icons-opacity;
		}
	}

}
