.hover-reveal-2-images{
	height: auto;
	width: auto;
	// object-fit: cover;
	// object-fit: contain;
	display: block;

	& div{
		height: 30vh;
		width: 100%;
		position: relative;
	}
	& img{
		height: 30vh;
		width: 100%;
		// object-fit: cover;
		transition: opacity var(--time-img-reveal-out, 10s);

		display: block;
		object-fit: cover; /* optional, improves image scaling */
	}

	// // First image
	& img:nth-of-type(1){
		position: absolute;
		top: 0;
		// top: -20px; // for debuging z-index
		z-index: 1;
	}
	// Second image
	& img:nth-of-type(2){
		position: relative;
		top: 0;
		opacity: 0;
		z-index: 2;
	}

	&:hover{
		// First image
		// & img:nth-of-type(1){
		// 	transition: opacity 2s;
		// 	// opacity: 0.0;
		// 	// opacity: 0.8;
		// }
		
		// Second image
		& img:nth-of-type(2){
			transition: opacity var(--time-img-reveal-hover, 2s);
			opacity: 1;
		}
	}
}

