// Modified version of https://codepen.io/avstorm/pen/XWGodYr


// .dark .shimmer{
.dark .shimmer span{
// html.dark{
	// background-color: pink;
	--shimmer-color-1: var(--shimmer-color-1-dark);
	--shimmer-color-2: var(--shimmer-color-2-dark);
}
// .light .shimmer{
.light .shimmer span{
// html.light{

	--shimmer-color-1: var(--shimmer-color-1-light);
	--shimmer-color-2: var(--shimmer-color-2-light);
}

.shimmer{
	// --shimmer-c1: var(--shimmer-color-1);
	// --shimmer-c2: var(--shimmer-color-2);
		// text-wrap: nowrap;
		white-space: nowrap;
		// text-wrap: stable;
		// white-space: nowrap;
		position: relative;
		// top: -.02em;
		// top: .01em;
	color: currentColor;
	// color: var(--text-1);
	// color: #737373;
	// background-color: currentColor;
	--shimer-active-color: currentColor;
	--shimer-coco: currentColor;
	perspective: 80px;
	transform-style: preserve-3d;

	span{
		--shimer-active-color: currentColor;
		position: relative;
		transition: all .3s ease;
		display: inline-block;
		// animation: shimmer-light 2.4s ease infinite;
		animation: shimmer-combined 2.4s ease infinite;
		// animation: shimmer 2.4s ease infinite;
		letter-spacing: 0.01em;
		transform-origin: 100% 50%;
		transform-style: preserve-3d;
		}
}

@keyframes bright-test{  
	0%{
		// color:currentColor;
		color:var(--shimer-coco);
	}
	50%{
		// color: color-mix(in lab, var(--shimer-coco) 0%, white 100%);
		// color: color-mix(in lab, currentColor 90%, white 100%);
		// color: color-mix(in lab, currentColor 0%, white 100%);
		// color: color-mix(in lab, currentColor 0%, greenyellow 100%);
		color: color-mix(in lab, var(--shimer-coco) 0%, greenyellow 100%);
	}
	100%{
		// color:currentColor;
		color:var(--shimer-coco);
	}
}

@keyframes shimmer{  
	0%{
		transform: translate3D(0,0,0) scale(1) rotateY(0);
		color: currentColor;
		--shimer-active-color: currentColor;
		// text-shadow: 0 0 0 rgba(var(var(--shimer-active-color)),0);
	}
  12%{
	  transform: var(--shimmer-translate, translate3D(100px,50px,20px)) scale(var(--shimmer-scale, 2.0)) rotateY(0deg);
	//   color: color-mix(in lab, var(--shimer-active-color) 10%, white 100%);
	//   color: color-mix(in lab, currentColor 10%, white 100%);
	  color: color-mix(in lab, currentColor 10%, var(--shimmer-color-1) 100%);
	}
  15%{
		// text-shadow: 0 0 1px color-mix(in srgb, $text, white 30%);
		// text-shadow: 0 0 1px color-mix(in srgb, var(--hover-color), white 30%);
		
		// text-shadow: 0 0 12px var(--hover-color);
		// text-shadow: 0 0 0px var(--hover-color);
		// REFACTOR hacer variable para el bloom color, que no use el --hover-color
		// Probar a ver si se puede var(--shimmer-blur-color, var(--hover-color))
		text-shadow: 0 0 var(--shimmer-blur-pixels, 12px) var(--hover-color);
	}
//   22%{
// 	transform: translate3D(0,0,0) scale(1) rotateY(0);

//   }
  24%{
	  transform: translate3D(0,0,0) scale(1) rotateY(0);
	//   color: color-mix(in lab, var(--shimer-active-color) 10%, white 100%);
	//   color: color-mix(in lab, currentColor 54%, white 100%);
	  color: color-mix(in lab, currentColor 54%, var(--shimmer-color-2) 100%);
	//   opacity: 1;
	}
  36%{
	  transform: translate3D(0,0,0) scale(1);
	}
  100%{
	  transform: scale(1);
	//   opacity: .8;
	  color: var(--shimer-active-color);
	}
}

@keyframes shimmer-light{  
	0%{
		transform: translate3D(0,0,0) scale(1) rotateY(0);
		color: currentColor;
		--shimer-active-color: currentColor;
	}
  12%{
	  transform: var(--shimmer-translate, translate3D(100px,50px,20px)) scale(var(--shimmer-scale, 2.0)) rotateY(0deg);
	  color: color-mix(in lab, currentColor 10%, var(--shimmer-color-1-light) 100%);
	//   color: color-mix(in lab, currentColor 90%, var(--shimmer-color-1-light) 60%);
	}
  15%{
		// text-shadow: 0 0 1px color-mix(in srgb, $text, white 30%);
		// text-shadow: 0 0 1px color-mix(in srgb, var(--hover-color), white 30%);
		
		// text-shadow: 0 0 12px var(--hover-color);
		// text-shadow: 0 0 0px var(--hover-color);
		// text-shadow: 0 0 var(--shimmer-blur-pixels, 12px) var(--hover-color);
		
		// text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		// text-shadow: -1px -1px 0 var(--shimmer-color-1), 1px -1px 0 var(--shimmer-color-1), -1px 1px 0 var(--shimmer-color-1), 1px 1px 0 var(--shimmer-color-1);
		
		// -webkit-text-stroke: 1px var(--shimmer-color-1-light);
		text-shadow: 0 0 var(--shimmer-blur-pixels, 12px) var(--shimmer-color-1-light);

	}
	24%{
		// -webkit-text-stroke: 0px var(--shimmer-color-1-light);
	//   text-shadow: 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000;
	//   text-shadow: 0px 0px 0 var(--shimmer-color-2), 0px 0px 0 var(--shimmer-color-2), 0px 0px 0 var(--shimmer-color-2), 0px 0px 0 var(--shimmer-color-2);


	//   transform: translate3D(0,0,0) scale(1) rotateY(0);
	//   color: color-mix(in lab, var(--shimer-active-color) 10%, white 100%);
	//   color: color-mix(in lab, currentColor 54%, white 100%);
	  color: color-mix(in lab, currentColor 54%, var(--shimmer-color-2-light) 100%);
	//   opacity: 1;
	}
  36%{
	  transform: translate3D(0,0,0) scale(1);
	}
  100%{
	  transform: scale(1);
	//   opacity: .8;
	//   opacity: .9;
	//   opacity: 1.0;
	  color: var(--shimer-active-color);
	}
}


@keyframes shimmer-combined{  
	0%{
		transform: translate3D(0,0,0) scale(1) rotateY(0);
		color: currentColor;
		--shimer-active-color: currentColor;
	}
  12%{
	  transform: var(--shimmer-translate, translate3D(100px,50px,20px)) scale(var(--shimmer-scale, 2.0)) rotateY(0deg);
	  color: color-mix(in lab, currentColor 10%, var(--shimmer-color-1) 100%);
	//   color: color-mix(in lab, currentColor 90%, var(--shimmer-color-1-light) 60%);
	}
  15%{
		// text-shadow: 0 0 1px color-mix(in srgb, $text, white 30%);
		// text-shadow: 0 0 1px color-mix(in srgb, var(--hover-color), white 30%);
		
		// text-shadow: 0 0 12px var(--hover-color);
		// text-shadow: 0 0 0px var(--hover-color);
		// text-shadow: 0 0 var(--shimmer-blur-pixels, 12px) var(--hover-color);
		
		// text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
		// text-shadow: -1px -1px 0 var(--shimmer-color-1), 1px -1px 0 var(--shimmer-color-1), -1px 1px 0 var(--shimmer-color-1), 1px 1px 0 var(--shimmer-color-1);
		
		// -webkit-text-stroke: 1px var(--shimmer-color-1-light);
		text-shadow: 0 0 var(--shimmer-blur-pixels, 12px) var(--shimmer-color-1);

	}
	24%{
		// -webkit-text-stroke: 0px var(--shimmer-color-1-light);
	//   text-shadow: 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000;
	//   text-shadow: 0px 0px 0 var(--shimmer-color-2), 0px 0px 0 var(--shimmer-color-2), 0px 0px 0 var(--shimmer-color-2), 0px 0px 0 var(--shimmer-color-2);


	//   transform: translate3D(0,0,0) scale(1) rotateY(0);
	//   color: color-mix(in lab, var(--shimer-active-color) 10%, white 100%);
	//   color: color-mix(in lab, currentColor 54%, white 100%);
	  color: color-mix(in lab, currentColor 54%, var(--shimmer-color-2) 100%);
	//   opacity: 1;
	}
  36%{
	  transform: translate3D(0,0,0) scale(1);
	}
  100%{
	  transform: scale(1);
	//   opacity: .8;
	//   opacity: .9;
	//   opacity: 1.0;
	  color: var(--shimer-active-color);
	}
}


