// Styles for info, warning, and error boxes
// Colors
$info-color-light: rgb(219, 234, 254);
$info-color-dark: rgba(27, 102, 199, 0.425);

$warning-color-light:rgba(255, 189, 9, 0.342);
$warning-color-dark: rgba(255, 189, 9, 0.192);

$error-color-light:rgba(255, 46, 9, 0.281);
$error-color-dark: rgba(255, 46, 9, 0.192);

$green-color-light:rgba(79, 255, 9, 0.281);
$green-color-dark: rgba(87, 255, 9, 0.13);




.text-box{
	text-align: left;
	padding: 1em 1em;
	width: 100%;
	// width: fit-content;
	border-radius: 6px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.text-box > :first-child{
	text-indent: 25px;
	// text-indent: var(--box-text-indent, 25px);
}

.text-box::before{
	content: attr(data-text, "");
	// padding-left: 30px;
	position: absolute;
}

// REFACTOR
// DELETE
// DEPRECATED
/*#region DEPRECATED*/
// Info ℹ
.dark .info-background-color{
	background-color: $info-color-dark;
}
.light .info-background-color{
	background-color: $info-color-light;
}

// Warning ⚠
.dark .warning-background-color{
	background-color: $warning-color-dark;
}
.light .warning-background-color{
	background-color: $warning-color-light;
}

// Error ❌
.dark .error-background-color{
	background-color: $error-color-dark;
}
.light .error-background-color{
	background-color: $error-color-light;
}
/*#endregion DEPRECATED*/

////////////////////////////

.green-box, .info-box, .warning-box, .error-box{
	@extend .text-box;
	// padding-left: 30px;
	// text-indent: 20px;
}

// Green ✅
.light .green-box{
	background-color: $green-color-light;
	// text-indent: 20px;
}
.dark .green-box{
	background-color: $green-color-dark
	// text-indent: 20px;
}

// Info ℹ
.dark .info-box{
	background-color: $info-color-dark;
}
.light .info-box{
	background-color: $info-color-light;
}

// Warning ⚠️
.dark .warning-box{
	background-color: $warning-color-dark;
}
.light .warning-box{
	background-color: $warning-color-light;
}

// Error ❌
.dark .error-box{
	background-color: $error-color-dark;
}
.light .error-box{
	background-color: $error-color-light;
}