{{/*  
Returns ALL related RegularPages of the same section
Arguments: "." = Page from which it will get the .Section
*/}}

{{/*  .Section gets the folder name */}}
{{ $section := .Section }}
{{- /*  {{ $section := .CurrentSection.Title }}  */ -}}

{{ $related := where (site.RegularPages.Related .) "Section" "eq" $section }}
{{- /*  {{ $related := where (site.RegularPages.Related .) ".CurrentSection.Title" "eq" $section }}  */ -}}
{{ $related = where $related "Params.private" "ne" true }}
{{- /*  IDEA param to avoid recommending an article?  */ -}}
{{- /*  {{ $related = where $related "Params.recommend_article" "ne" false }}  */ -}}

{{- /*  If exists, append related_pages added manually in the frontmatter  */ -}}
{{- /*  NOTE: since these pages have been added MANUALLY (with a purppose), I ignore if they are private or not, doesn't matter  */ -}}
{{- if .Params.related_pages -}}
	{{- $related_pages_array := slice -}}
	{{- range .Params.related_pages -}}
		{{- $_page := $.Site.GetPage . -}}
		{{- /*  {{- $related = slice $_page | append $related . -}}  */ -}}
		{{- $related = slice $_page | append $related -}}
	{{- end -}}
{{- end -}}

{{/*  NOTE after calling this, one may want to filter the first X related pages, like:
{{ $related = first 3 $related }}
*/}}
{{- /*  {{ return $related }}  */ -}}

{{- /*  Avoids returning the current page in related  */ -}}
{{- $current_page := . -}}
{{- $related_without_current_page := slice -}}
{{- range $related -}}
	{{- if ne . $current_page -}}
		{{- $related_without_current_page = $related_without_current_page | append . -}}
	{{- end -}}
{{- end -}}

{{- /*  uniq for avoiding returning duplicated pages  */ -}}
{{ return ($related_without_current_page | uniq) }}


