{{ define "main" }}
  {{ partial "title.html" . }}
  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{/*  {{ partial "album-card.html" . }}  */}}
      
      {{/*  TODO esto debería cambiarlo por un article-card.html o algo así  */}}
      {{/*  <a href="{{ .RelPermalink }}">{{ .Title }}</a>  */}}
      {{ partial "article-card.html" . }}
      {{/*  <p>{{.Summary}}</p>  */}}


    {{ end }}
  </section>
  <hgroup>
    {{ .Content | markdownify }}
    {{/*  {{ .Content }}  */}}
  </hgroup>
{{ end }}
