{{ define "main" }}
  {{- /*  {{ partial "title.html" . }}  */ -}}
  {{ partial "title-articles-list.html" . }}
  <section class="galleries">
    {{ range where .Pages "Params.private" "ne" true }}
      {{/*  {{ partial "album-card.html" . }}  */}}
      
      {{/*  TODO esto debería cambiarlo por un articles/article-card.html o algo así   ---->> HECHO, borrar comentario */}}
      {{/*  <a href="{{ .RelPermalink }}">{{ .Title }}</a>  */}}
      {{ partial "articles/article-card.html" . }}
      {{/*  <p>{{.Summary}}</p>  */}}


    {{ end }}
  </section>
  <hgroup>
    {{ .Content | markdownify }}
    {{/*  {{ .Content }}  */}}
    {{/*  TODO show all tags  */}}
    {{ $tags_page := .Site.GetPage "/tags/" }}
    <h1><a class="hover-accent-color" href="{{$tags_page.RelPermalink}}">{{ T "allTags" }}</a></h1>
    {{/*  <div id="tags-footer">  */}}
    <div>
      {{/*  {{ partial "tag-cloud.html" . }}  */}}
      {{ partial "all-tags.html" . }}
    </div>
  </hgroup>
{{ end }}
