{{ define "main" }}
  {{ if .Site.Params.is_debug}}
    <pre>Section: {{.Section}} (single.html)</pre>
    <pre>.ReadingTime: {{.ReadingTime}} minutes</pre>
  {{ end }}
  {{ partial "title.html" . }}

  {{/*  {{ if not .Params.show_text_on_top }}
    {{ partial "gallery.html" . }}
  {{ end }}  */}}

  {{/*  <aside>  */}}
  <aside class="articles-index" >
    {{ .TableOfContents }}
  </aside>

  {{/*  Markdown content  */}}
  {{ with .Content }}
  <hgroup class="articles">
    {{/*  <section class="articles">  */}}
      {{/*  <section class="prose">  */}}
        {{ . }}
      {{/*  </section>  */}}
    {{/*  </section>  */}}
  </hgroup>
  {{ end }}

  {{ if .Params.show_text_on_top }}
    {{ partial "gallery.html" . }}
  {{ end }}

    {{ partial "related-articles.html" . }}
{{ end }}
