{{- /*  
Displays article links, with just the date, the title and description.

Like:
23 mar. 2025 My article title
			This is my article blablabla

Arguments:
0 articles = (String) Articles file names separated with a COMA. Eg: articles="article1, illustration-process"
1 title = (String). Add a header title above the articles. Default: (empty)
2 h = (int) Type of header for the tile (1 for h1, 2 for h2, 3 for h3, etc.). Default: 2 (h2)
3 align = (String) Text align of the header (options: "left", "right", "center"). Default: "center"

Use example:
{{< articles_featured_simple "my-first-article, another-article" >}}
{{< articles_featured_simple "my-first-article, another-article" "My favourite articles" 3 "left" >}}
{{< articles_featured_simple title="my-first-article, another-article" title="My favourite articles" align="right" >}}
*/ -}}


{{- $articles := or (.Get 0) (.Get "articles") -}}
{{- $title := or (.Get 1) (.Get "title") -}}
{{- $header_number := or (.Get 2) (.Get "h") | default 2 -}}
{{- $text_align := or (.Get 3) (.Get "align") | default "center" -}}

{{- $articles_array := slice -}}
{{- $articles_paths_array := split $articles "," -}}
{{- range $index, $article_path := $articles_paths_array -}}
	{{- $article_path = trim $article_path " " -}}
	{{- $_article := $.Site.GetPage $article_path -}}
	{{- if not $_article -}}
		{{- errorf "at SHORTCODE featured_articles: Article '%#v' not found at '%s' (%s)" $article_path $.Page.Title $.Page.Path -}}
	{{- else if ne $_article.Section "articles" }}
		{{- errorf "at SHORTCODE featured_articles: Page '%#v' (at '%s' (%s)) is not an article, is a '%s'" $article_path $.Page.Title $.Page.Path $_article.Section -}}
	{{- else }}
		{{- $articles_array = $articles_array | append $_article -}}
	{{- end -}}
{{- end -}}

{{- $header_tag := printf "h%d" $header_number -}}

	{{- if $title }}
		{{- $header := printf "<%s style='text-align:%s;'>%s</%s>" $header_tag $text_align $title $header_tag -}}
		{{- $header | safeHTML -}}
	{{- end -}}
    <section>
		{{- range $index, $page := $articles_array -}}
			{{- partial "articles/article-simple-link" $page -}}
		{{- end -}}
    </section>