{{/*  
Embeds an audio file

Arguments:
src = Path with the audio.
title = Title of the audio. Default: audio file tilte
artist = Artist/Author of the audio. Default: .Site.Params.audios_default_author
cover = Path with an image used as cover. If not set, it will look for an image with the SAME NAME as the audio file. Eg: cancion.mp3 -> cancion.png. Default: (no image)
pos = Position of the cover image in the background. To adjust its appeareance. Default: center (50% 50%)
color = Color of the border in hex. Default: Gets automatically the most predominant and brightest color
optimize = Optimizes the image set for the cover, for fast loading. Is useful to turn it to false for animated .webp's and .gif's. Default: true
autoplay = Autoplays the audio when loading (do not work in some browsers). Default: false
radius = Border radius for the cover. Tip: set a very big value (999999px) for circle corners. Set 0px for no borders. Default: .3rem (A bit rounded)


Example:
{{< audio "my_audio.mp3" "My song" "Dexter" >}} -> Autoplays muted
{{< audio src="my_audio.mp3" cover="my-custom-image.png" position="50% 100%" color=#3456 autoplay=true >}}


NOTE: Supports subtitles!

Just add a file with the same name of the song, but in a .json format like:

{
  "messages": [
    {
      "TimeRange": "0:0-0:30",
      "Message": "Intro (0 a 3)",
      "CssStyle": ""
    },
    {
      "TimeRange": "0:30-1:22",
      "Message": "Soy mensaje muy largo jajajaj no cabre seguro me cago en todo joder(20 a 30)",
      "CssStyle": ""
    },
    {
      "TimeRange": "10-20",
      "Message": "de 10 a 20",
      "CssStyle": ""
    }
  ],
  "defaultMessage": "soy el default message",
  "startMessage": "Hola"
}


The messages will appear in the selected ranges when the music is playing.
Useful for adding notes, or whatever.

*/}}


{{- $audio_path := (or (.Get 0) (.Get "src")) -}}
{{- $artist := (or (.Get 2) (.Get "artist")) | default .Site.Params.audios_default_author -}}
{{- $year := (.Get "year") | default "" -}}
{{- $cover_path := (or (.Get 3) (.Get "cover")) | default "" -}}
{{- $cover_position := (or (.Get 4) (.Get "pos")) -}}
{{- $color_manual := (or (.Get 5) (.Get "color") (.Get "col") (.Get "c")) | default "" -}}
{{- $optimize_cover_image := (or (.Get 6) (.Get "optimize")) | default true -}}
{{- $autoplay_flag := (or (.Get 7) (.Get "autoplay")) | default false -}}
{{- $border_radius := (or (.Get 8) (.Get "radius") (.Get "r")) | default false -}}

{{- $audio_resource := .Page.Resources.Get $audio_path -}}
{{- if not $audio_resource -}}
	{{- errorf "Audio shortcode: audio file ('%s') not found at '%s' with Title '%s'" $audio_path .Page.Path .Page.Name -}}
{{- end -}}
{{- $cover_resource := .Page.Resources.Get $cover_path -}}
{{- if and (not $cover_resource) $cover_path -}}
	{{- warnf "Audio shortcode: Cover ('%s') not found at '%s' with Title '%s'" $cover_path .Page.Path .Page.Name -}}
{{- end -}}
{{- $audio_name_without_extension := index (split $audio_resource.Name ".") 0 -}}

{{- $title := (or (.Get 1) (.Get "title")) | default ($audio_name_without_extension | title) -}}

{{- $autoplay := "" -}}
{{- if $autoplay_flag -}}
	{{- $autoplay = "autoplay" -}}
{{- end -}}

{{- /*  FINDING THE COVER DYNAMICALLY BY IT HAVING THE SAME NAME AS THE AUDIO FILE  */ -}}
{{- if not $cover_resource -}}
	{{- $images := .Page.Resources.ByType "image" -}}
	{{- $name_match_string := printf "*%s*" $audio_name_without_extension -}}
	{{- $cover_resource = $images.GetMatch $name_match_string -}}
{{- end -}}
{{- /*  PREVIOUS approach  */ -}}
{{- /*  {{- $matched_cover := "" -}}
{{- if not $cover_resource -}}
	{{- range .Page.Resources.ByType "image" -}}
		{{- if or (eq .Name (printf "%s.png" $audio_name_without_extension)) 
			(eq .Name (printf "%s.jpg" $audio_name_without_extension)) 
			(eq .Name (printf "%s.jpeg" $audio_name_without_extension)) 
			(eq .Name (printf "%s.gif" $audio_name_without_extension)) 
			(eq .Name (printf "%s.webp" $audio_name_without_extension)) -}}
			{{- $matched_cover = . -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- $cover_resource := .Page.Resources.Get $cover_path -}}
{{- if $matched_cover -}}
	{{- $cover_resource = $matched_cover -}}
{{- end -}}  */ -}}


{{- /*  {{- $cover_resource = $cover_resource.Filter (images.Saturation -100) -}}  */ -}}
{{- if and $cover_resource $optimize_cover_image -}}
	{{- /*  {{- $cover_resource = $cover_resource.Filter (images.Process "fit 500x500") -}}  */ -}}
	{{- $cover_resource = $cover_resource.Filter (images.Process "fit 250x250") -}}
	
	{{- /*  Warnings for gif/webp loosing its animation when being optimized  */ -}}
	{{- $cover_resource_extension := $cover_resource.MediaType.FirstSuffix.Suffix -}}
	{{- if eq $cover_resource_extension "gif" -}}
		{{- warnf "Audio shortcode: extension is ('%s'). If you want it to be animated you may want to set 'optimize=false'" $cover_resource_extension -}}
	{{- else if eq $cover_resource_extension "webp" -}}
		{{- warnf "Audio shortcode: extension is ('%s'). If it is animated, and you want it to keep the animation you may want to set 'optimize=false'" $cover_resource_extension -}}
	{{- end -}}
{{- end -}}

{{- $border_color := "" -}}
{{- if $color_manual -}}
	{{- $border_color = $color_manual -}}
{{- else -}}
	{{- if $cover_resource -}}
		{{- $predominant_color := index $cover_resource.Colors 0 -}}
		{{- $brightest_color := index (sort $cover_resource.Colors "Luminance" "desc") 0 -}}

		{{- $border_color = printf "color-mix(in srgb, %s 50%%, %s 50%%)" $brightest_color $predominant_color -}}
	{{- end -}}
{{- end -}}

{{- $style := "" -}}
{{- if $border_color -}}
	{{- $style = printf "--border-color: %s; " $border_color -}}
{{- end -}}
{{- if $border_radius -}}
	{{- $style = printf "%s--border-radius: %s; " $style $border_radius -}}
{{- end -}}
{{- if $cover_resource -}}
	{{- $cover_position_property := "" -}}
	{{- if $cover_position -}}
		{{- $cover_position_property = printf "--background-position: %s; " $cover_position -}}
	{{- end -}}
	{{- $style = printf "%s --background-image: url('%s'); %s" $style $cover_resource.RelPermalink $cover_position_property -}}
{{- end -}}

{{- /*  JSON Subtitles file  */ -}}
{{- $audio_name := index (split $audio_resource.Name ".") 0 -}}
{{- $rand_id := mod (now.UnixNano) 1000001 -}}
{{- $safe_js_audioname := replace (replace $audio_name "-" "_") " " "_" }}
{{- $safe_js_audioname = printf "%s%d" $safe_js_audioname $rand_id }}
{{- $json_file_name := printf "%s.json" $audio_name -}}
{{- $json_resource := .Page.Resources.GetMatch $json_file_name -}}
{{- $json := "" -}}
{{- if $json_resource -}}
	{{- $json = transform.Unmarshal $json_resource -}}
{{- end -}}

{{- $audio_id := printf "%s_audio" $safe_js_audioname -}}
{{- $display_id := printf "%s_display" $safe_js_audioname -}}

<figure class="audio-player" style="{{$style | safeCSS}}">
	<div>
		{{- if $cover_resource -}}
			<img src="{{$cover_resource.RelPermalink}}">
		{{- end -}}
		<section class="audio-info">
			<h1>{{- $title -}}</h1>
			<h2>{{- $artist -}}</h2>
			{{- with $year -}}
				<h3 class="year">{{- . -}}</h3>
			{{- end -}}
		</section>
	</div>

	{{- if $json_resource -}}
	<div class="audio-subtitles">
		<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M80-80v-720q0-33 23.5-56.5T160-880h440q33 0 56.5 23.5T680-800v17q-24 11-44 27t-36 36v-80H160v527l47-47h393v-160q16 20 36 36t44 27v97q0 33-23.5 56.5T600-240H240L80-80Zm160-320h160v-80H240v80Zm520-80q-50 0-85-35t-35-85q0-50 35-85t85-35q11 0 21 2t19 5v-207h160v80h-80v240q0 50-35 85t-85 35Zm-520-40h280v-80H240v80Zm0-120h280v-80H240v80Zm-80 320v-480 480Z"/></svg>
		<p id={{$display_id}}>{{$json.startMessage}}</p>
	</div>
	{{- end -}}

	<audio id={{$audio_id}} controls  {{$autoplay | safeHTMLAttr}} preload="{{ .Get "preload" | default "metadata" }}">
	<source src="{{ $audio_resource.RelPermalink }}" type="audio/mpeg">
	{{- /*  {{ with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end }}  */ -}}
	<figcaption>{{- T "captionAudio" (dict "title" $title "author" $artist) -}}</figcaption>
	</audio>
</figure>


{{- /*  Subtitles script  */ -}}
{{- if $json_resource -}}
<script>
	{{$audio_var := $audio_id | safeJS }}
	{{$display_var := $display_id | safeJS }}
    const {{$audio_var}} = document.getElementById({{$audio_id}});
    const {{$display_var}} = document.getElementById({{$display_id}});
	{{$currentTimeVar := (printf "current_time_%s_%s" $audio_id $display_id) | safeJS -}}
    {{$audio_var}}.addEventListener("timeupdate", () => {
      const {{$currentTimeVar}} = {{$audio_var}}.currentTime;

      {{- /*  if (currentTime >= 0 && currentTime < 5) {
        display.textContent = "Intro text";
      } else if (currentTime >= 5 && currentTime < 10) {
        display.textContent = "Part 1 text";
      } else if (currentTime >= 10 && currentTime < 20) {
        display.textContent = "Part 2 text";
      } else {
        display.textContent = "No text for this time range.";
      }  */ -}}
	  
	{{- range $k, $v := $json.messages -}}
		{{- $time_start := (index (split $v.TimeRange "-") 0) -}}
		{{- $time_end := (index (split $v.TimeRange "-") 1) -}}
	  	{{- $time_start_seconds := partial "utils/get-seconds.html" $time_start -}}
	  	{{- $time_end_seconds := partial "utils/get-seconds.html" $time_end -}}

		{{- $message := $v.Message -}}
		{{- $is_first := eq $k 0 -}}
		{{- $is_last := eq (add $k 1) (len $json.messages) -}}

		{{- if eq $is_first false }}
			{{"else " | safeJS}}
		{{ end -}}
		if ({{$currentTimeVar}} >= {{$time_start_seconds}} && {{$currentTimeVar}} < {{$time_end_seconds}}) {
			{{- /*  display.textContent = {{$v.Message | markdownify | safeHTML }};  */ -}}
			{{$display_var}}.innerHTML = {{$v.Message | markdownify | safeHTML }};
		  }
		
	{{- end -}}
	
	else {
        {{- /*  display.textContent = {{- $json.defaultMessage | markdownify -}};  */ -}}
		{{$display_var}}.innerHTML = {{$json.defaultMessage | markdownify | safeHTML }};
      }

    });
</script>
{{- end -}}