{{/*  
Embeds an audio file

Arguments:
src = Path with the audio.
title = Title of the audio. Default: audio file tilte
artist = Artist/Author of the audio. Default: .Site.Params.audios_default_author
cover = Path with an image used as cover. If not set, it will look for an image with the SAME NAME as the audio file. Eg: cancion.mp3 -> cancion.png. Default: (no image)
pos = Position of the cover image in the background. To adjust its appeareance. Default: center (50% 50%)
color = Color of the border in hex. Default: Gets automatically the most predominant and brightest color
optimize = Optimizes the image set for the cover, for fast loading. Is useful to turn it to false for animated .webp's and .gif's. Default: true
autoplay = Autoplays the audio when loading (do not work in some browsers). Default: false
radius = Border radius for the cover. Tip: set a very big value (999999px) for circle corners. Set 0px for no borders. Default: .3rem (A bit rounded)


Example:
{{< audio "my_audio.mp3" "My song" "Dexter" >}} -> Autoplays muted
{{< audio src="my_audio.mp3" cover="my-custom-image.png" position="50% 100%" color=#3456 autoplay=true >}}
*/}}


{{- $audio_path := (or (.Get 0) (.Get "src")) -}}
{{- $artist := (or (.Get 2) (.Get "artist")) | default .Site.Params.audios_default_author -}}
{{- $cover_path := (or (.Get 3) (.Get "cover")) | default "" -}}
{{- $cover_position := (or (.Get 4) (.Get "pos")) -}}
{{- $color_manual := (or (.Get 5) (.Get "color") (.Get "col") (.Get "c")) | default "" -}}
{{- $optimize_cover_image := (or (.Get 6) (.Get "optimize")) | default true -}}
{{- $autoplay_flag := (or (.Get 7) (.Get "autoplay")) | default false -}}
{{- $border_radius := (or (.Get 8) (.Get "radius") (.Get "r")) | default false -}}

{{- $audio_resource := .Page.Resources.Get $audio_path -}}
{{- if not $audio_resource -}}
	{{- errorf "Audio shortcode: audio file ('%s') not found at '%s' with Title '%s'" $audio_path .Page.Path .Page.Name -}}
{{- end -}}
{{- $cover_resource := .Page.Resources.Get $cover_path -}}
{{- if and (not $cover_resource) $cover_path -}}
	{{- warnf "Audio shortcode: Cover ('%s') not found at '%s' with Title '%s'" $cover_path .Page.Path .Page.Name -}}
{{- end -}}
{{- $audio_name_without_extension := index (split $audio_resource.Name ".") 0 -}}

{{- $title := (or (.Get 1) (.Get "title")) | default ($audio_name_without_extension | title) -}}

{{- $autoplay := "" -}}
{{- if $autoplay_flag -}}
	{{- $autoplay = "autoplay" -}}
{{- end -}}

{{- /*  FINDING THE COVER DYNAMICALLY BY IT HAVING THE SAME NAME AS THE AUDIO FILE  */ -}}
{{- if not $cover_resource -}}
	{{- $images := .Page.Resources.ByType "image" -}}
	{{- $name_match_string := printf "*%s*" $audio_name_without_extension -}}
	{{- $cover_resource = $images.GetMatch $name_match_string -}}
{{- end -}}
{{- /*  PREVIOUS approach  */ -}}
{{- /*  {{- $matched_cover := "" -}}
{{- if not $cover_resource -}}
	{{- range .Page.Resources.ByType "image" -}}
		{{- if or (eq .Name (printf "%s.png" $audio_name_without_extension)) 
			(eq .Name (printf "%s.jpg" $audio_name_without_extension)) 
			(eq .Name (printf "%s.jpeg" $audio_name_without_extension)) 
			(eq .Name (printf "%s.gif" $audio_name_without_extension)) 
			(eq .Name (printf "%s.webp" $audio_name_without_extension)) -}}
			{{- $matched_cover = . -}}
		{{- end -}}
	{{- end -}}
{{- end -}}
{{- $cover_resource := .Page.Resources.Get $cover_path -}}
{{- if $matched_cover -}}
	{{- $cover_resource = $matched_cover -}}
{{- end -}}  */ -}}


{{- /*  {{- $cover_resource = $cover_resource.Filter (images.Saturation -100) -}}  */ -}}
{{- if $optimize_cover_image -}}
	{{- /*  {{- $cover_resource = $cover_resource.Filter (images.Process "fit 500x500") -}}  */ -}}
	{{- $cover_resource = $cover_resource.Filter (images.Process "fit 250x250") -}}
	
	{{- /*  Warnings for gif/webp loosing its animation when being optimized  */ -}}
	{{- $cover_resource_extension := $cover_resource.MediaType.FirstSuffix.Suffix -}}
	{{- if eq $cover_resource_extension "gif" -}}
		{{- warnf "Audio shortcode: extension is ('%s'). If you want it to be animated you may want to set 'optimize=false'" $cover_resource_extension -}}
	{{- else if eq $cover_resource_extension "webp" -}}
		{{- warnf "Audio shortcode: extension is ('%s'). If it is animated, and you want it to keep the animation you may want to set 'optimize=false'" $cover_resource_extension -}}
	{{- end -}}
{{- end -}}

{{- $border_color := "" -}}
{{- if $color_manual -}}
	{{- $border_color = $color_manual -}}
{{- else -}}
	{{- if $cover_resource -}}
		{{- $predominant_color := index $cover_resource.Colors 0 -}}
		{{- $brightest_color := index (sort $cover_resource.Colors "Luminance" "desc") 0 -}}

		{{- $border_color = printf "color-mix(in srgb, %s 50%%, %s 50%%)" $brightest_color $predominant_color -}}
	{{- end -}}
{{- end -}}

{{- $style := "" -}}
{{- if $border_color -}}
	{{- $style = printf "--border-color: %s; " $border_color -}}
{{- end -}}
{{- if $border_radius -}}
	{{- $style = printf "%s--border-radius: %s; " $style $border_radius -}}
{{- end -}}
{{- if $cover_resource -}}
	{{- $cover_position_property := "" -}}
	{{- if $cover_position -}}
		{{- $cover_position_property = printf "--background-position: %s; " $cover_position -}}
	{{- end -}}
	{{- $style = printf "%s --background-image: url('%s'); %s" $style $cover_resource.RelPermalink $cover_position_property -}}
{{- end -}}
<figure class="audio-player" style="{{$style | safeCSS}}">
	<div>
		{{- if $cover_resource -}}
			<img src="{{$cover_resource.RelPermalink}}">
		{{- end -}}
		<section class="audio-info">
			<h1>{{- $title -}}</h1>
			<h2>{{- $artist -}}</h2>
		</section>
	</div>
	<audio controls  {{$autoplay | safeHTML}} preload="{{ .Get "preload" | default "metadata" }}">
	<source src="{{ $audio_resource.RelPermalink }}" type="audio/mpeg">
	{{- /*  {{ with .Get "caption" }}<figcaption>{{ . }}</figcaption>{{ end }}  */ -}}
	<figcaption>{{- T "captionAudio" (dict "title" $title "author" $artist) -}}</figcaption>
	</audio>
</figure>