{{- /*  
Displays an album with a big cover. 
Offers different options to customize the animtation when hovering the album.

Arguments:
album = The album/gallery to display.
cover = Select the cover for the album. Default: The default album cover.
pos1 = The position of the cover. Default: center ("50% 50%") (x, y). INFO: https://developer.mozilla.org/en-US/docs/Web/CSS/background-position
pos2 = The position of the cover when hovering the album. Default: center ("50% 50%")
zoom1 = Zoom level of the cover. Default: cover. INFO: https://developer.mozilla.org/en-US/docs/Web/CSS/background-size
zoom2 = Zoom level of the cover when hovering the album. Default: cover
t1 = Transition time when un-hovering the album. Default: 2s
t2 = Transition time when hovering the album. Default: 5s

Use example:
{{< featured_album_big album="traditional-art" cover="images/cover-image.png" pos1="50% 50%" pos2="50% 100%" zoom1="100%" zoom2="200%" t1="1s" t2="2.5s" >}}
{{< featured_album_big album="traditional-art" cover="images/cover-image.png" >}}
{{< featured_album_big "traditional-art" >}}
*/ -}}


{{- $album := or (.Get 0) (.Get "album") | default "" -}}
{{- if not $album }}
	{{- errorf "SHORTCODE featured_album_big: 'album' ('%s') in '%s' at '%s' in '%s' is not set" $album .Page.Name .Page.File.Path .Page.Path }}
{{- end -}}
{{- $image_path := or (.Get 1) (.Get "cover") -}}
{{- $pos1 := or (.Get 2) (.Get "pos1") -}}
{{- $pos2 := or (.Get 3) (.Get "pos2") -}}
{{- $zoom1 := or (.Get 4) (.Get "zoom1") -}}
{{- $zoom2 := or (.Get 5) (.Get "zoom2") -}}
{{- $t1 := or (.Get 6) (.Get "t1") -}}
{{- $t2 := or (.Get 7) (.Get "t2") -}}

{{- /*  Check for errors  */ -}}
{{- $album_page := .Site.GetPage $album -}}
{{- if not $album_page }}
	{{- errorf "SHORTCODE featured_album_big: album '%s' not found  (in '%s' at '%s' in '%s')" $album .Page.Name .Page.File.Path .Page.Path }}
{{- end -}}

{{- $image_resource := "" -}}
{{- if $image_path -}}
	{{- $image_resource = $album_page.Resources.Get $image_path -}}
	{{- /*  {{- $image_resource = .album_page.Resources.GetMatch $image_path -}}  */ -}}
	{{- if not $image_resource -}}
		{{- errorf "SHORTCODE featured_album_big: image '%s' not found at page '%s' (in '%s' at '%s' in '%s')" $image_path $album_page.Name .Page.Name .Page.File.Path .Page.Path }}
	{{- end -}}
{{- end -}}

{{- $shortcode_properties_array := slice -}}
{{- if $pos1 -}}
	{{- $shortcode_properties_array = append (printf "--background-position:%s;" $pos1) $shortcode_properties_array -}}
{{- end -}}
{{- if $pos2 -}}
	{{- $shortcode_properties_array = append (printf "--background-hover-position:%s;" $pos2) $shortcode_properties_array -}}
{{- end -}}
{{- if $t1 -}}
	{{- $shortcode_properties_array = append (printf "--background-animation-time-hover:%s;" $t1) $shortcode_properties_array -}}
{{- end -}}
{{- if $t2 -}}
	{{- $shortcode_properties_array = append (printf "--background-animation-time-unfocus:%s;" $t2) $shortcode_properties_array -}}
{{- end -}}
{{- if $zoom1 -}}
	{{- $shortcode_properties_array = append (printf "--background-zoom:%s;" $zoom1) $shortcode_properties_array -}}
{{- end -}}
{{- if $zoom2 -}}
	{{- $shortcode_properties_array = append (printf "--background-zoom-2:%s;" $zoom2) $shortcode_properties_array -}}
{{- end -}}

{{- $shortcode_properties := delimit $shortcode_properties_array " " | safeCSS -}}


{{- with $album_page -}}
	{{- /*  Features a big gallery  */ -}}
	{{- $gallery := partial "get-gallery.html" . -}}
	{{- if $gallery -}}
		{{- $thumbnail := $gallery.thumbnail -}}
		{{- if $image_resource }}
			{{- $thumbnail = $image_resource -}}
		{{- end -}}

		{{- $color := index $thumbnail.Colors 0 | default "transparent" -}}


		{{- /*  <section class="featured">  */ -}}
		<section class="featured featured-gallery-big">
			<a class="featured-card" href="{{- .RelPermalink -}}" style="{{- $shortcode_properties }} background-color: {{- $color -}}; background-image: url({{- $thumbnail.RelPermalink -}})">
			<div>
				<h2>{{- .Title -}}</h2>
				<p>
				{{- if gt $gallery.albumCount 0 -}}
					{{- T "albumCount" (dict "count" ($gallery.albumCount | lang.FormatNumber 0) "photoCount" ($gallery.imageCount | lang.FormatNumber 0 | lang.Translate "photoCount")) -}}
				{{- else -}}
					{{- T "photoCount" ($gallery.imageCount | lang.FormatNumber 0) -}}
				{{- end -}}
				</p>
			</div>
			</a>
		</section>
	{{- end -}}
{{- end -}}
