{{- /*  
Displays a header with align options.


Arguments:
0 text = (String). Text of the header.
1 h = (int) Type of header for the tile (1 for h1, 2 for h2, 3 for h3, etc.). Default: 2 (h2)
2 align = (String) Text align of the header (options: "left", "right", "center"). Default: "center"
3 class = (String) CSS class for the header. Default: ""
4 id = (String) ID class for the header (useful for fragment link). Default: text (the header text)
5 color/c = (String) Color for the header. Default: Default header color

Use example:
{{< header "my-first-article, another-article" >}}
{{< header "my-first-article, another-article" "My favourite articles" 3 "left" >}}
{{< header title="my-first-article, another-article" title="My favourite articles" align="right" class="bloom-shadow" >}}
*/ -}}

{{- $title := or (.Get 0) (.Get "text") (.Get "t") -}}
{{- $header_number := or (.Get 1) (.Get "h") | default 2 -}}
{{- $text_align := or (.Get 2) (.Get "align") | default "center" -}}
{{- $css_class := or (.Get 3) (.Get "class") | default "" -}}
{{- $id := or (.Get 4) (.Get "id") | default $title -}}
{{- $color := or (.Get 5) (.Get "color") (.Get "c") -}}

{{- $id = $id | anchorize -}}

{{- $title = $title | markdownify}}

{{- $css_class_attr := "" -}}
{{- if $css_class -}}
	{{- $css_class_attr = (printf "class='%s'" $css_class) | safeHTMLAttr -}}
{{- end -}}

{{- $header_tag := printf "h%d" $header_number -}}

{{- $flex_align := "center" -}}
{{- if eq $text_align "right" -}}
	{{- $flex_align = "flex-end" -}}
{{- else if eq $text_align "left" -}}
	{{- $flex_align = "flex-start" -}}
{{- end -}}

{{- $style := (printf "text-align:%s; align-self:%s;" $text_align $flex_align) | safeCSS -}}
{{- with $color -}}
	{{- $style = (printf "%s color:%s;" $style . ) | safeCSS -}}
{{- end -}}
{{- /*  {{- $header_id := printf "id='%s'" ($title) -}}  */ -}}
{{- $header_id := printf "id='%s'" ($id) -}}
{{- $header := printf "<%s %s %s style='%s'>%s</%s>" $header_tag $css_class_attr $header_id $style $title $header_tag -}}
{{- $header | safeHTML -}}