{{/*  
Stacks 2 images and reveals the second one (img_hover) when hovering the image. Allows adding a link

Arguments:
img = Image.
img_hover = Image displayed when hovering.
url = url when clicking the image.
page = page when clicking the image.
t1 = Hovering time.
t2 = Un-Hovering time.
c0 = Color 0 (left). If set, it will have the same color for dark and light theme.
c1 = Color 1 (top). If set, it will have the same color for dark and light theme.
c2 = Color 2 (right). If set, it will have the same color for dark and light theme.
c0_dark = Color 0 for DARK theme. Default: Main web color.
c1_dark = Color 1 for DARK theme. Default: Main web color.
c2_dark = Color 2 for DARK theme. Default: Main web color.
c0_light = Color 0 for LIGHT theme. Default: Main web color.
c1_light = Color 1 for LIGHT theme. Default: Main web color.
c2_light = Color 2 for LIGHT theme. Default: Main web color.
fit = Optimize the image to fit X pixels. Default: ""/false (No fit/optimization)

Example:
{{< images_hover_link img="cover.png" img_hover="cover_hover.png" page="about" t1=1s t2=5s >}}
*/}}


{{- $img := (or (.Get 0) (.Get "img")) -}}
{{- $img_hover := (or (.Get 2) (.Get "img_hover")) -}}
{{- $url := (or (.Get 3) (.Get "url")) | default "" -}}
{{- $page_name := (or (.Get 4) (.Get "page")) | default "" -}}
{{- $time_hover := (or (.Get "t1")) -}}
{{- $time_out := (or (.Get "t2")) -}}
{{- $c0 := (or (.Get 5) (.Get "c0")) -}}
{{- $c1 := (or (.Get 6) (.Get "c1")) -}}
{{- $c2 := (or (.Get 7) (.Get "c2")) -}}
{{- $size_fit := (.Get "fit") | default false -}}

{{- $fit := "" -}}
{{- if $size_fit -}}
	{{- $fit = printf "fit %dx%d" $size_fit $size_fit -}}
{{- end -}}

{{- $img_link := $img -}}
{{- $img_resource := or (resources.Get $img) (.Page.Resources.Get $img) -}}
{{- if $img_resource -}}
	{{- if $size_fit -}}
		{{- /*  {{- $img_resource = $img_resource.Filter (images.Process "fit 250x250") -}}  */ -}}
		{{- $img_resource = $img_resource.Filter (images.Process $fit ) -}}
	{{- end -}}
	{{- $img_link = $img_resource.RelPermalink -}}
{{- end -}}

{{- $img_hover_link := $img_hover -}}
{{- $img_hover_resource := or (resources.Get $img_hover) (.Page.Resources.Get $img_hover) -}}
{{- if $img_hover_resource -}}
	{{- if $size_fit -}}
		{{- $img_hover_resource = $img_hover_resource.Filter (images.Process $fit ) -}}
	{{- end -}}
	{{- $img_hover_link = $img_hover_resource.RelPermalink -}}
{{- end -}}



{{- /*  {{- $c0_dark := (or (.Get 5) (.Get "c0_dark")) -}}
{{- $c1_dark := (or (.Get 6) (.Get "c1_dark")) -}}
{{- $c2_dark := (or (.Get 7) (.Get "c2_dark")) -}}
{{- $c0_light := (or (.Get 5) (.Get "c0_light")) -}}
{{- $c1_light := (or (.Get 6) (.Get "c1_light")) -}}
{{- $c2_light := (or (.Get 7) (.Get "c2_light")) -}}  */ -}}

{{- $style_variables := "" -}}
{{- /*  Colors  */ -}}
{{- /*  {{- range $index, $value := (seq 0 2) -}}  */ -}}
{{- /*  {{- range $index, $value := (seq 0 2) -}}  */ -}}
{{- range $index, $value := (seq 3) -}}
	{{- $_color := $.Get (print "c" $index) -}}
	{{- $_color_dark := $.Get (print "c" $index "_dark") -}}
	{{- $_color_light := $.Get (print "c" $index "_light") -}}

	{{- if $_color -}}
		{{- /*  {{- $style_variables = printf "%s --pfp-color-%d:%s;" $style_variables $index $_color -}}  */ -}}
		{{- /*  {{- $style_variables = printf "%s --pfp-color-%d-dark:%s; --pfp-color-%d-light:%s;" $style_variables $index $_color $index $_color -}}  */ -}}
		{{- $style_variables = printf "%s --pfp-color-%d-dark:%s; --pfp-color-%d-light:%s;" $style_variables $index $_color $index $_color -}}
	{{- else -}}
		{{- if $_color_dark -}}
			{{- $style_variables = printf "%s --pfp-color-%d-dark:%s;" $style_variables $index  $_color_dark -}}
		{{- end -}}
		{{- if $_color_light -}}
			{{- /*  {{- $style_variables = printf "%s --pfp-color-%d-light:%s;" $style_variables $index $_color_light -}}  */ -}}
			{{- $style_variables = printf "%s --pfp-color-%d-light:%s;" $style_variables $index $_color_light -}}
		{{- end -}}
	{{- end -}}
{{- end -}}

{{- /*  Time  */ -}}
{{- if $time_hover -}}
	{{- $style_variables = printf "%s --time-img-reveal-hover:%s;" $style_variables $time_hover -}}
{{- end -}}
{{- if $time_out -}}
	{{- $style_variables = printf "%s --time-img-reveal-out:%s;" $style_variables $time_out -}}
{{- end -}}

{{- $link := "" -}}
{{- if $url -}}
	{{- $link = $url -}}
{{- end -}}
{{- if $page_name -}}
	{{- $link = ref . $page_name -}}
{{- end -}}

{{- if not $img_hover -}}
	{{- $img_hover = $img -}}
{{- end -}}

<a id="" class="hover-reveal-2-images" {{- if $link -}} href='{{- $link -}}' {{- end -}}>
	<div class="half-border-radius pfp-border-colors" style="{{- $style_variables | safeCSS -}}">
		<img src="{{- $img_link -}}">
		{{- if $img_hover -}}
			<img src="{{- $img_hover_link -}}">
		{{- end -}}
	</div>
</a>
