{{- /*  
Renders a styled link inside a <span> element with optional background color and custom class.

Arguments:
0 / page / url = (string) The target link. Can be a relative path to a page or an absolute URL.
1 / text = (string) The text to display inside the link.
2 / color / c = (string) Optional background color (applied via CSS variable --link-bg-color).
3 / class = (string) Optional additional CSS classes applied to the outer <span> element.

Usage:
{{< linkbox "/about" "About Us" >}}
{{< linkbox url="/blog" text="Visit Blog" color="#ff0" class="highlighted" >}}

If the URL corresponds to an internal page, it is automatically resolved to its relative permalink.

*/ -}}

{{- $link := or (.Get 0) (.Get "page") (.Get "url") -}}
{{- $text := or (.Get 1) (.Get "text") -}}
{{- $color_bg := or (.Get 2) (.Get "color") (.Get "c") | default false -}}
{{- $class := or (.Get 3) (.Get "class") -}}

{{- $url := $link -}}
{{- $_page := .Site.GetPage $url -}}
{{- if $_page -}}
	{{- $url = $_page.RelPermalink -}}
{{- end -}}

{{- /*  {{- $url := (.Site.GetPage $link).RelPermalink -}}  */ -}}



<span class="link-box-color{{ with $class }} {{ . }} {{- end -}}"
{{- with $color_bg -}} style="--link-bg-color: {{ . }};" {{- end -}}
>
	<a class="" href="{{- $url -}}">{{- $text -}}</a>
</span> 