{{/*  
Returns a link only with an underline that turns into the active color when hoverint.
Useful when you want links that do not call much the attention

Use:
{{< link_underline [url] [optionl text]>}}

Example:
{{< link_underline "www.google.com">}}
{{< link_underline "www.google.com" "Visit Google">}}
  */}}

{{ $url := .Get 0 }}
{{ $text := .Get 1 }}

{{ $css_class := "link-underline" | safeHTML}}

{{ if $text }}
  <a href="{{$url}}" class="{{$css_class}}">{{$text}}</a>
{{ else }}
  <a href="{{$url}}" class="{{$css_class}}">{{$url}}</a>
{{ end }}
