<!-- reset scratch variables at the start -->

{{- $url := or (.Get "url") (.Get 0) -}}
{{- $cover := or (.Get "cover") (.Get 1) -}}
{{- $title := or (.Get "title") (.Get 2) -}}
{{- $subtitle := or (.Get "subtitle") (.Get 3) | default "" -}}
{{- $url_text := or (.Get "url_text") (.Get 4) | default $url -}}
{{- $background_color := or (.Get "color") (.Get "c") (.Get 5) | default "" -}}
{{- $background_position := or (.Get "cover_position") (.Get "position") (.Get 6) | default "" -}}

{{- $url_link := $url -}}
{{- $cover_link := $cover -}}


{{- $style_content := "" -}}
{{- if $background_color -}}
  {{- $style_content = print $style_content "--background-color:" $background_color ";" -}}
{{- end -}}
{{- if $background_position -}}
  {{- $style_content = print $style_content "--image-position:" $background_position ";" -}}
{{- end -}}


<figure class="link-card" {{- with $style_content -}} style="{{. | safeCSS}}" {{- end -}}>
  <a href="{{$url_link}}" target="_blank" rel="noopener noreferrer">
    <div class="image" style="background-image: url('{{$cover_link}}')">
    </div>
    <div class="details">
      <h2 class="title">{{$title}}</h2>
      {{- with $subtitle -}}
        <h3 class="description">{{.}}</h3>
      {{- end -}}
      <p class="url">{{$url_text}}</p>
    </div>
  </a>
</figure>