{{/*  <{{ .Get "tag" }} class='{{ .Get "class" }}'>{{ .Get "text" }}</{{ .Get "tag" }}>  */}}
{{/*  <{{ .Get "tag" | safeHTMLAttr }} class="{{ .Get "class" | safeHTMLAttr }}">{{ .Get "text" | safeHTMLAttr }}</{{ .Get "tag" | safeHTMLAttr }}>  */}}
{{/*  <{{ .Get "tag" | safeHTMLAttr }} class="{{ .Get "class" | safeHTMLAttr }}">{{ .Get "text" | safeHTMLAttr }}</{{ .Get "tag" | safeHTMLAttr }}>  */}}
{{/*  <{{ .Get "tag" }} class="{{ .Get "class" }}">{{ .Get "text" }}</{{ .Get "tag" }}>  */}}


{{/*  <{{.Get "tag"}}>{{.Get "text"}}</{{.Get "tag"}}>  */}}
	{{/*  <div>{{.Get "text"}}</div>  */}}
	{{/*  <div>hola</div>  */}}
	{{/*  {{ <div>hola</div> | safeHTMLAttr }}  */}}
	
	
	{{/*  <{{ .Get "tag" | safeHTMLAttr }}>{{ .Get "text" | safeHTMLAttr }}</{{ .Get "tag" | safeHTMLAttr }}>  */}}








{{/*  <{{ .Get "tag" }}>{{ .Get "text" }}</{{ .Get "tag" }}>  */}}
<{{ .Get "tag" | safeHTMLAttr }}>{{ .Get "text" | safeHTMLAttr }}</{{ .Get "tag" | safeHTMLAttr }}>
{{/*  <{{ .Get "tag" }}>{{ .Get "text" }}</{{ .Get "tag" }}>  */}}
{{/*  <strong>{{ .Get "text" }}</strong>  */}}


{{/*  <div>{{ .Get "text" }}</div>  */}}
{{/*  <p>{{ .Get "text" }}</p>  */}}
{{/*  <span style="background-color:'#990011'">{{ .Get "text" }}</span>  */}}


